---
---
.h4ckademy a {
    color: #097CA0;
}

.h4ckademy h1 {
    font-size: 36px;
}

.h4ckademy h2 {
    font-size: 30px;
}

.h4ckademy h3 {
    font-size: 24px;
}

.h4ckademy h4 {
    font-size: 18px;
}

.h4ckademy a:hover,
.h4ckademy a:focus,
.h4ckademy ul li:hover a {
    color: #097CA0;
}
