#logo_traced {
    width:100%;
    height:180px;
}

#logo,
#loading_logo {
    width:60%;
    height:100px;
    max-width:150px;
    position:absolute;
    display:block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display:block;
    margin:0 auto;
    opacity:.3;
}

#logo2,
#loading_logo2{
    width:60%;
    max-width:150px;
    position:absolute;
    display:block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display:block;
    margin:0 auto;
    opacity:0;
}

