/* GLOBAL STYLES
-------------------------------------------------- */
body {
  padding-right: 0px !important;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow:0 0 1px transparent;
  text-rendering:optimizeLegibility;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  position: relative;
}

/* General Styles
-------------------------------------------------- */

.bg_color_1 {
  background-color: #1E7591;
  padding:40px 0 150px;
  color: white;
}

.bg_black{
  background-color: #000;
  height: 150px;
}

.bg_color_2 {
  background-color: #f9f9f9;
  padding-bottom: 150px;
}

.bg_color_3 {
  background-color: #042935;
  padding: 25px;
  color: white;
}


.color-primary {
  color:#CCC;
}

.color-one {
  color:#077CA0;
}
.color-two {
  color:#FFF;
font-size:14px;
font-weight:500;
}

.color-two:hover {
  background-color:#077CA0;
}

.white{
  color:#fff;
}


.italic {
  font-style: italic;
  }

.bold {
  font-weight: 700;
}  

.semibold{
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.container .light{
  line-height: 1.4;
}

.uppercase {
  text-transform:uppercase;
}


.left20{
  margin-left: 20px;
}

.top100{ 
  margin-top: 100px;
}
.top90{ 
  margin-top: 90px;
}

.top70{
  margin-top: 70px;
}

.top60{
  margin-top: 60px;
}

.top30 {
  margin-top:30px;
}

.top20 {
  margin-top:20px;
}

.down100{
  margin-bottom: 100px;
}

.down70{
  margin-bottom: 70px;
}

.down60{
  margin-bottom: 60px;
}

.down30{
  margin-bottom: 30px;
}

.down20{
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  
  h1 {
    font-size:14px !important;
  }
  h2 {
    font-size:20px;
  }
  h3 {
    font-size:20px !important;
  }
  h3 br {
    display:none;
  }
  p {
    font-size: 16px !important;
  }

  .btn {
    font-size:12px !important;
  }
  
  .left20{
    margin-left: 10px;
  }

  .top100{ 
    margin-top: 50px;
  }

  .top90{ 
    margin-top: 50px;
  }

  .top20 {
    margin-top:10px;
  }

  .down100{
    margin-bottom: 50px;
  }

  .down70{
    margin-bottom: 40px;
  }

  .down20{
    margin-bottom: 10px;
  }
  
}



/* Header
-------------------------------------------------- */
nav {
  background-color:#fff;
  top:-200px;
  opacity:0;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  transition:top .2 ease;
  -webkit-transition: top .3s ease;
    -o-transition: top .3s ease;
    transition: top .3s ease;
}


.firstfold {
  margin-top:70px !important;
}


.jumbotron {
  padding: 30px 15px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
  right:0;left:0;top:0;bottom:0;
  overflow:hidden;
  background: #333 url('../images/bg.jpg') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  height: 780px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    
  .jumbotron {
    /* Reference the @2x Sprite */
    background-image: url('../images/bg@2x.jpg');
    /* Translate the @2x sprite's dimensions back to 1x */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    }
}

.jumbotron_small{
  height: 500px;
}

#logo {
  max-width: 150px;
  margin-bottom: 40px;
}

#brands{
  max-width: 900px;
  opacity: 0.85;
  margin-top: 90px
}

#brands p {
  font-size:16px;
  font-weight:600;
  opacity:.5;
}

@media (max-width: 768px)  {
    
    .firstfold {
    margin-top:20px !important;
    }

    .jumbotron {
    background: #0F3B49;
    height:auto;
    padding: 30px 0 60px 0 !important;
    }
    .jumbotron h2 {
    margin-bottom:10px;
    font-size: 20px;
    }
    .jumbotron #logo img {
    width:70%;
    }

}

/* Nav Bar
-------------------------------------------------- */

.show {
  opacity:1;
}

.navbar-brand img{
  max-width:200px; 
  margin-top: -15px;
}


@media (max-width: 992px){
    .navbar-brand img{
    max-width:150px; 
    margin-top: -9px
  }
}


#btn-nav{
  padding-left: 15px;
}

@media (min-width: 768px) and (max-width: 992px){
    
    #btn-nav{
    padding-left: 3px;
    }
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    padding:10px 0;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}



/* About
-------------------------------------------------- */

.about {
  border-bottom:1px solid #eee;
  padding-bottom:120px;
  padding-bottom:0px;
  background: background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(249,249,249,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(249,249,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9', GradientType=0 );
  }


@media (min-width: 1201px){

      .about .pbandcc {
        background: transparent url('../images/devices_scifabric.png') no-repeat bottom center; 
        padding-bottom:675px;
      }
}

@media (min-width: 992px) and (max-width: 1200px){

        .about .pbandcc {
        background: transparent url('../images/devices_scifabric_950.png') no-repeat bottom center; 
        padding-bottom:550px;
      }

}

@media (min-width: 768px) and (max-width: 991px){

        .about .pbandcc {
        background: transparent url('../images/devices_scifabric_750.png') no-repeat bottom center; 
        padding-bottom:450px;
      }

}


@media (max-width: 768px){
  
    .about h1{
      margin-top: 70px;
    }

    .about p {
    font-size: 22px;
    }

    .about .pbandcc {
    background: none; 
    padding-bottom:40px;
    }

  }

@media (max-width: 991px){
     
     .about br {
      display:none;
      }
}

/* Case studies
-------------------------------------------------- */

.case_studies {
  padding-bottom: 120px;
}
.case_studies h4 {
  margin: 25px 10px 15px 10px;
  font-size:22px;
}

.case_studies p {
  margin: 0 10px 10px 10px;
  font-size:15px;
  color:#999;
}

.case_studies_link {
  margin: 15px 0px 15px 10px;
  font-weight:400;
  font-size:16px;
}

.case_studies p.summary {
  font-weight:400;
  font-size:16px;
  color:#666;
}

@media (max-width: 768px)  {

    .case_studies p {
    font-size: 15px !important;
    }

    .case_studies .col-xs-10 {
    text-align:center;
    padding:0;
    margin-top: 20px;
    }
} 


/* Who need us
-------------------------------------------------- */

.who_need_us {
  background: #f9f9f9 url('../images/triangles_bg.png') repeat top fixed;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    
  .who_need_us {
    /* Reference the @2x Sprite */
    background: #f9f9f9 url('../images/triangles_bg@2x.png') repeat top fixed;
    /* Translate the @2x sprite's dimensions back to 1x */
    background-size: 450px; 
    }
}


.who_need_us p,
.contact p {
  font-size:20px;
}

.who_need_us .col-md-6,
.contact .col-md-6 {
  margin-top: 20px;
}

@media (max-width: 768px){
  
    .who_need_us h1{
      margin-top: 70px;
    }
}


/* Clients
-------------------------------------------------- */

.client {
  background-color:#fff;
  padding:30px;
  margin-top:20px;
  border-radius:3px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);

}

@media (min-width: 991px){
     .client {
        min-height: 470px;
      }
}

@media (max-width: 990px){
     .client {
        min-height: 350px;
      }
}

.client p.role {
  color:#999;
  font-size:14px;
  font-weight:500;
}

.client p.quote {
  color:#666;
  font-size:16px;
  font-weight:400;
}

blockquote {
  border:0;
  font-size:15px;
  margin-top:20px;
}

@media (max-width: 768px)  {

  .quotes blockquote {
    font-size:15px;
  }
}

.client h4 {
  font-size:20px;
  margin-top:20px;
}
.client img {
  margin:15px 20px 0px 15px;
  width:80px;
  float: left;
}

@media (max-width: 550px){
   
    .client img {
      margin: auto;
      float: none;
    }

    .caption h4 ,
    .role{
      text-align: center;
    }

}

.bqstart {
  float: left;
  height: 65px;
  margin-top: -38px;
  margin-left: -45px;
  font-size: 600%;
  color: #DDDDDD;
}

.bqend {
  float: right;
  height: 25px;
  margin-top: -30px;
  margin-right:-40px;
  font-size: 500%;
  color: #DDDDDD;
}


.quotes .row {
    display: table;
}

.client .col-md-5 {
    float: none;
    display: table-cell;
    vertical-align: top;
}


/* Contact
-------------------------------------------------- */

.contact{
  padding-bottom: 150px;
}

.contact h4{
  font-weight: 500;
}

@media (max-width: 768px){
  .contact .col-md-6 {
      margin-top: 50px;
      text-align: center;
  }
}

/* Tailoring
-------------------------------------------------- */

.tailoring {
  background: #0B4253 url('../images/triangles_bg2.png') repeat top fixed;
}

  .tailoring {
    /* Reference the @2x Sprite */
    background: #0B4253 url('../images/triangles_bg2@2x.png') repeat top fixed;
    /* Translate the @2x sprite's dimensions back to 1x */
    background-size: 450px; 
    }
}

.tailoring h4 {
  font-size:22px;
  font-weight:600;
  margin-top:20px;
}
.tailoring p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 25px;
}

.tailoring .col-md-4 {
  margin-top: 30px;
}

.tailor-icons{
width: 112px;
}

@media (max-width: 768px)  {

  .tailoring img {
    width:45%;
  }
}

@media (max-width: 970px) {
  
  .tailoring .col-md-4 {
      margin-top: 50px;
  }
}



/* Team
-------------------------------------------------- */

.crew_profile {
  background-color:#fff;
}
.crew_profile.container {
  padding:0;
}
.crew_profile img {
  display:inline-block;
}


/* Footer
-------------------------------------------------- */


footer {
  background-color:#0B4253;
  color:#fff;
  padding:100px 0 60px ;
  margin:0;
}

footer p{
  font-size: 20px;
  color: #fff;
}

footer a{
  color: rgba(255, 255, 255, .65);
}
footer a:hover{
  color: rgba(255, 255, 255, 1);
}

#icons-rrss{
  margin-left: 0px;
  margin-right: 10px;
}
 

footer .logo_horiz {
    width:35%;
    margin-bottom:10px;
  }

footer .logo_sf {
    width:35%;
    margin-bottom:10px;
    opacity: .7;
  }

@media (max-width: 768px){

footer .logo_horiz {
    width:60%;

  }

footer .logo_sf {
    width:60%;
    opacity: .7;
  }

}

   footer .logo_sf:hover {
    opacity: 1;
  }

@media (max-width: 768px){
  
  .social-media {
      margin-bottom:50px;
      margin-top: 20px;
      text-align: center;
  }
  #icons-rrss{
      margin: 20px;
      font-size: 30px;
  }
     
  
}

/* Go to top btn
-------------------------------------------------- */

#go-to-top {
  position:fixed;
  display:block;
  background-color:#fff;
  right:40px;
  border-radius:4px 4px 0 0;
  bottom:-90px;
  -webkit-box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px -1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px -1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: bottom .2 ease;
  -webkit-transition: bottom .3s ease;
    -o-transition: bottom .3s ease;
    transition: bottom .3s ease;
}
#go-to-top.none {
  bottom:0;
}
#go-to-top a {
  display:inline-block !important;
  padding:13px 15px 10px 15px;
}
#go-to-top a:hover {
  padding:13px 15px 22px 15px;
}
#go-to-top a:hover,
#go-to-top a:focus,
#go-to-top a:active {
  text-decoration:none;
}

/* 
--------------------------------------------------
--------------------------------------------------
British Museum
--------------------------------------------------
-------------------------------------------------- */
.navbar-toggle-BM {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
}
.navbar-toggle-BM .icon-bar {
  background-color: #fff;
}

#navbar-BM{
  background-color: #000;
}

.btn-header-BM {
  color: #fff;

  border-color: #fff;
  background-color: rgba(0,0,0,.03);
  border-width:1;
  font-weight:500;
  font-size:13px;
  text-transform: uppercase;
  margin:7px 0 0 12px;
  padding:8px 18px !important;
}
.btn-header-BM:hover,
.btn-header-BM:focus,
.btn-header-BM:active,
.open > .dropdown-toggle.btn-header-BM {
  color: #000;
  background-color: #fff;
  border-width:1;
  text-decoration:none;
}

.jumbotron-BM {
  padding: 30px 15px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
  right:0;left:0;top:0;bottom:0;
  overflow:hidden;
  background: #333 url('../images/bg-BM.png') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  height: 550px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    
  .jumbotron-BM {
    /* Reference the @2x Sprite */
    background-image: url('../images/bg-BM@2x.png');
    /* Translate the @2x sprite's dimensions back to 1x */
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
    }
}

#logo-BM {
  margin-top: 110px;
  max-width: 500px;
  margin-bottom: 100px;
}

#brands-BM{
  max-width: 600px;
  opacity: 0.85;
}

.about-BM{
  padding-bottom: 60px;
}

.h1-BM{
  font-size: 18px;
  font-weight: 400;
}

.h3-BM{
  font-size: 32px;
}

.color-BM{
  color: #BE935D;
}

.grey-BM{
  color: #5a5a5a;
}

.btn-BM {
  color: #BE935D;
  border-color: #BE935D;
  background-color: rgba(255,255,255,0);
  border-width:2px;
}
.btn-BM:hover,
.btn-BM:focus,
.btn-BM.focus,
.btn-BM:active,
.btn-BM.active {
  color: #fff;
  background-color: #BE935D;
  border-color: #BE935D;
  text-decoration:none;
}

.btn-BM-2 {
  color: #fff;
  border-color: #fff;
  background-color: rgba(255,255,255,0);
  border-width:2px;
    -webkit-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.btn-BM-2:hover,
.btn-BM-2:focus,
.btn-BM-2.focus,
.btn-BM-2:active,
.btn-BM-2.active {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  text-decoration:none;
}



.BM-method {
  color: #BDBDBD;
  background: #333 url('../images/London.png') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  padding-bottom: 100px;
  height: auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    
  .BM-method {
    /* Reference the @2x Sprite */
    background-image: url('../images/London@2x.png');
    /* Translate the @2x sprite's dimensions back to 1x */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}

.BM-method a{
  color: #bdbdbd;
  text-decoration: underline;
}

.BM-method a:hover{
  color: #fff;
  text-decoration: underline;
}


.method-icon{
width: 130px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-open {
  overflow-y: auto;
}

.modal-logo{
  width: 300px;
  margin-top:30px;
}

@media (max-width: 768px){
  .modal-logo{
  max-width: 260px;
  }
}

.modal-title{
  color: #BE935D;
  font-size: 22px;
}

.modal-img{
  width: 75%;
  display: block;
  margin: 20px auto 20px auto;
}


.projectdescription{
  margin-top: 40px;
}

.bg_color_BM {
  background-color: #f7f7f7;
  padding-bottom: 60px;
}

.contact-BM{
  color: #BDBDBD;
background: #333 url('../images/coins.png') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  padding-bottom: 100px;
  height: auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-resolution: 1dppx) {
    
  .contact-BM {
    /* Reference the @2x Sprite */
    background-image: url('../images/coins@2x.png');
    /* Translate the @2x sprite's dimensions back to 1x */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    .BM-contact-Link{
      margin-top: 15px;
      color: white;
      text-decoration: underline;
    }

 .BM-contact-Link:hover{
      color: white;
      text-decoration: underline;
    }

     
 .BM-footer{
   background-color: #000;
 }
}
/************************************* 
*************  NUMBERS  **************
**************************************/
.bignumber{
      color: #BE935D;
      font-weight: 100;
}

.number{
       color: #BE935D;
       font-weight: 200;
     }


@media (max-width: 767px){
  
  .bignumber{
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 0px;
      text-align: center;
    }

    .number{
       color: #BE935D;
      padding-left: 40px;
      text-align: center;
    }

}



@media (min-width: 768px) and (max-width: 991px){

    .number{
      margin-left: 35px;
    }

    .bignumber{
      font-size: 55px;
    }

    .bignumber span{
      font-size: 40px;
    }

    .middle-number{
    margin-left: 0px;
    padding-left: 30px;
    }

    .last-number{
    padding-left: 100px;
    }

  }

@media (min-width: 1200px) {

    .number{
      margin-left: 0px;
      margin-left: 50px;
    }

    .bignumber{
      font-size: 85px;
      margin-bottom: 0px;
    }

    .bignumber span{
      font-size: 40px;
    }

    .first-number{
    padding-left: 20px;
    }

    .middle-number{
    margin-left: 0px;
    padding-left: 80px;
    }

    .last-number{
    padding-left: 80px;
    }

  }

 @media (min-width: 992px) and (max-width: 1199px){

      .number{
      margin-left: 55px;
      }

      .bignumber{
      font-size: 65px;
      margin-bottom: 0px;
      }

      .bignumber span{
      font-size: 50px;
      }

      .first-number,
      .middle-number,
      .last-number{
        margin-top: 10px;
      }

      .first-number{
      padding-left: 25px;
      }

      .middle-number{
      padding-left: 60px;

      }

      .last-number{
      padding-left: 50px;
      }

  }

/************************************* 
***********  Responsive BM  **********
**************************************/




@media (max-width: 991px){

    .no-br-small br{
      display: none;
    }

}


@media (max-width: 768px){

.contact-BM h4{
  margin-top: 30px;
}

#logo-BM {

  margin-top: 200px;}

  .photo-mask{
    margin-top: 30px;
  }

  .jumbotron-BM {
  padding: 30px 15px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
  right:0;left:0;top:0;bottom:0;
  overflow:hidden;
  background: #333 url('../images/bg-BM.png') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  height: 400px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    
  .jumbotron-BM {
    /* Reference the @2x Sprite */
    background-image: url('../images/bg-BM@2x.png');
    /* Translate the @2x sprite's dimensions back to 1x */
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
    }
}

#logo-BM {
  margin-top: 130px;
}


}


.btn-link-BM {
  font-weight: normal;
  color: #BE935D;
  border-radius: 0;
}
.btn-link-BM,
.btn-link-BM:active,
.btn-link-BM.active,
.btn-link-BM[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link-BM,
.btn-link-BM:hover,
.btn-link-BM:focus,
.btn-link-BM:active {
  border-color: transparent;
}
.btn-link-BM:hover,
.btn-link-BM:focus {
  color: #BE935D;
  text-decoration: none;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}


.btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}


