/* GLOBAL STYLES
-------------------------------------------------- */
body {
  padding-right: 0px !important;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow:0 0 1px transparent;
  text-rendering:optimizeLegibility;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  position: relative;
}

/* General Styles
-------------------------------------------------- */


.bg_black{
  background-color: #000;
  height: 150px;
}

.bg_color_2 {
  background-color: #f9f9f9;
  padding-bottom: 150px;
}

.bg_color_3 {
  background-color: #042935;
  padding: 25px;
  color: white;
}


.color-primary {
  color:#CCC;
}

.color-one {
  color:#077CA0;
}

.color-one-light{
   color: #3B9BB9;
}

.color-two {
  color:#FFF;
font-size:14px;
font-weight:500;
}

.color-two:hover {
  background-color:#077CA0;
}

.white{
  color:#fff;
}


.italic {
  font-style: italic;
  }

.bold {
  font-weight: 700;
}  

.semibold{
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.container .light{
  line-height: 1.4;
}

.uppercase {
  text-transform:uppercase;
}


.left20{
  margin-left: 20px;
}

.top100{ 
  margin-top: 100px;
}
.top90{ 
  margin-top: 90px;
}

.top70{
  margin-top: 70px;
}

.top60{
  margin-top: 60px;
}

.top30 {
  margin-top:30px;
}

.top20 {
  margin-top:20px;
}

.down100{
  margin-bottom: 100px;
}

.down70{
  margin-bottom: 70px;
}

.down60{
  margin-bottom: 60px;
}

.down50{
  margin-bottom: 50px;
}

.down30{
  margin-bottom: 30px;
}

.down20{
  margin-bottom: 20px;
}

.btn{
      font-weight: 600;
      border-radius: 50px;
}

.btn-sm{
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
}

.btn-info {
    color: #fff;
    border-color: rgba(255,255,255,.4);
    background-color: rgba(255,255,255,0);
    border-width: 2px;
}

.btn-explain{
    color: #5a5a5a;
    font-size: 15px;
    text-decoration: none;
    font-weight: 300;
    background: #ECEDEF;
}

@media (max-width: 768px) {
  .btn-explain{
      width: 40%;
      margin-top: 10px;
  }
}

@media (max-width: 440px) {
  .btn-explain{
      width: 65%;
      margin-top: 10px;
  }
}



.btn-explain:hover{
  text-decoration: none;
  color: #5a5a5a;
  background: #D4D8DC;
}


.btn-info-2 {
  color: #077CA0;
  border-color: rgba(7,124,160,.6);
  background-color: rgba(255,255,255,0);
  border-width:2px;
  font-weight:600;
}
.btn-info-2:hover,
.btn-info-2:focus,
.btn-info-2.focus,
.btn-info-2:active,
.btn-info-2.active,
.open > .dropdown-toggle.btn-info-2 {
  color: #FFF !important;
  background-color: rgba(7,124,160,1);
  border-color: rgba(7,124,160,1);
  text-decoration:none;
}

h3{
  font-size: 
}

@media (max-width: 768px) {
  
  h1 {
    font-size:14px !important;
  }
  h2 {
    font-size:20px;
  }
  h3 {
    font-size:20px !important;
  }
  h3 br {
    display:none;
  }
  p {
    font-size: 16px !important;
  }

  .btn {
    font-size:12px !important;
  }
  
  .left20{
    margin-left: 10px;
  }

  .top100{ 
    margin-top: 50px;
  }

  .top90{ 
    margin-top: 50px;
  }

  .top20 {
    margin-top:10px;
  }

  .down100{
    margin-bottom: 50px;
  }

  .down70{
    margin-bottom: 40px;
  }

  .down20{
    margin-bottom: 10px;
  }
  
}



/* Header
-------------------------------------------------- */



.firstfold {
  margin-top:70px !important;
  margin-bottom: 60px;
}


.jumbotron {
  padding: 30px 15px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
  right:0;left:0;top:0;bottom:0;
  overflow:hidden;
  background: #0F3B49 url('../images/bg.png') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  height: auto;
}

.jumbotron h2 {
  font-size: 46px;
  color:#fff;
  margin-bottom:20px;
  margin-top: 50px;
}


.jumbotron_small{
  height: 500px;
}

.jumbotron-xs {
    height: 200px;
}

.jumbotron-cookies {
    background: #333 url("../images/cookies.jpg") no-repeat fixed center top / cover;
}

.jumbotron-blog {
    background: #333 url("../images/blog.jpg") no-repeat fixed center top / cover;
    height: 600px;
}

.jumbotron-blog > .container > .title {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    
  .jumbotron {
    /* Reference the @2x Sprite */
    background-image: url('../images/bg@2x.png');
    /* Translate the @2x sprite's dimensions back to 1x */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    }
}



#logo {
  max-width: 150px;
  margin-bottom: 40px;
}

#brands{
  max-width: 900px;
  opacity: 0.85;
}

#brands p {
  font-size:26px;
  font-weight:600;
  text-align:center;
}

@media (max-width: 768px)  {
    
    .firstfold {
    margin-top:20px !important;
    }

    .jumbotron {
    height:auto;
    padding: 30px 0 60px 0 !important;
    }
    .jumbotron h2 {
    margin-bottom:10px;
    font-size: 38px;
    }
    .jumbotron #logo img {
    width:70%;
    }

}

@media (max-width: 360px) {
    .jumbotron h2 {
    font-size: 28px;
    }
}

/* Nav Bar
-------------------------------------------------- */
nav {
  background-color: transparent;
}

nav a{
  color: #fff;
}


.show {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  transition: .2 ease;
  -webkit-transition:  .3s ease;
    -o-transition: .3s ease;
    transition:  .3s ease;
}

.show a{
  color: #999;
}

.show li:hover a{
    color: #077CA0;
}

.navbar-brand img{
  max-width:200px; 
  margin-top: -15px;
}

.btn-header {
  color: #fff !important;
  border-color: rgba(255,255,255,1);
  background-color: rgba(255,255,255,0.4);
  border-width:0;
  font-weight:500;
  font-size:13px;
  text-transform: uppercase;
  margin:7px 0 0 12px;
  padding:8px 18px !important;
}
.btn-header:hover,
.btn-header:focus,
.btn-header:active,
 .open > .dropdown-toggle.btn-header {
  color: #FFF !important;
  background-color: rgba(7,124,160,1);
  border-width:0;
  text-decoration:none;
}


.show .btn-header {
  color: rgba(7,124,160,1) !important;
  border-color: rgba(7,124,160,.7);
  background-color: rgba(0,0,0,.03);
  border-width:0;
  font-weight:500;
  font-size:13px;
  text-transform: uppercase;
  margin:7px 0 0 12px;
  padding:8px 18px !important;
}
.show .btn-header:hover,
.show .btn-header:focus,
.show .btn-header:active,
.show .open > .show .dropdown-toggle.btn-header {
  color: #FFF !important;
  background-color: rgba(7,124,160,1);
  border-width:0;
  text-decoration:none;
}

.definitions {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 992px){
    .navbar-brand img{
    max-width:150px; 
    margin-top: -9px
  }
}


#btn-nav{
  padding-left: 15px;
}

@media (min-width: 768px) and (max-width: 992px){
    
    #btn-nav{
    padding-left: 3px;
    }
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    padding:10px 0;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}



/* About, What is sections
-------------------------------------------------- */

.what-is, .case_studies, .tailoring  {  
  padding-bottom:90px;
}

.case_studies{
    padding-bottom:60px;
    color: inherit;
    overflow: hidden;
    background: #fafafa url('../images/dark-flare.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}


.about {
  padding-bottom:60px;
  background-color: #FAFAFA;
  }

.education {  
    padding-bottom:60px;
    color: inherit;
    overflow: hidden;
    background: #fafafa url('../images/light-flare.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}


.education-icon {
    margin-bottom: 5px;
    width: 50px;
}

@media (min-width: 1201px){

      .about .pbandcc {
        background: transparent url('../images/devices_scifabric.png') no-repeat bottom center; 
        padding-bottom:675px;
      }
}

@media (min-width: 992px) and (max-width: 1200px){

        .about .pbandcc {
        background: transparent url('../images/devices_scifabric_950.png') no-repeat bottom center; 
        padding-bottom:550px;
      }

}

@media (min-width: 768px) and (max-width: 991px){

        .about .pbandcc {
        background: transparent url('../images/devices_scifabric_750.png') no-repeat bottom center; 
        padding-bottom:450px;
      }

}


@media (max-width: 768px){
  
    .about h1{
      margin-top: 70px;
    }

    .about p {
    font-size: 22px;
    }

    .about .pbandcc {
    background: none; 
    padding-bottom:40px;
    }

  }

@media (max-width: 991px){
     
     .about br {
      display:none;
      }
}

/* Case studies
-------------------------------------------------- */



.case_studies h4 {
  margin: 25px 10px 15px 10px;
  font-size:22px;
}

.case-study-cover  .btn{
  margin-top: 20px;
}


.case_studies p.summary {
  font-weight:400;
  font-size:16px;
  color:#666;
}

@media (max-width: 768px)  {

    .case_studies p {
    font-size: 15px !important;
    }

    .case_studies .col-xs-10 {
    text-align:center;
    padding:0;
    margin-top: 20px;
    }
} 


/* Who need us
-------------------------------------------------- */



.who_need_us p,
.contact p {
  font-size:20px;
}

.who_need_us .education-cover{
  margin-top: 20px;
}

@media (max-width: 768px){
  
    .who_need_us h1{
      margin-top: 70px;
    }
}


.contact .col-md-6 {
  margin-top: 20px;
}




/* Clients
-------------------------------------------------- */

.client {
  background-color:#fff;
  padding:30px;
  margin-top:20px;
  border-radius:3px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);

}

@media (min-width: 991px){
     .client {
        min-height: 470px;
      }
}

@media (max-width: 990px){
     .client {
        min-height: 350px;
      }
}

.client p.role {
  color:#999;
  font-size:14px;
  font-weight:500;
}

.client p.quote {
  color:#666;
  font-size:16px;
  font-weight:400;
}

blockquote {
  border:0;
  font-size:15px;
  margin-top:20px;
}

@media (max-width: 768px)  {

  .quotes blockquote {
    font-size:15px;
  }
}

.client h4 {
  font-size:20px;
  margin-top:20px;
}
.client img {
  margin:15px 20px 0px 15px;
  width:80px;
  float: left;
}

@media (max-width: 550px){
   
    .client img {
      margin: auto;
      float: none;
    }

    .caption h4 ,
    .role{
      text-align: center;
    }

}

.bqstart {
  float: left;
  height: 65px;
  margin-top: -38px;
  margin-left: -45px;
  font-size: 600%;
  color: #DDDDDD;
}

.bqend {
  float: right;
  height: 25px;
  margin-top: -30px;
  margin-right:-40px;
  font-size: 500%;
  color: #DDDDDD;
}


.quotes .row {
    display: table;
}

.client .col-md-5 {
    float: none;
    display: table-cell;
    vertical-align: top;
}


/* Contact
-------------------------------------------------- */

.contact{
  padding-bottom: 150px;
  text-align: center;
}

.contact h4{
  font-weight: 500;
}

@media (max-width: 768px){
  .contact .col-md-6 {
      margin-top: 50px;
      text-align: center;
  }
}

/* Tailoring
-------------------------------------------------- 

.tailoring {
  background: #0B4253 url('../images/triangles_bg2.png') repeat top fixed;
}

  .tailoring {
    /* Reference the @2x Sprite 
    background: #0B4253 url('../images/triangles_bg2@2x.png') repeat top fixed;
    /* Translate the @2x sprite's dimensions back to 1x 
    background-size: 450px; 
    }
*/


.tailoring h4 {
  font-size:22px;
  font-weight:600;
  margin-top:20px;
}
.tailoring p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 25px;
}

.tailoring .col-md-4 {
  margin-top: 30px;
}

.tailor-icons{
width: 112px;
}

@media (max-width: 768px)  {

  .tailoring img {
    width:45%;
  }
}

@media (max-width: 970px) {
  
  .tailoring .col-md-4 {
      margin-top: 50px;
  }
}



/* Team
-------------------------------------------------- */

.crew_profile {
  background-color:#fff;
}
.crew_profile.container {
  padding:0;
}
.crew_profile img {
  display:inline-block;
}


/* Footer
-------------------------------------------------- */


footer {
  background-color: #293035;
  color:#fff;
  padding:100px 0 80px ;
  margin:0;
}

footer p{
  font-size: 20px;
  color: #fff;
}

footer a{
  color: rgba(255, 255, 255, .65);
}
footer a:hover{
  color: rgba(255, 255, 255, 1);
}

#icons-rrss{
  margin-left: 0px;
  margin-right: 10px;
}
 

footer .logo_horiz {
    width:35%;
    margin-bottom:10px;
  }

footer .logo_sf {
    width:35%;
    margin-bottom:10px;
    opacity: .7;
  }

@media (max-width: 768px){

footer .logo_horiz {
    width:60%;

  }

footer .logo_sf {
    width:60%;
    opacity: .7;
  }

}

   footer .logo_sf:hover {
    opacity: 1;
  }

@media (max-width: 768px){
  
  .social-media {
      margin-bottom:50px;
      margin-top: 20px;
      text-align: center;
  }
  #icons-rrss{
      margin: 20px;
      font-size: 30px;
  }
     
  
}

/* Go to top btn
-------------------------------------------------- */

#go-to-top {
  position:fixed;
  display:block;
  background-color:#fff;
  right:40px;
  border-radius:4px 4px 0 0;
  bottom:-90px;
  -webkit-box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px -1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px -1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: bottom .2 ease;
  -webkit-transition: bottom .3s ease;
    -o-transition: bottom .3s ease;
    transition: bottom .3s ease;
}
#go-to-top.none {
  bottom:0;
}
#go-to-top a {
  display:inline-block !important;
  padding:13px 15px 10px 15px;
}
#go-to-top a:hover {
  padding:13px 15px 22px 15px;
}
#go-to-top a:hover,
#go-to-top a:focus,
#go-to-top a:active {
  text-decoration:none;
}

/* 
--------------------------------------------------
--------------------------------------------------
British Museum
--------------------------------------------------
-------------------------------------------------- */
.navbar-toggle-BM {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
}
.navbar-toggle-BM .icon-bar {
  background-color: #fff;
}

#navbar-BM{
  background-color: #000;
}

.btn-header-BM {
  color: #fff;

  border-color: #fff;
  background-color: rgba(0,0,0,.03);
  border-width:1;
  font-weight:500;
  font-size:13px;
  text-transform: uppercase;
  margin:7px 0 0 12px;
  padding:8px 18px !important;
}
.btn-header-BM:hover,
.btn-header-BM:focus,
.btn-header-BM:active,
.open > .dropdown-toggle.btn-header-BM {
  color: #000;
  background-color: #fff;
  border-width:1;
  text-decoration:none;
}

.jumbotron-BM {
  padding: 30px 15px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
  right:0;left:0;top:0;bottom:0;
  overflow:hidden;
  background: #333 url('../images/coins.png') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  height: 550px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    
  .jumbotron-BM {
    /* Reference the @2x Sprite */
    background-image: url('../images/coins@2x.png');
    /* Translate the @2x sprite's dimensions back to 1x */
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
    }
}

#logo-BM {
  margin-top: 110px;
  max-width: 500px;
  margin-bottom: 100px;
}

#brands-BM{
  max-width: 600px;
  opacity: 0.85;
}

.about-BM{
  padding-bottom: 60px;
}

.h1-BM{
  font-size: 18px;
  font-weight: 400;
}

.h3-BM{
  font-size: 32px;
}

.color-BM{
  color: #BE935D;
}

.grey-BM{
  color: #5a5a5a;
}

.btn-BM {
  color: #BE935D;
  border-color: #BE935D;
  background-color: rgba(255,255,255,0);
  border-width:2px;
}
.btn-BM:hover,
.btn-BM:focus,
.btn-BM.focus,
.btn-BM:active,
.btn-BM.active {
  color: #fff;
  background-color: #BE935D;
  border-color: #BE935D;
  text-decoration:none;
}

.btn-BM-2 {
  color: #fff;
  border-color: #fff;
  background-color: rgba(255,255,255,0);
  border-width:2px;
    -webkit-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.btn-BM-2:hover,
.btn-BM-2:focus,
.btn-BM-2.focus,
.btn-BM-2:active,
.btn-BM-2.active {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  text-decoration:none;
}



.BM-method {
  color: #BDBDBD;
  background: #333 url('../images/London.png') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  padding-bottom: 100px;
  height: auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    
  .BM-method {
    /* Reference the @2x Sprite */
    background-image: url('../images/London@2x.png');
    /* Translate the @2x sprite's dimensions back to 1x */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}

.BM-method a{
  color: #bdbdbd;
  text-decoration: underline;
}

.BM-method a:hover{
  color: #fff;
  text-decoration: underline;
}


.method-icon{
width: 130px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.65);
}

.modal-open {
  overflow-y: auto;
}

.modal-logo{
  width: 300px;
  margin-top:30px;
}

@media (max-width: 768px){
  .modal-logo{
  max-width: 260px;
  }
}

.modal-title{
  color: #BE935D;
  font-size: 22px;
}

.modal-img{
  width: 75%;
  display: block;
  margin: 20px auto 20px auto;
}


.projectdescription{
  margin-top: 40px;
}

.bg_color_BM {
  background-color: #f7f7f7;
  padding-bottom: 60px;
}

.contact-BM{
  color: #BDBDBD;
background: #333 url('../images/coins.png') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  padding-bottom: 100px;
  height: auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-resolution: 1dppx) {
    
  .contact-BM {
    /* Reference the @2x Sprite */
    background-image: url('../images/coins@2x.png');
    /* Translate the @2x sprite's dimensions back to 1x */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    .BM-contact-Link{
      margin-top: 15px;
      color: white;
      text-decoration: underline;
    }

 .BM-contact-Link:hover{
      color: white;
      text-decoration: underline;
    }

     
 .BM-footer{
   background-color: #000;
 }
}
/************************************* 
*************  NUMBERS  **************
**************************************/
.bignumber{
      color: #BE935D;
      font-weight: 100;
}

.number{
       color: #BE935D;
       font-weight: 200;
     }


@media (max-width: 767px){
  
  .bignumber{
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 0px;
      text-align: center;
    }

    .number{
       color: #BE935D;
      padding-left: 40px;
      text-align: center;
    }

}



@media (min-width: 768px) and (max-width: 991px){

    .number{
      margin-left: 35px;
    }

    .bignumber{
      font-size: 55px;
    }

    .bignumber span{
      font-size: 40px;
    }

    .middle-number{
    margin-left: 0px;
    padding-left: 30px;
    }

    .last-number{
    padding-left: 100px;
    }

  }

@media (min-width: 1200px) {

    .number{
      margin-left: 0px;
      margin-left: 50px;
    }

    .bignumber{
      font-size: 85px;
      margin-bottom: 0px;
    }

    .bignumber span{
      font-size: 40px;
    }

    .first-number{
    padding-left: 20px;
    }

    .middle-number{
    margin-left: 0px;
    padding-left: 80px;
    }

    .last-number{
    padding-left: 80px;
    }

  }

 @media (min-width: 992px) and (max-width: 1199px){

      .number{
      margin-left: 55px;
      }

      .bignumber{
      font-size: 65px;
      margin-bottom: 0px;
      }

      .bignumber span{
      font-size: 50px;
      }

      .first-number,
      .middle-number,
      .last-number{
        margin-top: 10px;
      }

      .first-number{
      padding-left: 25px;
      }

      .middle-number{
      padding-left: 60px;

      }

      .last-number{
      padding-left: 50px;
      }

  }

/************************************* 
***********  Responsive BM  **********
**************************************/




@media (max-width: 991px){

    .no-br-small br{
      display: none;
    }

}


@media (max-width: 768px){

.contact-BM h4{
  margin-top: 30px;
}

#logo-BM {

  margin-top: 200px;}

  .photo-mask{
    margin-top: 30px;
  }

  .jumbotron-BM {
  padding: 30px 15px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
  right:0;left:0;top:0;bottom:0;
  overflow:hidden;
  background: #333 url('../images/bg-BM.png') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  height: 400px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    
  .jumbotron-BM {
    /* Reference the @2x Sprite */
    background-image: url('../images/bg-BM@2x.png');
    /* Translate the @2x sprite's dimensions back to 1x */
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
    }
}

#logo-BM {
  margin-top: 130px;
}


}


.btn-link-BM {
  font-weight: normal;
  color: #BE935D;
  border-radius: 0;
}
.btn-link-BM,
.btn-link-BM:active,
.btn-link-BM.active,
.btn-link-BM[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link-BM,
.btn-link-BM:hover,
.btn-link-BM:focus,
.btn-link-BM:active {
  border-color: transparent;
}
.btn-link-BM:hover,
.btn-link-BM:focus {
  color: #BE935D;
  text-decoration: none;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}


.btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}


/* ------- Cookies consent ------- */
.cc_container {
    background: #0B4253 !important;
    color: white !important;
}
.cc_container .cc_btn, .cc_container .cc_btn:visited {
    background-color: white !important;
    color: #0B4253 !important;
    }

.cc_container a, .cc_container a:visited {
    text-decoration: none !important;
    color: white;
    transition: color 200ms ease 0s;
}
.cc_container a, .cc_container a:visited {
    color:  white !important;
}

.cc_more_info {
    font-weight: bold !important;
}

/* ------ Blog post ----- */

ul.share-social
{
    display: block;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
    list-style-type: none;
    font-size: 14px !important;
    color: #999;
    font-family: "Open Sans",helvetica,arial,sans-serif;
}

ul.share-social {
    padding-left: 0px;
}


@media(max-width: 360px) {
    .slackin {
        display:none;
    }
    .post-date {
        font-size: 14px !important;
    }

    ul.share-social,
    .back-to-blog-index {
        text-align:center;
    }
}

.post-date,
.post-date a,
.back-to-blog-index a,
p.back-to-blog-index{
    color:white;
}

.post-date,
.post-date a,
.back-to-blog-index a,
p.back-to-blog-index,
li.share_on{
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}

.back-to-blog-index a {
    text-decoration: underline;
}

ul.share-social li.share_on {
    color: white;
}

ul.share-social li {
    display:inline-block;
    margin: 0 1px;
}
ul.share-social li a {
    display:block;
    background-color:#eee;
    border:0;
    color:#428bca;
    border-radius:3px;
    height:40px;
    width:40px;
    margin-top:2px;
    padding:6px 0 0 1px;
    text-align:center;
    font-size:20px !important;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
}
ul.share-social li span {
    display:none;
}
ul.share-social li a.facebook {
    color:#3b5999;
}
ul.share-social li a.facebook:hover {
    color:#fff;
    background-color:#3b5999;
}
ul.share-social li a.twitter {
    color:#428bca;
}
ul.share-social li a.twitter:hover {
    color:#fff;
    background-color:#428bca;
}
ul.share-social li a.google-plus {
    color:#dd4b39;
}
ul.share-social li a.google-plus:hover {
    color:#fff;
    background-color:#dd4b39;
}

.post-caption p,
.post-caption a{
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 40px;
}

.intro {
    margin-top: 50px;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    margin-bottom: 50px;
}

.intro::before {
    content: "\f10d";
    font-size: 12px;
    padding-right: 5px;
}

.intro::after {
    content: "\f10e";
    font-size: 12px;
    padding-left: 5px;

}

div.author-detail {
    text-align:center;
}

.author-detail {
    border-radius:3px;
    background-color:#f7f6f5;
    margin-bottom:60px;
    text-align:left !important;
    padding:40px 30px 35px 30px;
}
.author-detail > div > a > img {
    margin:-10px 0 0 -5px;
}
.author-detail h3 {
    margin:0px 0 0 0;
    padding:0;
    font-size:18px;
}
.author-detail p.author-rol {
    font-size:15px;
    color:#999;
}
.author-detail p {
    font-size:16px;
    color:#666;
}
.author-detail ul {
    list-style-type:none;
    margin:0 0 0 0;
    padding:0;
    font-size:14px;
}
.author-detail ul li {
    display:inline-block;
    margin:0 5px 0 0 ;
    text-align:center;
}
.author-detail ul li a {
    background-color:rgba(0,0,0,.3);
    display:block;
    width:30px;
    height:30px;
    padding-top:6px;
    border-radius:100%;
}
.author-detail ul li a:hover {
    background-color:rgba(0,0,0,.6);
}
.author-detail ul li a i {
    font-size:16px;
    color:#fff;
}

.post-date {
    font-size: 18px;
}

.post-date a {
    text-decoration: underline;
}

.post-entry > .post-date {
    color: #999;
    font-size: 13px !important;
    text-shadow: 0px 0px 0px;
}

.post-entry > .intro {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    font-style: normal;
}

.post-entry > .intro::before,
.post-entry > .intro::after{
    display:none;
}

.post-entry {
    margin-bottom: 50px;
}

.blog-entries {
    margin-top: 50px;
}

.jumbotron-blog h2 {
    margin-bottom: 20px;
}

.jumbotron-blog .white p,
.jumbotron-blog .white a {
    text-align: center;
    color: white;
    height:40px;
    font-size: 16px;
    font-family: helvetica,arial,sans-serif;
}

.jumbotron-blog .white p {
    padding-top: 12px;
}

.jumbotron-blog .white a {
    text-decoration: underline;
}


.faces {
    text-align: center;
}

.faces ul {
    list-style-type: none;
    vertical-align: middle;
}

.faces ul > li {
    text-align: center;
    display:inline-block;
    margin: 0px 1px;
    margin-right: 25px;
    font-size: 14px;
}

.faces ul > li > a > img {
    max-width: 80px;
    border-radius: 40px;
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.faces ul > li > p{
    margin-top: 5px;
}

.modal-dialog {
    margin-top: 15%;
}

.modal-photo-rounded {
    max-width: 200px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    padding: 1px;
    border: 5px solid #042935;
}

.modal-body .row .col-xs-4 {
    text-align: center;
    font-size: 12px;
}

.case-study-cover {
    height: 275px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.case-study-cover h4 {
    margin: 0px;
    padding-top: 70px;
    position:relative;
    color: white;
    font-weight: 600;
    font-size: 26px;
}


.case-study-cover p {
    padding-top: 5px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
}

  .case-study-cover p  span {
    font-style: italic;
  }

.micropasts,
.citiesatnight{
background: rgba(41, 87, 115, .4);
-webkit-transition:  .3s ease;
-o-transition:  .3s ease;
transition: .3s ease;
}

.micropasts:hover,
.citiesatnight:hover{
background: rgba(41, 87, 115, .8);
}

.micropasts:hover .btn-info,
.citiesatnight:hover .btn-info{
  color: #FFF !important;
  background-color: rgba(7,124,160,1);
  border-color: rgba(7,124,160,1);
  text-decoration:none;
}

.education-cover{
    height: 300px;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}

.education-cover h4{
    margin: 0px;
    padding-top: 45px;
    position:relative;
    font-weight: 600;
    font-size: 26px;
}

.education-cover p {
    padding-top: 5px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.education-cover p  span {
    font-style: italic;
}

.for-teachers, 
.for-students{
    background-color: rgba(255, 255, 255, 0.5);
-webkit-transition:  .3s ease;
-o-transition:  .3s ease;
transition: .3s ease;
}

.for-teachers:hover,
.for-students:hover{
     background-color: rgba(255, 255, 255, 0.8);
}

.for-teachers:hover .btn-link,
.for-students:hover .btn-link{
  color: #FFF !important;
  background-color: rgba(7,124,160,1);
  border-color: rgba(7,124,160,1);
  text-decoration: none;
      border-radius: 50px;
  }



/*.micropasts {
    background: rgb(0, 39, 53) url("/images/Micropast.png") no-repeat center top/ cover;
}

.citiesatnight {
    background: rgb(0, 39, 53) url("/images/Cities.png") no-repeat center top/ cover;
}
*/

.teachers h2,
.students h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

.teachers .row .col-md-12 > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.teachers .col-md-6 p,
.students .col-md-12 p {
    text-align: left;
}

.students .col-md-12 {
    margin-top: 20px;
}

.teachers img,
.students img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
}

.teachers h3,
.students h3 {
    text-transform: uppercase;
    font-size: 18px;
}

.students .small {
    font-size: 12px;
}
