/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
/*  font-family: "source-sans-pro", "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif; */
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow:0 0 1px transparent;
  text-rendering:optimizeLegibility;
  color: #5a5a5a;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.42857143;
}

header {
	background-color:#fff;
	top:-200px;
	opacity:0;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	transition:top .2 ease;
	-webkit-transition: top .3s ease;
    -o-transition: top .3s ease;
    transition: top .3s ease;
}
.show {
	opacity:1;
}

.navbar-brand img{
	max-width:160px; 
	margin-top: -10px;
}


@media (min-width: 768px) and (max-width: 992px){

    .navbar-brand img{
    max-width:150px; 
    margin-top: -10px
      }
}


#go-to-top {
	position:fixed;
	display:block;
	background-color:#fff;
	right:40px;
	border-radius:4px 4px 0 0;
	bottom:-90px;
	-webkit-box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px -1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow:         0px -1px 1px 1px rgba(0, 0, 0, 0.1);
	transition: bottom .2 ease;
	-webkit-transition: bottom .3s ease;
    -o-transition: bottom .3s ease;
    transition: bottom .3s ease;
}
#go-to-top.none {
	bottom:0;
}
#go-to-top a {
	display:inline-block !important;
	padding:13px 15px 10px 15px;
}
#go-to-top a:hover {
	padding:13px 15px 22px 15px;
}
#go-to-top a:hover,
#go-to-top a:focus,
#go-to-top a:active {
	text-decoration:none;
}


footer {
	background-color:#222;
	color:#fff;
	padding:160px 0 40px ;
	margin:0;
}

footer p{
  font-size: 22px;
  padding-left: inherit;
  color: #6d6d6d;
}

footer a{
  color: #fff;
}

footer p i{
  margin-left: 15px;
}


footer .ssnn a {
	display:inline-block;
	height:70px;
	width:70px;
	font-size:34px !important;
	margin:0 30px 60px 30px;
	padding:15px 15px 5px 15px ;
	border-radius:100px;
	background-color:rgba(255,255,255,.05);
}

footer .ssnn a:hover {
	background-color:rgba(255,255,255,.05);
	color:#fff;
	text-decoration:none;
}

.firstfold {
  margin-top:70px !important;
}

#logo {
  max-width: 150px;
  margin-bottom: 40px;
}

#brands{
  max-width: 900px;
  opacity: 0.85;
  margin-top: 90px
}

#brands p {
	font-size:16px;
	font-weight:600;
	opacity:.5;
}

.white{
  color:#fff;
}

.color-primary {
  color:#CCC;
}

.color-one {
  color:#077CA0;
}
.color-two {
  color:#FFF;
font-size:14px;
font-weight:500;
}
.color-two:hover {
  background-color:#077CA0;
}

.bg_color_1 {
  background-color: #1E7591;
  padding:40px 0 150px;
  color: white;
}

.bg_color_2 {
  background-color: #f9f9f9;
  padding-bottom: 150px;
}

.bg_color_3 {
  background-color: #042935;
  padding: 25px;
  color: white;
}

#btn_close{
  margin: -15px -40px 0px 0px;
  background-color: transparent;
  color: white;
}

.no-pad-left{
  padding-left: 0px;
}
.about {
	border-bottom:1px solid #eee;
	padding-bottom:120px;
	padding-bottom:0px;
	background: #fff url('../images/bg_triangles_grad.png') repeat-x bottom center fixed; 
}
.about .pbandcc {
  background: transparent url('../images/cc_bodegon.png') no-repeat bottom center; 
  padding-bottom:380px;
}


@media (max-width: 767px){
  
  .about p {
    font-size: 22px;
  }

}


.case_studies {
  padding-bottom: 120px;
}
.case_studies h4 {
  margin: 20px 10px 20px 10px;
}
.case_studies p {
  margin: 0 10px 30px 10px;
}


@media (max-width: 767px){

  .case_studies p {
    font-size: 18px;
  }

  .case_studies .col-xs-10{
    margin-top: 80px;
  }

}



.who_need_us {
  background: #f9f9f9 url('../images/bg_triangles.png') top center repeat fixed;
}
.who_need_us p,
.contact p {
  font-size:20px;
}

.who_need_us .col-md-6,
.contact .col-md-6 {
  margin-top: 20px;
}


.client {
  background-color:#fff;
  padding:30px;
  margin-top:20px;
  border-radius:3px;
  min-height: 530px;
}

.client p.role {
  color:#999;
  font-size:14px;
  font-weight:500;
}

.client p.quote {
  color:#666;
  font-size:16px;
  font-weight:400;
}

blockquote {
	border:0;
	font-size:15px;
}


@media (max-width: 767px){

     blockquote {
        font-size: 17px;
      }



}


.client h4 {
	font-size:20px;
	margin-top:20px;
}

.bqstart {
  float: left;
  height: 45px;
  margin-top: -58px;
  margin-left:-60px;
  font-size: 800%;
  color: #F9F9F9;
}

.bqend {
  float: right;
  height: 25px;
  margin-top: -30px;
  margin-right:-59px;
  font-size: 700%;
  color: #F9F9F9;
}


.quotes .row {
    display: table;
}

.client .col-md-5 {
    float: none;
    display: table-cell;
    vertical-align: top;
}


.contact{
  padding-bottom: 150px;
}

.contact h4{
  font-weight: 500;
}

@media (max-width: 768px){
	.contact .col-md-6 {
  		margin-top: 50px;
  		text-align: center;
	}
}

@media (max-width: 768px){
	.social-media {
  		margin-bottom:50px;
  		margin-top: 20px;
  		text-align: center;
	}
}

.tailoring {
  background: #1E7591 url('../images/bg_triangles_blue.png') top center repeat fixed;
}
.tailoring h4 {
  font-size:22px;
  font-weight:600;
  margin-top:20px;
}
.tailoring p {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 25px;
}

.tailoring .col-md-4 {
  margin-top: 30px;
}

@media (max-width: 970px) {
	.tailoring .col-md-4 {
  		margin-top: 50px;
	}
}
@media (max-width: 768px) {
	h1 {
		font-size:14 !important;
	}
	h2 {
		font-size:20px !important;
	} h3 {
		font-size:20px !important;
	}
	p {
		font-size: 16px !important;
	}
	.jumbotron {
		height:auto;
		padding-bottom:60px;
	}
	.jumbotron #logo img {
		width:60%;
	}
	.firstfold {
		margin-top:20px;
	}
	
	footer {
		padding:40px 0 30px 0;
	}
	footer .logo_horiz {
		width:40%;
		margin-bottom:30px;
	}
}


.crew_profile {
	background-color:#fff;
}
.crew_profile.container {
	padding:0;
}
.crew_profile img {
	display:inline-block;
}


.italic {
  font-style: italic;
  }

.bold {
  font-weight: 700;
}  

.semibold{
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.uppercase {
	text-transform:uppercase;
}

.container .light{
  line-height: 1.4;
}

.left20{
  margin-left: 20px;
}

.top100{ 
  margin-top: 100px;
}

.top90{ 
  margin-top: 90px;
}

.top20 {
	margin-top:20px;
}

.down100{
  margin-bottom: 100px;
}

.down70{
  margin-bottom: 70px;
}

.down20{
  margin-bottom: 20px;
}

h1 {
	font-size: 20px;
	font-weight:500 !important;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*.video-container {
  max-height: 700px;
  margin-bottom: 60px;
  background-color: black;

}

.video-container > video {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 700px;
}

video #bgvid {
  position: absolute;
min-width: 100%; ;
width: 100%; height: auto; z-index: -100;
background: url(ejemplo.jpg) no-repeat;
background-size: cover;
display: inline-block;

}*/





/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    padding:10px 0;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.p1-hero-wrapper{
  position: relative;
  height: 750px;
  margin-bottom: 30px;
  }

@media (max-width: 767px){
  .p1-hero-wrapper{
    height:500px
  }
}

#hero{
  z-index:-1;
  right:0;left:0;top:0;bottom:0;
  overflow:hidden;
  background: #333 url('../images/bg.jpg') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  height: 750px;
  margin-bottom: 30px;
  }
}
@media (max-width: 1099px){
  #bgvid{height:100%;width:auto}
}
#bgvid{bottom:0;position:absolute;width:100%}
