---
layout: default
title: SciFabric - Bespoke solutions for crowdsourcing research
active: home
---

<a name="top"></a>

{% include modals.html %}
{% include modals_crew.html %}

<div id="go-to-top">
    <a href="#top">
        <span class="sf-up-open-big"></span>
    </a>
</div>


<div class="jumbotron">
    <div class="container text-center firstfold">
        <div id="logo" class="center-block">
            <img src="/images/scifabric_logo_white_vert_trans.svg" onerror="this.onerror=null; this.src='/images/scifabric_logo_white_vert_trans.png'" width="100%" height="auto">
        </div>
        <h2>Bespoke solutions for <br/>crowdsourcing research</h2>
        
        </br>
        
        <p><a class="btn btn-lg btn-info" href="#what-is-scifabric" role="button">Hi! How can we help you?</a></p>
        <div class="row definitions">
   
            <a class="btn btn-explain" data-toggle="modal" data-target="#modal-crowdsourcing">Crowdsourcing</a>
      
            <a class="btn btn-explain" data-toggle="modal" data-target="#modal-collective-micro-research">Collective micro-research</a>
     
            <a class="btn btn-explain" data-toggle="modal" data-target="#modal-citizen-science">Citizen science</a>
     
            <a class="btn btn-explain" data-toggle="modal" data-target="#modal-collective-intelligence">Collective intelligence</a>

        </div>
    </div>
</div>

<!-- Wrap the rest of the page in another container to center all the content. -->

<div id="what-is-scifabric" class="about"><a name="what-is-scifabric"></a>
    <div class="container col-md-12 text-center">
        <h1 class="color-primary uppercase bold top90">What is SciFabric</h1>
        <h3 class="down70 color-one">SciFabric is an open-source software company<br /> for crowdsourcing and research projects</h3>
    </div>

    <div class="container">

    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <img src="images/work.png" class="hires tailor-icons"/>
        <h4>Work</h4>
        <p>We work with great institutions on scientific research, humanities, data journalism, medicine, education and more.</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <img src="images/services.png" class="hires tailor-icons"/>
        <h4>Services</h4>
        <p>We provide our clients with hosting services, development expertise, consultancy and training.</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <img src="images/education.png" class="hires tailor-icons"/>
        <h4>Education</h4>
        <p>We also give courses and workshops about Citizen science. Was that what you were looking for? You're in the right place.</p>
    </div>



<!--
        <div class="col-sm-12" style="text-align:center;">
            <h4>Who we are</h4>
            <p>A team with a new way of thinking, experimenting and working, with interests in music, arts and technology.</p>
        </div>
        <div class="col-sm-12 faces">
            <ul>
                <li><a data-toggle="modal" data-target="#modal-alejandro" href=""><img src="/assets/img/crew/alejandro.jpg"/><p>Alejandro</p></a></li>
                <li><a data-toggle="modal" data-target="#modal-alvaro" href=""><img src="/assets/img/crew/alvaro.jpg"/><br/><p>Álvaro</p></a></li>
                <li><li><a data-toggle="modal" data-target="#modal-clara" href=""><img src="/assets/img/crew/clara.jpg"/><br/><p>Clara</p></a></li>
                <li><li><a data-toggle="modal" data-target="#modal-daniel" href=""><img src="/assets/img/crew/daniel.jpg"/><br/><p>Daniel</p></a></li>
                <li><li><a data-toggle="modal" data-target="#modal-james" href=""><img src="/assets/img/crew/james.jpg"/><br/><p>James</p></a></li>
                <li><li><a data-toggle="modal" data-target="#modal-jorge" href=""><img src="/assets/img/crew/jorge.jpg"/><br/><p>Jorge</p></a></li>
                <li><li><a data-toggle="modal" data-target="#modal-marvin" href=""><img src="/assets/img/crew/marvin.png"/><br/><p>Marvin</p></a></li>
            </ul>
        </div>
-->
    </div>
</div>


<div id="what-we-do" class="about"><a name="about"></a>
    <div class="container col-md-offset-1 col-md-10 text-center">
        <h1 class="color-primary uppercase bold top90">What we do</h1>
        <h3 class="down30 color-one">We do projects!</h3>
        <p class="lead col-sm-10 col-sm-offset-1">Science. Humanities. Journalism. Medicine. Social. Projects that aim to have a social impact. Projects that want to make the world a better place. And, above all, projects that harness the power of the crowd.</p>
    </div>

    <div class="container down60">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-1 text-center top70">
            <div class="thumbnail">
                <img src="/images/Pybossa_color_logo.png" class="hires" width="230px">

                <div class="caption">
                    <p class="semibold">We develop PyBossa, a unique open source framework that can be used to build and host tailor-made crowdsourced research projects.</p>
                    <p class="top20"><a href="http://pybossa.com/" target="_blank" class="btn btn-info-2 btn-sm top20">visit pybossa.com</a></p>
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-2 text-center top70">
            <div class="thumbnail">
                <img src="/images/crowdcrafting_color_logo.png" class="hires" width="230px">
                <div class="caption">
                    <p class="semibold">We host Crowdcrafting, an easy-to-use platform where ANYONE can create crowdsourced research projects.</p>
                    <p class="top20"><a href="http://crowdcrafting.org/" target="_blank" class="btn btn-info-2 btn-sm top20">visit crowdcrafting.org</a></p>
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="container case_studies" id="how-we-do-it"><a name="caseStudies"></a>
    <div class="col-md-12 text-center">
        <h1 class="color-primary uppercase bold top90">How we do it</h1>
        <h3 class="color-one down30">Bespoke. There's no other way!</h3>
    </div>
    <div class="down30 col-sm-10 col-sm-offset-1">
        <p style="font-size:18px; text-align:center;">We're here for you wheter you're a scientist, a doctor, a humanities researcher or a journalist, whtere you are a proffessional or just an amateur researcher. If you have a project in mind, we can achieve whatever you want.</p>
    </div>
    <div class="row">
        <div class=" col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
            <div class="case-study-cover micropasts">
                    <h4>MicroPasts</h4>
                    <p>An archeology project that recovered a lost part of history.</p>
                    <a href="/micropasts" class="btn btn-info">Read the whole story!</a>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
            <div class="case-study-cover citiesatnight">
                    <h4>Cities at Night</h4>
                    <p>An astrophysics project that aims to fight light pollution from the sky.</p>
                    <a class="btn btn-info" href="http://www.citiesatnight.org/" target="_blank" class="color-one case_studies_link">Read the whole story!</a>
            </div>
        </div>
    </div>
</div> <!-- /END OF THE CONTAINER -->
<div class="jumbotron jumbotron-xs">
        <div id="brands" class="center-block hidden-xs">
            <p class="white">These are some of SciFabric's fans</p>
            <img src="/images/brands.png" width="100%" height="auto" class="hires">
        </div>
</div>


<!--<div class="bg_color_2 who_need_us" id="whoNeedUs"><a name="whoNeedUs"></a>
    <div class="container">
        <div class="col-md-12 text-center">
            <h1 class="color-primary uppercase bold top90" style="color:#999">Who needs us?</h1>
            <h3 class="down70 color-one">Researchers, IT managers, citizens…
            </br> We’re here for you!</h3>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <p><strong>Researchers with specific technological needs</strong>:<br/> customization, building projects.</p>
            </div>
            <div class="col-md-6">
                <p><strong>Research projects IT managers</strong>:<br/> implementation and understanding of the tool.</p>
            </div>
            <div class="col-md-6">
                <p><strong>Researchers with limited resources</strong>:<br/> and without the necessary technological support.</p>
            </div>
            <div class="col-md-6">
                <p><strong>Citizens <em>(you, sure!)</em></strong>:<br/> who want to start their own projects.</p>
            </div>
        </div>
    </div>
</div>-->

<div class="bg_color_1 tailoring" id="what-we-offer"><a name="tailoring"></a>
    <div class="container">
        <div class="col-md-12">
            <h1 class="text-center uppercase bold top90">What we offer</h1>
            <h3 class="text-center down70">Our services at your service, no pun intended!</h3>
        </div>
        <div class="col-md-4 text-center">
            <img src="images/training.png" class="hires tailor-icons"/>
            <!--<div class="sf-paperplane fontastic"></div>-->
            <h4>Training</h4>
            <p>You just want to lear how to use PyBossa and fly solo?</p>
            <a href="#contact" class="color-two btn btn-sm btn-info">Starting at XXXEUR/Hour</a>
        </div>
        <div class="col-md-4 text-center">
            <img src="images/support.png" class="hires tailor-icons"/>
            <h4>Support &amp; Maintenance</h4>
            <p>Forget about server hosting: we'll do the hard work.</p>
            <a href="#contact" class="color-two btn btn-sm btn-info">Starting at 150EUR/month</a>
        </div>
        <div class="col-md-4 text-center">
            <img src="images/consultancy.png" class="hires tailor-icons"/>
            <!--<div class="icon sf-lab fontastic"></div>-->
            <h4>Consultancy</h4>
            <p>Your project is unique.<br/> You know it, we’ll build it.</p>
            <a href="#contact" class="color-two btn btn-sm btn-info">Starting at 250EUR/hour</a>
        </div>
    </div>
</div>

<div class="bg_color_2 who_need_us" id="education"><a name="education"></a>
    <div class="container">
        <div class="col-md-12 text-center">
            <h1 class="color-primary uppercase bold top90" style="color:#999">What we offer</h1>
            <h3 class="down70 color-one">Hey, teachers!</h3>
            <p class="lead">We have courses on citizen science, volunteer thinking, volunteer sensing... Learn how to teach your students how to put up and participate on a crowdsourced project or let us be the teachers for a day!</p>
        </div>  
        <div class="row">
            <div class="col-md-8 teachers">
                <h2>For teachers</h2>
                <img src="/images/photo-mask.png">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Teaching trough crowdsourcing</h3>
                        <p>Could your teaching benefit from crowdsourced projects? Of course! Learn how and how to make the most of it!</p>
                    </div>
                    <div class="col-md-6">
                        <h3>Introduction to citizen Science</h3>
                        <p>You probably have a project in mind, don't you? Learn how to create your own crowdsourced project and make your students participate.</p>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <a href="#" class="btn btn-default">Starting at 40EUR/person</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 students">
                <h2>For Students</h2>
                <img src="/images/photo-mask.png">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Introduction to citizen Science</h3>
                        <p>Experimenting. Learning the scientific method. Hypothesis, observation, analysis. WE WILL MAKE THINGS EXPLODE*</p>
                        <p class="small">*No, we probably won't, sorry.</p>
                    </div>
                    <div class="col-md-12">
                        <a href="#" class="btn btn-default">Starting at 25EUR/person</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="bg_color_2 quotes" id="quotes">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1 class="color-primary uppercase bold top90">Testimonials</h1>
            <h3 class="color-one down70">What our clients say...</h3>
        </div>
        <div class="row">
            <div class="col-md-6  col-lg-5 col-lg-offset-1">
                <div class="thumbnail client">
                    <img src="images/andrew_bevan.png" class="img-circle hires"/>
                    <div class="caption">
                        <h4 class="">Andrew Bevan</h4>
                        <p class="role">Professor of Spatial and Comparative Archaeology at <a href="http://www.ucl.ac.uk/">UCL</a></p>
                        <blockquote class="semibold"><span class="bqstart">&ldquo;</span>Pybossa makes the creation of crowdsourcing projects so much easier and more enjoyable than it would otherwise be starting from scratch. It provides a leg-up for those just making their first steps in crowd-sourcing, but sacrifices nothing for those experts who want considerable flexibility. Its ability to re-deploy both the modular code and general wisdom developed in one initiative to enhance the quality of others is remarkable and makes the most of open-source software. The future of citizen science is pythonised and moves to a bossa (nova) beat.<span class="bqend">&rdquo;</span></blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-6  col-lg-5">
                <div class="thumbnail client">
                    <img src="images/daniel_pett.png" class="img-circle hires"/>
                    <div class="caption">
                        <h4 class="">Daniel Pett</h4>
                        <p class="role">ICT Advisor<br/> at <a href="http://www.britishmuseum.org/">British Museum</a></p>
                        <blockquote class="semibold"><span class="bqstart">&ldquo;</span>The Pybossa system has allowed the British Museum to release an
                        amazing resource to the public and a worldwide audience. It has so
                        much potential for citizen scientists and future developments will aid
                        archaeologists and museums curators to tell new narratives with input
                        from the crowd.<span class="bqend">&rdquo;</span></blockquote>
                    </div>
                </div>
            </div>
        </div><!-- /END OF THE ROW -->
    </div> <!-- /END OF THE CONTAINER -->
</div> <!-- /END OF BG_Color-->


<!--<div class="bg_color_2"><a name="meetTheCrew"></a>
<div class="container text-center">
<div class="col-md-12">
<h1 class="text-center color-primary uppercase bold top90">Meet the crew</h1>
<h3 class="text-center down100">We're Alejandro, Álvaro, Clara, Daniel, Jorge and Marvin</h3>
</div>
</div>

<div class="container crew_profile">
<img src="http://placehold.it/150x400"/>
<h4>Daniel Lombraña González</h4>
<p>During my PhD I discovered that my real passion is to research and build tools that could help other people to solve their problems (I guess, that's my engineering side speaking).</p>
<p>Right now I'm focused on building the citizen science framework PyBossa and its hosted version Crowdcrafting, where professional and amateur scientist create their research projects and invite people to help them to solve a problem.</p>
<div class="icon sf-facebook fontastic"></div>
<div class="icon sf-google fontastic"></div>
<div class="icon sf-twitter-alt fontastic"></div>
<div class="icon sf-github-alt fontastic"></div>
</div>
</div>-->


<div class="container contact" id="contact"><a name="contact"></a>
    <div class="col-md-12 text-center">
        <h1 class="color-primary uppercase bold top90">Get in touch</h1>
        <h3 class="color-one">It'll be soooo nice to hear from you</h3>
    </div>

    <div class="col-sm-6 col-md-6">
        <h4>Bussiness</h4>
        <p>If you’re thinking of hiring us please contact<br/>
            <a class="color-one" href="mailto:daniel@scifabric.com?Subject=Hello!">daniel@scifabric.com</a>
        </p>
    </div>

    <div class="col-sm-6 col-md-6">
        <h4>Support</h4>
        <p>If you’re you’re having technical issues please contact<br/> 
            <a class="color-one" href="mailto:support@scifabric.com?Subject=Hello!">support@scifabric.com</a>
        </p>
    </div>

    <div class="col-sm-6 col-md-6">
        <h4>Press</h4>
        <p>Press, PR, Communications in general, write to<br/> 
            <a class="color-one" href="mailto:clara@scifabric.com?Subject=Hello!">clara@scifabric.com</a>
        </p>
    </div>

    <div class="col-sm-6 col-md-6">
        <h4>Information</h4>
        <p>Just to want to say hi?<br/> 
            <a class="color-one" href="mailto:info@scifabric.com?Subject=Hello!">info@scifabric.com</a>
        </p>
    </div>
</div><!-- /END OF THE CONTAINER -->
