@import "case-studies/cruk/colors";
@import "case-studies/cruk/jumbotron";
@import "case-studies/cruk/navbar";
@import "case-studies/cruk/startingpoint";
@import "case-studies/cruk/scifabrictechnology";
@import "case-studies/cruk/theproject";
@import "case-studies/cruk/results";
@import "case-studies/cruk/quote";
@import "case-studies/cruk/team";
@import "case-studies/cruk/person";
@import "case-studies/cruk/footer";

body {
    font-family: 'Source Sans Pro', HelveticaNeue, Helvetica, sans-serif;
    text-shadow:0 0 1px transparent;
    text-rendering:optimizeLegibility;
    font-size: 16px;
    line-height: 1.42857143;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    h2 {
        font-size: 40px;
        color: $black;
    }

    a {
        color: $blue;
        text-decoration: underline;
    }

    .subtitle {
        margin-top: 11px;
        p {
            font-size: 28px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            text-align: center;
            color: $gray;
            width: 680px;
        }
        @media(max-width: 420px) {
            padding: 10px;
            p {
                font-size: 20px;
                width: auto;
            }
        }
    }
}


.columns {
    display: flex;
    align-content: space-around;

    @media(max-width:420px) {
        flex-direction: column;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 33%;
        padding: 50px;


        @media(max-width: 768px) {
            .column {
                padding: 25px;
            }
        }

        @media(max-width:420px) {
            width: 100%;
            padding: 10px;
        }


        h3 {
            font-size: 26px;
            font-weight: 400;
            color: $black;
            text-align: center;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-content: center;
            height: 153px;
            @media(max-width:420px) {
                height: auto;
            }
        }

        .text {
            margin-top: 12px;
            font-size: 18px;
            color: $gray;
            line-height: 1.63;
            text-align: center;

            @media(max-width:420px) {
                font-size: 16px;
                line-height: 1.63;
            }
        }
    }
}


.getintouch {
         display: flex;
         justify-content: center;
         align-content: center;
         margin-bottom: 85px;
         width: 33%;

         @media(max-width:768px) {
             width: auto;
             .btn {
                 font-size: inherit;
             }

             margin-top: 85px;
         }
 
         .btn-primary {
             background: $pink;
             color: white;
             font-size: 24px;
             font-weight: 600;
             padding-top: 10px;
             padding-bottom: 10px;
             padding-left: 20px;
             padding-right: 20px;
             border-radius: 5px;
             border-color: $pink;

             @media(max-width:420px) {
                 font-size: 18px !important;
             }
         }

         .btn-primary.blue {
                background: $darkblue2;
                border-color: $darkblue2;
         }
     }

footer {
    background: url('/assets/img/success-stories/cruk/bg-footer.jpg') no-repeat top center transparent ;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    p, a {
        color: $black;
        strong {
            color: $black;
        }
    }
    a:hover {
        color: $gray;
    }
}
