.quote{
    padding: 30px 15px;
    margin-bottom: 0px;
    color: inherit;
    right:0;left:0;top:0;bottom:0;
    overflow:hidden;
    background: url('/assets/img/success-stories/cruk/bg-quote.jpg') no-repeat top center;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .quote-icon {
        margin-left: 17.4%;
        width: 69px;
        height: 51px;
        margin-top: 108px;
    }

    .text {
        margin-left: 20.5%;
        margin-top: -30px;
        width:477px;
        height: 231px;
        font-size: 24px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        color: rgba(255, 255, 255, 0.73);

        strong {
            color: white;
        }

        .whitespace {
            content: " ";
            padding: 20px;
        }
    }

    .bio {
        margin-left: 20.5%;
        margin-top: 63px;
        color: white;
        padding-bottom: 95px;
        display: flex;
        .avatar {
            width: 122px;
            img {
                border-radius: 50%;
            }
        }
        .data {
            margin-left: 23px;
            width: 283px;
        }
        h4 {
            font-size: 24px;
        }
        font-size: 18px;

        a {
            color: white;
            text-decoration: underline;
        }
    }
}

