.results {
    background: $darkblue;
    padding-bottom: 50px;
    margin-top: 0 !important;
    padding-top: 50px;
    .graphic {
        width: 494px;
        @media(max-width:420px) {
            width: auto;
        }

        .bubble,
        .accuracybubble {
            position: absolute;
            margin-top: -283px;
            margin-left: 430px;

            @media(max-width:420px) {
                margin-left: 200px;
                margin-top: -225px;

                svg {
                    width: 100px;
                }
            }


            .big {
                font-size: 56px;
                font-weight: bold;
            }
            .normal {
                font-size: 23px;
                font-weight: bold;
            }
        }
        .text, .asterisq {
            margin-top: 36px;
            margin-left: 65px;
            font-size: 18px;
            line-height: 1.63;
            color: $gray;

            @media(max-width:420px) {
                margin-left: 0;
                padding: 30px;
            }

            strong {
                color: $black;
            }
        }

        .asterisq {
            font-style: italic;
            margin-top: 39px;
        }
    }
}
