.team {
    .team-title {
        width: 330px;
        display: flex;
        justify-content: center;
        img {
            height: 40px;
            margin-bottom: 10px;
        }

        @media(max-width:420px) {
            width: auto;
            h2 {
                font-size: 30px;
            }
            img {
                width: 137px;
                margin-top:0;
                height: 30px;
            }
        }
    }
    .avatars {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin-top: 44px;
        @media(max-width:420px) {
            padding-left:8px;
            padding-right:8px;
        }
        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 17px;
            @media(max-width:420px) {
                width: 54px;
                height: 54px;
                margin-bottom: 8px;
                margin-right: 8px;
            }
        }
        #nick {
            visibility: hidden;
        }
    }
    .calltoaction {
        margin-top: 37px;
        margin-bottom: 14px;
        height: 82px;
        p {
            margin: 0;
            font-size: 30px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            text-align: center;
            color: $darkblue2;
            @media(max-width:420px) {
                font-size: 25px;
            }
        }
    }

    .values {
        width: 586px;
        height: 78px;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        color: $gray;
        margin-bottom: 36px;
        text-align: center;
        @media(max-width:420px) {
            font-size: 16px;
            width: auto;
            padding: 10px;
            margin-top:14px;
        }
    }

    .getintouch {
        @media(max-width: 420px) {
            margin-bottom: 0;
        }
    }
}
