.theproject {
    background: white;

    .responsive {
        width: 95%;
    }

    .contributors {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    video {
    position: relative;
    margin-top: -271px;
    width: 363px;
    }

    @media(max-width: 768px) {
        .contributors {
            margin-bottom: 0px;
        }
        video {
            margin-top: 15px;
            margin-left: 0;
            width: 251px;
        }
    }

    @media(max-width: 420px) {
        video {
            margin-top: 85px;
            width: 260px;

        }
    }

    @media(max-width: 320px) {
        video {
            margin-top: 90px;
            width: 251px;
        }
    }

}
