.theproject {
    background: white;

    .contributors {
        margin-top: 75px;
        margin-bottom: 173px;
    }

    video {
    position: absolute;
    margin-top: -283px;
    margin-left: 375px;
    }

}
