.theproject {
    background: white;

    .responsive {
        width: 95%;
    }

    .contributors {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .process-svg {
        height: 330px;
    }

    video {
    position: relative;
    margin-top: -271px;
    width: 363px;
    }

    @media(max-width: 768px) {
        .contributors {
            margin-bottom: 0px;
        }
        .process-svg {
            height: 330px;
            width: 730px;
        }
        video {
            width: 240px;
            height: 240px;
        }
    }

    @media(max-width: 420px) {
        .process-svg {
            height: 320px;
            width: 320px;
        }

        video {
            margin-top: 42px;
            width: 270px;
            height: 270px;
            /* margin-left: -200px; */
            position: absolute;
            left:0;
            margin-left: 74px;
        }
    }

    @media(max-width:360px) {
        video {
            margin-left: 47px;
        }

    }

    @media(max-width: 320px) {
        .process-svg {
            height: 300px;
            width: 300px;
        }

        video {
            margin-top: 35px;
            width: 260px;
            height: 260px;
            /* margin-left: -200px; */
            position: absolute;
            left:0;
            margin-left: 33px;
        }
    }

}
