<div class="container">

    <div class="row">
        <div class="col-md-12"> 
            <img alt="SciFabric Logo" class="logo_horiz" src="/images/nav-logo.svg">
            <p>Developing <a href="http://pybossa.com/">PyBossa</a> and hosting <a href="http://crowdcrafting.org/">Crowdcrafting</a> since 2011</p>

        </div>
    </div>
    <div class="row column">

        <div class="col-sm-4 col-md-offset-1 col-md-3">

            <p><strong>Products</strong></p>
            <p><a href="http://pybossa.com">Pybossa</a></p>
            <p><a href="http://crowdcrafting.org">Crowdcrafting</a></p>

        </div>

        <div class="col-sm-4 col-md-4">

            <svg class="visible-xs"><line x1="0" y1="0" x2="35" y2="0"/></svg>

            <p><strong>Services</strong></p>
            <p><a href="/crowdsourcing/training/">PyBossa training</a></p>
            <p><a href="/crowdsourcing/pybossa-cloud-servers/">Pybossa cloud servers</a></p>
            <p><a href="/crowdsourcing/pybossa-cloud-servers/#support">Pybossa support</a></p>

        </div>

        <div class="col-sm-4 col-md-3">

            <svg class="visible-xs"><line x1="0" y1="0" x2="35" y2="0"/></svg> 

            <p><strong>Social</strong></p>
            <p><a href="/blog">Blog</a></p>
            <p><a href="/team/">Team</a></p>
            <p><a href="http://twitter.com/PyBossa/">Twitter</a></p>
            <p><a href="https://www.facebook.com/scifabric/">Facebook</a></p>

        </div>

    </div>

    <div class="col-md-12">
        <a href="https://shuttleworthfoundation.org">
            <img class="logo_sf" src="/images/logo_sf.svg" width="279"></a>
    </div>

</div>
