<div class="container">

    <div class="row">
        <div class="col-md-4"> 
            <img alt="SciFabric Logo" class="logo_horiz" src="/images/nav-logo.svg">
            <p>Developing <a href="http://pybossa.com/">PyBossa</a></br> and hosting <a href="http://crowdcrafting.org/">Crowdcrafting</a></br> since 2011</p>
            <p>
            <a href="https://shuttleworthfoundation.org">
                <img class="logo_sf" src="/images/logo_sf.svg" width="279"></a>
            </p>


        </div>
        <div class="col-md-2">

            <p><strong>Products</strong></p>
            <p><a href="http://pybossa.com">Pybossa</a></p>
            <p><a href="http://crowdcrafting.org">Crowdcrafting</a></p>

        </div>

        <div class="col-md-2">

            <p><strong>Services</strong></p>
            <p><a href="/crowdsourcing/training/">Training</a></p>
            <p><a href="/crowdsourcing/pybossa-cloud-servers/">Crowdsourcing servers</a></p>
            <p><a href="/crowdsourcing/pybossa-cloud-servers/#support">Support</a></p>

        </div>

        <div class="col-md-2">
            <p><strong>Company</strong></p>
            <p><a href="/contact/">Contact</a></p>
            <p><a href="/press/">Press</a></p>
            <p><a href="/team/">About us</a></p>
            <p><a href="/jobs/">Jobs</a></p>
        </div>

        <div class="col-md-2">

            <p><strong>Social</strong></p>
            <p><a href="/blog">Blog</a></p>
            <p><a href="https://www.facebook.com/scifabric/">Facebook</a></p>
            <p><a href="http://twitter.com/PyBossa/">Twitter</a></p>
        </div>

    </div>
</div>
