<footer class="footer is-primary" style="padding-top:90px !important; padding-bottom:3% !important;">
    <div class="container">
        <div class="content">
        </div>
        <div class="level">
            <div class="level-item">
                    <div class="column is-6 is-white has-text-centered">
                        <p class="title is-7 has-text-white">Supporting the innovation and  social change, <br/>fellowshipped by</p>
                        {% if page.css == "cruk" %}
                        <img class="footer-logo" src="{{site.cdn}}/images/logo_sf-black.svg"></a>
                        {% else %}
                        <img class="footer-logo" src="{{site.cdn}}/images/logo_sf.svg"></a>
                        {% endif %}
                    </div>
            </div>
            <div class="level-item">
                    <div class="column is-6 is-white has-text-centered">
                        <p class="title is-7 has-text-white">Developing the ultimate open source crowdsourcing framework</p>
                        <a href="https://pybossa.com">
                            {% if page.css == "cruk" %}
                            <img class="footer-logo" src="{{site.cdn}}/images/pybossa-black.svg" ></a>
                        {% else %}
                        <img class="footer-logo" src="{{site.cdn}}/images/pybossa.svg"></a>
                    {% endif %}
                    </a>
                    </div>
            </div>
            <div class="level-item">
                <div class="column is-6 is-white has-text-centered">
                        <p class="title is-7 has-text-white">Hosting a 100% open-science crowdsourcing <br/>platform </p>
                        <a href="/crowdcrafting">
                            {% if page.css == "cruk" %}
                            <img class="footer-logo" src="{{site.cdn}}/images/crowdcrafting-black.svg"></a>
                        {% else %}
                        <img class="footer-logo" src="{{site.cdn}}/images/crowdcrafting.svg"></a>
                    {% endif %}
                    </a>
                    </div>

            </div>
        </div>
        <div class="level">
            <div class="level-left has-text-white">
                <p>© 2018 Scifabric. All Rights Reserved. <a class="has-text-white" href="/privacy.html" style="text-decoration:underline;">Privacy Policy</a> and <a class="has-text-white" href="/cookies.html" style="text-decoration: underline;">Cookies</a></p>
            </div>

            <div class="level-right">
                <a class="button is-outlined is-white ssnn" href="https://www.linkedin.com/company/scifabric">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="button is-outlined is-white ssnn" href="http://twitter.com/Scifabric/">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
