<script src="/js/jquery.lazylinepainter-1.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/loading.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/css/logoanim.css">

<div id="loader-wrapper">
    <div id="loader">
        <div id="logo_traced">
            <div id='loading_logo2' class="central-block animated infinite pulse">
                <img alt="SciFabric Logo" src="/images/scifabric_logo_white_vert_trans.svg" onerror="this.onerror=null; this.src='/images/scifabric_logo_white_vert_trans.png'" width="100%">
            </div>
        </div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
