<div class="modal fade" id="modal-alejandro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg_color_3 text-center">
                <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="modal-photo-rounded"src="/assets/img/crew/alejandro.jpg" class="img-responsive" alt="Alejandro Photo">
            </div>
            <div class="modal-body">
                <p>Alejandro is our junior developr. He is a mathematician who also holds a degree in computer science. He is completely focused on becoming the best programmer in the workd. Oh! And he occasionally sports the most magnificient beard.</p>
                <div class="row">
                    <p class="col-xs-4">Alejandro Domínguez</p>
                    <p class="col-xs-4">Junior Developer</p>
                    <p class="col-xs-4">alejandro@scifabric.com</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-alvaro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg_color_3 text-center">
                <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="modal-photo-rounded"src="/assets/img/crew/alvaro.jpg" class="img-responsive" alt="Álvaro Photo">
            </div>
            <div class="modal-body">
                <p>Álvaro is our user experience guy. He tries to make things look pretty,m holds a Bachelor of Fine Arts, likes fighting with HTML and CSS code, and loves to learn new things. He is also a tech-lover who likes design, photography, scinece and dogs.</p>
                <div class="row">
                    <p class="col-xs-4">Álvaro Sánchez</p>
                    <p class="col-xs-4">UX Experience</p>
                    <p class="col-xs-4">alvaro@scifabric.com</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-clara" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg_color_3 text-center">
                <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="modal-photo-rounded"src="/assets/img/crew/clara.jpg" class="img-responsive" alt="Clara Photo">
            </div>
            <div class="modal-body">
                <p>Clara is our copywriter. She holds degrees in advertising and media, and a Masters degree in UX and Digital Products Design. But, most importantly, she also sings and play guitar in a kick ass rock band and well, you don't!</p>
                <div class="row">
                    <p class="col-xs-4">Clara Sánchez-Puga</p>
                    <p class="col-xs-4">Content & Communications</p>
                    <p class="col-xs-4">clara@scifabric.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-daniel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg_color_3 text-center">
                <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="modal-photo-rounded"src="/assets/img/crew/daniel.jpg" class="img-responsive" alt="Daniel Photo">
            </div>
            <div class="modal-body">
                <p>Daniel is our boss. A computer engineer with a PhD in parallel genetic programming on volunteer desktop grids. He is also a senior researcher at the Citizen Cyberscience Centre and a fellow of the Shuttleworth Foundation. He's by far the smartests of us all.</p>
                <div class="row">
                    <p class="col-xs-4">Daniel Lombraña</p>
                    <p class="col-xs-4">CEO</p>
                    <p class="col-xs-4">daniel@scifabric.com</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-james" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg_color_3 text-center">
                <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="modal-photo-rounded"src="/assets/img/crew/james.jpg" class="img-responsive" alt="James Photo">
            </div>
            <div class="modal-body">
                <p>James is Scifabric's communications aficionado. He holds law degrees and is currently studying physics and astronomy. He has undertaken research on the Large Hadron Collider at CERN and is a regular blogger on Quantum Diaries. Impressive, huh?</p>
                <div class="row">
                    <p class="col-xs-4">James Doherty</p>
                    <p class="col-xs-4">Communications</p>
                    <p class="col-xs-4">james@scifabric.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-jorge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg_color_3 text-center">
                <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="modal-photo-rounded"src="/assets/img/crew/jorge.jpg" class="img-responsive" alt="Jorge Photo">
            </div>
            <div class="modal-body">
                <p>Jorge is our lead designer. Pragmatic and handicraft front-end coder with over 15 years of experience. *Jaw dropping here, thanks. He helps people make beautiful and meaningful products and services.</p>
                <div class="row">
                    <p class="col-xs-4">Jorge Correa</p>
                    <p class="col-xs-4">UX designer</p>
                    <p class="col-xs-4">jorge@scifabric.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-marvin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg_color_3 text-center">
                <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class="modal-photo-rounded"src="/assets/img/crew/marvin.png" class="img-responsive" alt="Marvin Photo">
            </div>
            <div class="modal-body">
                <p>Marvin is a Computer Engineer as well as sysadmin GNU/Linux systems. He is our senior developer, so that means he manages the infrastructure of Crowdcrafting as well as developts its technology: PyBossa. In other words: this wouldn't be up without him.</p>
                <div class="row">
                    <p class="col-xs-4">Marvin Reimer</p>
                    <p class="col-xs-4">Senior developer</p>
                    <p class="col-xs-4">marvin@scifabric.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
