        <nav class="container navbar">
            <div class="navbar-brand" style="padding:0";>
                <a class="navbar-item"  style="padding:0"; href="/">
                    <img src="{{site.cdn}}/images/nav-logo-blue.svg" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
                </a>

                <div class="navbar-burger burguer" data-target="navMenuExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navMenuExample" class="navbar-menu">
                <div class="navbar-end has-text-centered">
                    <a class="navbar-item {% if page.active== 'howitworks' %} has-text-info has-text-underlined {% else %}has-text-primary{%endif%}" href="/howitworks/">
                        How it works
                    </a>
                    <a class="navbar-item {% if page.active== 'projects' %} has-text-info has-text-underlined {% else %}has-text-primary{%endif%}" href="/projects/">
                        Projects
                    </a>
                    <a class="navbar-item {% if page.active== 'pricing' %} has-text-info has-text-underlined {% else %}has-text-primary{%endif%}" href="/pricing/">
                        Pricing
                    </a>
                    <a class="navbar-item {% if page.active== 'about' %} has-text-info has-text-underlined {% else %}has-text-primary{%endif%}" href="/about/">
                        About
                    </a>
                    <a class="navbar-item {% if page.active== 'blog' %} has-text-info has-text-underlined {% else %}has-text-primary{%endif%}" href="/blog/">
                        Blog
                    </a>

                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p id="contact" class="control has-text-centered" style="width:100%">
                                <App title="Get in touch" bclass="button is-info"></App>
                            </p>
                        </div>
                    </div>
                </div>
        </nav>
