<div id="newclient" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Shopping cart: <span id="notes"></span></h4>
            </div>
            <div class="modal-body">
                <client></client>
                <div id="subscription">
                    <p>You have been successfully subscribed to this plan: <span class="product"></span>. You'll receive an email with instructions for paying the invoice and activating the plan.</p>
                </div>
                <div id="summaryCheckout">
                    <div class="explanation">Checkout summary</div>
                    <table class="table"> 
                        <thead> 
                            <tr> 
                                <th class="text-left">Description</th> 
                                <th class="text-right">Quantity</th> 
                                <th class="text-right">Tax</th> 
                                <th class="text-right">Cost</th> 
                            </tr> 
                        </thead> 
                        <tbody class="invoice_items"> 
                        </tbody> 
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <checkout></checkout>
                <button type="button" id="subscriptionBtn" class="btn btn-default" data-dismiss="modal" aria-label="Close">Perfect!</button>

                <a href="#" class="btn btn-default" id="paySameCreditCard"><img class="rolling" src="/assets/img/rolling.svg"/>Pay using your registered card </a>
                <p class="top20">
                    <a href="#" id="payNewCreditCard">Pay using a new credit card</a>
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
