<div id="newclient" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Shopping cart: <span id="notes"></span></h4>
            </div>
            <div class="modal-body">
                <form id="formNewClient" class="form-inline" method="post" action="http://localhost:5000">
                    <input id="csrf_token" type="hidden" name="csrf_token" value=""/>
                    <div class="explanation">Organization details</div>
                    <div class="form-group">
                        <label class="sr-only" for="Name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="The organization name if applicable">
                    </div>
                     <div class="form-group">
                        <label class="sr-only" for="vat">VAT</label>
                        <input type="text" class="form-control" id="vat" name="vat" placeholder="VAT if applicable">
                    </div>

                    <div class="explanation">Contact details</div>
                    <div class="form-group">
                        <label class="sr-only" for="firstName">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                    </div>
                     <div class="form-group">
                        <label class="sr-only" for="address1">Address 1</label>
                        <input type="text" class="form-control" id="address1" name="address1" placeholder="Your address">
                    </div>
                     <div class="form-group">
                        <label class="sr-only" for="address2">Address 2</label>
                        <input type="text" class="form-control" id="address2" name="address2" placeholder="Extra address line">
                        <span class="help-block"></span>
                    </div>
                     <div class="form-group">
                        <label class="sr-only" for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="City">
                    </div>
                     <div class="form-group">
                        <label class="sr-only" for="state">State</label>
                        <input type="text" class="form-control" id="state" name="state" placeholder="State">
                    </div>

                     <div class="form-group">
                        <label class="sr-only" for="postal_code">Postal Code</label>
                        <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Postal Code">
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="country">Country</label>
                        <select class="form-control" name="country" id="country"></select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <!--<div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>-->
                </form>
                <div id="subscription">
                    <p>You have been successfully subscribed to this plan: <span class="product"></span>. You'll receive an email with instructions for paying the invoice and activating the plan.</p>
                </div>
                <div id="summaryCheckout">
                    <div class="explanation">Checkout summary</div>
                    <table class="table"> 
                        <thead> 
                            <tr> 
                                <th class="text-left">Description</th> 
                                <th class="text-right">Quantity</th> 
                                <th class="text-right">Tax</th> 
                                <th class="text-right">Cost</th> 
                            </tr> 
                        </thead> 
                        <tbody class="invoice_items"> 
                        </tbody> 
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="checkout" class="btn btn-default"><img class="rolling" src="/assets/img/rolling.svg"/><span class="product"></span></button>

                <button type="button" id="subscriptionBtn" class="btn btn-default" data-dismiss="modal" aria-label="Close">Perfect!</button>

                <a href="#" class="btn btn-default" id="paySameCreditCard"><img class="rolling" src="/assets/img/rolling.svg"/>Pay using your registered card </a>
                <p class="top20">
                    <a href="#" id="payNewCreditCard">Pay using a new credit card</a>
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
