<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="600px" height="300px" viewBox="0 0 600 300" enable-background="new 0 0 600 300" xml:space="preserve">
<polygon opacity="0" enable-background="new    " points="-35,10 -11,20 -11,0 "/>
<polygon opacity="0" enable-background="new    " points="-35,50 -11,60 -11,40 "/>
<polygon opacity="0" enable-background="new    " points="-35,90 -11,100 -11,80 "/>
<polygon opacity="0" enable-background="new    " points="-11,0 13,10 13,-10 "/>
<polygon opacity="0" enable-background="new    " points="-11,20 13,30 13,10 "/>
<polygon opacity="0" enable-background="new    " points="13,70 -11,80 -11,60 "/>
<polygon opacity="0" enable-background="new    " points="37,40 13,50 13,30 "/>
<polygon opacity="0" enable-background="new    " points="37,100 13,110 13,90 "/>
<polygon opacity="0" enable-background="new    " points="13,70 37,80 37,60 "/>
<polygon opacity="0" enable-background="new    " points="133,80 157,90 157,70 "/>
<polygon opacity="0" enable-background="new    " points="157,10 133,20 133,0 "/>
<polygon opacity="0" enable-background="new    " points="157,50 133,60 133,40 "/>
<polygon opacity="0" enable-background="new    " points="85,0 61,10 61,-10 "/>
<polygon opacity="0" enable-background="new    " points="85,20 61,30 61,10 "/>
<polygon opacity="0" enable-background="new    " points="85,80 109,90 109,70 "/>
<polygon opacity="0" enable-background="new    " points="109,30 85,40 85,20 "/>
<polygon opacity="0" enable-background="new    " points="109,110 85,120 85,100 "/>
<polygon opacity="0" enable-background="new    " points="133,0 109,10 109,-10 "/>
<polygon opacity="0" enable-background="new    " points="109,30 133,40 133,20 "/>
<polygon opacity="0" enable-background="new    " points="109,90 133,100 133,80 "/>
<polygon opacity="0" enable-background="new    " points="37,40 61,50 61,30 "/>
<polygon opacity="0" enable-background="new    " points="37,60 61,70 61,50 "/>
<polygon opacity="0" enable-background="new    " points="61,10 37,20 37,0 "/>
<polygon opacity="0" enable-background="new    " points="61,110 37,120 37,100 "/>
<polygon opacity="0" enable-background="new    " points="181,60 157,70 157,50 "/>
<polygon opacity="0" enable-background="new    " points="157,30 181,40 181,20 "/>
<polygon opacity="0" enable-background="new    " points="205,10 229,20 229,0 "/>
<polygon opacity="0" enable-background="new    " points="205,50 229,60 229,40 "/>
<polygon opacity="0" enable-background="new    " points="205,70 229,80 229,60 "/>
<polygon opacity="0" enable-background="new    " points="277,20 301,30 301,10 "/>
<polygon opacity="0" enable-background="new    " points="277,80 301,90 301,70 "/>
<polygon opacity="0" enable-background="new    " points="277,100 301,110 301,90 "/>
<polygon opacity="0" enable-background="new    " points="301,50 277,60 277,40 "/>
<polygon opacity="0" enable-background="new    " points="229,0 253,10 253,-10 "/>
<polygon opacity="0" enable-background="new    " points="229,20 253,30 253,10 "/>
<polygon opacity="0" enable-background="new    " points="229,60 253,70 253,50 "/>
<polygon opacity="0" enable-background="new    " points="229,100 253,110 253,90 "/>
<polygon opacity="0" enable-background="new    " points="181,0 205,10 205,-10 "/>
<polygon opacity="0" enable-background="new    " points="181,40 205,50 205,30 "/>
<polygon opacity="0" enable-background="new    " points="181,60 205,70 205,50 "/>
<polygon opacity="0" enable-background="new    " points="205,90 181,100 181,80 "/>
<polygon opacity="0" enable-background="new    " points="301,10 325,20 325,0 "/>
<polygon opacity="0" enable-background="new    " points="301,50 325,60 325,40 "/>
<polygon opacity="0" enable-background="new    " points="301,90 325,100 325,80 "/>
<polygon opacity="0" enable-background="new    " points="325,0 349,10 349,-10 "/>
<polygon opacity="0" enable-background="new    " points="325,20 349,30 349,10 "/>
<polygon opacity="0" enable-background="new    " points="349,70 325,80 325,60 "/>
<polygon opacity="0" enable-background="new    " points="373,40 349,50 349,30 "/>
<polygon opacity="0" enable-background="new    " points="373,100 349,110 349,90 "/>
<polygon opacity="0" enable-background="new    " points="349,70 373,80 373,60 "/>
<polygon opacity="0" enable-background="new    " points="469,80 493,90 493,70 "/>
<polygon opacity="0" enable-background="new    " points="493,10 469,20 469,0 "/>
<polygon opacity="0" enable-background="new    " points="493,50 469,60 469,40 "/>
<polygon opacity="0" enable-background="new    " points="421,0 397,10 397,-10 "/>
<polygon opacity="0" enable-background="new    " points="421,20 397,30 397,10 "/>
<polygon opacity="0" enable-background="new    " points="421,80 445,90 445,70 "/>
<polygon opacity="0" enable-background="new    " points="445,30 421,40 421,20 "/>
<polygon opacity="0" enable-background="new    " points="445,110 421,120 421,100 "/>
<polygon opacity="0" enable-background="new    " points="469,0 445,10 445,-10 "/>
<polygon opacity="0" enable-background="new    " points="445,30 469,40 469,20 "/>
<polygon opacity="0" enable-background="new    " points="445,90 469,100 469,80 "/>
<polygon opacity="0" enable-background="new    " points="373,40 397,50 397,30 "/>
<polygon opacity="0" enable-background="new    " points="373,60 397,70 397,50 "/>
<polygon opacity="0" enable-background="new    " points="397,10 373,20 373,0 "/>
<polygon opacity="0" enable-background="new    " points="397,110 373,120 373,100 "/>
<polygon opacity="0" enable-background="new    " points="517,60 493,70 493,50 "/>
<polygon opacity="0" enable-background="new    " points="493,30 517,40 517,20 "/>
<polygon opacity="0" enable-background="new    " points="541,10 565,20 565,0 "/>
<polygon opacity="0" enable-background="new    " points="541,50 565,60 565,40 "/>
<polygon opacity="0" enable-background="new    " points="541,70 565,80 565,60 "/>
<polygon opacity="0" enable-background="new    " points="613,20 637,30 637,10 "/>
<polygon opacity="0" enable-background="new    " points="613,80 637,90 637,70 "/>
<polygon opacity="0" enable-background="new    " points="613,100 637,110 637,90 "/>
<polygon opacity="0" enable-background="new    " points="637,50 613,60 613,40 "/>
<polygon opacity="0" enable-background="new    " points="565,0 589,10 589,-10 "/>
<polygon opacity="0" enable-background="new    " points="565,20 589,30 589,10 "/>
<polygon opacity="0" enable-background="new    " points="565,60 589,70 589,50 "/>
<polygon opacity="0" enable-background="new    " points="565,100 589,110 589,90 "/>
<polygon opacity="0" enable-background="new    " points="517,0 541,10 541,-10 "/>
<polygon opacity="0" enable-background="new    " points="517,40 541,50 541,30 "/>
<polygon opacity="0" enable-background="new    " points="517,60 541,70 541,50 "/>
<polygon opacity="0" enable-background="new    " points="541,90 517,100 517,80 "/>
<polygon opacity="0" enable-background="new    " points="-35,130 -11,140 -11,120 "/>
<polygon opacity="0" enable-background="new    " points="-35,170 -11,180 -11,160 "/>
<polygon opacity="0" enable-background="new    " points="-35,210 -11,220 -11,200 "/>
<polygon opacity="0" enable-background="new    " points="-11,120 13,130 13,110 "/>
<polygon opacity="0" enable-background="new    " points="-11,140 13,150 13,130 "/>
<polygon opacity="0" enable-background="new    " points="13,190 -11,200 -11,180 "/>
<polygon opacity="0" enable-background="new    " points="37,160 13,170 13,150 "/>
<polygon opacity="0" enable-background="new    " points="37,220 13,230 13,210 "/>
<polygon opacity="0" enable-background="new    " points="13,190 37,200 37,180 "/>
<polygon opacity="0" enable-background="new    " points="133,200 157,210 157,190 "/>
<polygon opacity="0" enable-background="new    " points="157,130 133,140 133,120 "/>
<polygon opacity="0" enable-background="new    " points="157,170 133,180 133,160 "/>
<polygon opacity="0" enable-background="new    " points="85,120 61,130 61,110 "/>
<polygon opacity="0" enable-background="new    " points="85,140 61,150 61,130 "/>
<polygon opacity="0" enable-background="new    " points="85,200 109,210 109,190 "/>
<polygon opacity="0" enable-background="new    " points="109,150 85,160 85,140 "/>
<polygon opacity="0" enable-background="new    " points="109,230 85,240 85,220 "/>
<polygon opacity="0" enable-background="new    " points="133,120 109,130 109,110 "/>
<polygon opacity="0" enable-background="new    " points="109,150 133,160 133,140 "/>
<polygon opacity="0" enable-background="new    " points="109,210 133,220 133,200 "/>
<polygon opacity="0" enable-background="new    " points="37,160 61,170 61,150 "/>
<polygon opacity="0" enable-background="new    " points="37,180 61,190 61,170 "/>
<polygon opacity="0" enable-background="new    " points="61,130 37,140 37,120 "/>
<polygon opacity="0" enable-background="new    " points="61,230 37,240 37,220 "/>
<polygon opacity="0" enable-background="new    " points="181,180 157,190 157,170 "/>
<polygon opacity="0" enable-background="new    " points="157,150 181,160 181,140 "/>
<polygon opacity="0" enable-background="new    " points="205,130 229,140 229,120 "/>
<polygon opacity="0" enable-background="new    " points="205,170 229,180 229,160 "/>
<polygon opacity="0" enable-background="new    " points="205,190 229,200 229,180 "/>
<polygon opacity="0" enable-background="new    " points="277,140 301,150 301,130 "/>
<polygon opacity="0" enable-background="new    " points="277,200 301,210 301,190 "/>
<polygon opacity="0" enable-background="new    " points="277,220 301,230 301,210 "/>
<polygon opacity="0" enable-background="new    " points="301,170 277,180 277,160 "/>
<polygon opacity="0" enable-background="new    " points="229,120 253,130 253,110 "/>
<polygon opacity="0" enable-background="new    " points="229,140 253,150 253,130 "/>
<polygon opacity="0" enable-background="new    " points="229,180 253,190 253,170 "/>
<polygon opacity="0" enable-background="new    " points="229,220 253,230 253,210 "/>
<polygon opacity="0" enable-background="new    " points="181,120 205,130 205,110 "/>
<polygon opacity="0" enable-background="new    " points="181,160 205,170 205,150 "/>
<polygon opacity="0" enable-background="new    " points="181,180 205,190 205,170 "/>
<polygon opacity="0" enable-background="new    " points="205,210 181,220 181,200 "/>
<polygon opacity="0" enable-background="new    " points="301,130 325,140 325,120 "/>
<polygon opacity="0" enable-background="new    " points="301,170 325,180 325,160 "/>
<polygon opacity="0" enable-background="new    " points="301,210 325,220 325,200 "/>
<polygon opacity="0" enable-background="new    " points="325,120 349,130 349,110 "/>
<polygon opacity="0" enable-background="new    " points="325,140 349,150 349,130 "/>
<polygon opacity="0" enable-background="new    " points="349,190 325,200 325,180 "/>
<polygon opacity="0" enable-background="new    " points="373,160 349,170 349,150 "/>
<polygon opacity="0" enable-background="new    " points="373,220 349,230 349,210 "/>
<polygon opacity="0" enable-background="new    " points="349,190 373,200 373,180 "/>
<polygon opacity="0" enable-background="new    " points="469,200 493,210 493,190 "/>
<polygon opacity="0" enable-background="new    " points="493,130 469,140 469,120 "/>
<polygon opacity="0" enable-background="new    " points="493,170 469,180 469,160 "/>
<polygon opacity="0" enable-background="new    " points="421,120 397,130 397,110 "/>
<polygon opacity="0" enable-background="new    " points="421,140 397,150 397,130 "/>
<polygon opacity="0" enable-background="new    " points="421,200 445,210 445,190 "/>
<polygon opacity="0" enable-background="new    " points="445,150 421,160 421,140 "/>
<polygon opacity="0" enable-background="new    " points="445,230 421,240 421,220 "/>
<polygon opacity="0" enable-background="new    " points="469,120 445,130 445,110 "/>
<polygon opacity="0" enable-background="new    " points="445,150 469,160 469,140 "/>
<polygon opacity="0" enable-background="new    " points="445,210 469,220 469,200 "/>
<polygon opacity="0" enable-background="new    " points="373,160 397,170 397,150 "/>
<polygon opacity="0" enable-background="new    " points="373,180 397,190 397,170 "/>
<polygon opacity="0" enable-background="new    " points="397,130 373,140 373,120 "/>
<polygon opacity="0" enable-background="new    " points="397,230 373,240 373,220 "/>
<polygon opacity="0" enable-background="new    " points="517,180 493,190 493,170 "/>
<polygon opacity="0" enable-background="new    " points="493,150 517,160 517,140 "/>
<polygon opacity="0" enable-background="new    " points="541,130 565,140 565,120 "/>
<polygon opacity="0" enable-background="new    " points="541,170 565,180 565,160 "/>
<polygon opacity="0" enable-background="new    " points="541,190 565,200 565,180 "/>
<polygon opacity="0" enable-background="new    " points="613,140 637,150 637,130 "/>
<polygon opacity="0" enable-background="new    " points="613,200 637,210 637,190 "/>
<polygon opacity="0" enable-background="new    " points="613,220 637,230 637,210 "/>
<polygon opacity="0" enable-background="new    " points="637,170 613,180 613,160 "/>
<polygon opacity="0" enable-background="new    " points="565,120 589,130 589,110 "/>
<polygon opacity="0" enable-background="new    " points="565,140 589,150 589,130 "/>
<polygon opacity="0" enable-background="new    " points="565,180 589,190 589,170 "/>
<polygon opacity="0" enable-background="new    " points="565,220 589,230 589,210 "/>
<polygon opacity="0" enable-background="new    " points="517,120 541,130 541,110 "/>
<polygon opacity="0" enable-background="new    " points="517,160 541,170 541,150 "/>
<polygon opacity="0" enable-background="new    " points="517,180 541,190 541,170 "/>
<polygon opacity="0" enable-background="new    " points="541,210 517,220 517,200 "/>
<polygon opacity="0" enable-background="new    " points="-35,30 -11,40 -11,20 "/>
<polygon opacity="0" enable-background="new    " points="-11,60 13,70 13,50 "/>
<polygon opacity="0" enable-background="new    " points="13,110 -11,120 -11,100 "/>
<polygon opacity="0" enable-background="new    " points="37,0 13,10 13,-10 "/>
<polygon opacity="0" enable-background="new    " points="13,50 37,60 37,40 "/>
<polygon opacity="0" enable-background="new    " points="13,90 37,100 37,80 "/>
<polygon opacity="0" enable-background="new    " points="133,40 157,50 157,30 "/>
<polygon opacity="0" enable-background="new    " points="85,0 109,10 109,-10 "/>
<polygon opacity="0" enable-background="new    " points="85,40 109,50 109,30 "/>
<polygon opacity="0" enable-background="new    " points="85,60 109,70 109,50 "/>
<polygon opacity="0" enable-background="new    " points="109,90 85,100 85,80 "/>
<polygon opacity="0" enable-background="new    " points="133,20 109,30 109,10 "/>
<polygon opacity="0" enable-background="new    " points="109,70 133,80 133,60 "/>
<polygon opacity="0" enable-background="new    " points="109,110 133,120 133,100 "/>
<polygon opacity="0" enable-background="new    " points="37,80 61,90 61,70 "/>
<polygon opacity="0" enable-background="new    " points="61,30 37,40 37,20 "/>
<polygon opacity="0" enable-background="new    " points="181,0 157,10 157,-10 "/>
<polygon opacity="0" enable-background="new    " points="181,20 157,30 157,10 "/>
<polygon opacity="0" enable-background="new    " points="181,100 157,110 157,90 "/>
<polygon opacity="0" enable-background="new    " points="157,70 181,80 181,60 "/>
<polygon opacity="0" enable-background="new    " points="229,20 205,30 205,10 "/>
<polygon opacity="0" enable-background="new    " points="229,40 205,50 205,30 "/>
<polygon opacity="0" enable-background="new    " points="277,40 253,50 253,30 "/>
<polygon opacity="0" enable-background="new    " points="253,10 277,20 277,0 "/>
<polygon opacity="0" enable-background="new    " points="253,90 277,100 277,80 "/>
<polygon opacity="0" enable-background="new    " points="253,110 277,120 277,100 "/>
<polygon opacity="0" enable-background="new    " points="277,60 301,70 301,50 "/>
<polygon opacity="0" enable-background="new    " points="229,80 253,90 253,70 "/>
<polygon opacity="0" enable-background="new    " points="181,100 205,110 205,90 "/>
<polygon opacity="0" enable-background="new    " points="301,30 325,40 325,20 "/>
<polygon opacity="0" enable-background="new    " points="325,60 349,70 349,50 "/>
<polygon opacity="0" enable-background="new    " points="349,110 325,120 325,100 "/>
<polygon opacity="0" enable-background="new    " points="373,0 349,10 349,-10 "/>
<polygon opacity="0" enable-background="new    " points="349,50 373,60 373,40 "/>
<polygon opacity="0" enable-background="new    " points="349,90 373,100 373,80 "/>
<polygon opacity="0" enable-background="new    " points="469,40 493,50 493,30 "/>
<polygon opacity="0" enable-background="new    " points="421,0 445,10 445,-10 "/>
<polygon opacity="0" enable-background="new    " points="421,40 445,50 445,30 "/>
<polygon opacity="0" enable-background="new    " points="421,60 445,70 445,50 "/>
<polygon opacity="0" enable-background="new    " points="445,90 421,100 421,80 "/>
<polygon opacity="0" enable-background="new    " points="469,20 445,30 445,10 "/>
<polygon opacity="0" enable-background="new    " points="445,70 469,80 469,60 "/>
<polygon opacity="0" enable-background="new    " points="445,110 469,120 469,100 "/>
<polygon opacity="0" enable-background="new    " points="373,80 397,90 397,70 "/>
<polygon opacity="0" enable-background="new    " points="397,30 373,40 373,20 "/>
<polygon opacity="0" enable-background="new    " points="517,0 493,10 493,-10 "/>
<polygon opacity="0" enable-background="new    " points="517,20 493,30 493,10 "/>
<polygon opacity="0" enable-background="new    " points="517,100 493,110 493,90 "/>
<polygon opacity="0" enable-background="new    " points="493,70 517,80 517,60 "/>
<polygon opacity="0" enable-background="new    " points="565,20 541,30 541,10 "/>
<polygon opacity="0" enable-background="new    " points="565,40 541,50 541,30 "/>
<polygon opacity="0" enable-background="new    " points="613,40 589,50 589,30 "/>
<polygon opacity="0" enable-background="new    " points="589,10 613,20 613,0 "/>
<polygon opacity="0" enable-background="new    " points="589,90 613,100 613,80 "/>
<polygon opacity="0" enable-background="new    " points="589,110 613,120 613,100 "/>
<polygon opacity="0" enable-background="new    " points="613,60 637,70 637,50 "/>
<polygon opacity="0" enable-background="new    " points="565,80 589,90 589,70 "/>
<polygon opacity="0" enable-background="new    " points="517,100 541,110 541,90 "/>
<polygon opacity="0" enable-background="new    " points="-35,150 -11,160 -11,140 "/>
<polygon opacity="0" enable-background="new    " points="-11,180 13,190 13,170 "/>
<polygon opacity="0" enable-background="new    " points="13,230 -11,240 -11,220 "/>
<polygon opacity="0" enable-background="new    " points="37,120 13,130 13,110 "/>
<polygon opacity="0" enable-background="new    " points="13,170 37,180 37,160 "/>
<polygon opacity="0" enable-background="new    " points="13,210 37,220 37,200 "/>
<polygon opacity="0" enable-background="new    " points="133,160 157,170 157,150 "/>
<polygon opacity="0" enable-background="new    " points="85,120 109,130 109,110 "/>
<polygon opacity="0" enable-background="new    " points="85,160 109,170 109,150 "/>
<polygon opacity="0" enable-background="new    " points="85,180 109,190 109,170 "/>
<polygon opacity="0" enable-background="new    " points="109,210 85,220 85,200 "/>
<polygon opacity="0" enable-background="new    " points="133,140 109,150 109,130 "/>
<polygon opacity="0" enable-background="new    " points="109,190 133,200 133,180 "/>
<polygon opacity="0" enable-background="new    " points="109,230 133,240 133,220 "/>
<polygon opacity="0" enable-background="new    " points="37,200 61,210 61,190 "/>
<polygon opacity="0" enable-background="new    " points="61,150 37,160 37,140 "/>
<polygon opacity="0" enable-background="new    " points="181,120 157,130 157,110 "/>
<polygon opacity="0" enable-background="new    " points="181,140 157,150 157,130 "/>
<polygon opacity="0" enable-background="new    " points="181,220 157,230 157,210 "/>
<polygon opacity="0" enable-background="new    " points="157,190 181,200 181,180 "/>
<polygon opacity="0" enable-background="new    " points="229,140 205,150 205,130 "/>
<polygon opacity="0" enable-background="new    " points="229,160 205,170 205,150 "/>
<polygon opacity="0" enable-background="new    " points="277,160 253,170 253,150 "/>
<polygon opacity="0" enable-background="new    " points="253,130 277,140 277,120 "/>
<polygon opacity="0" enable-background="new    " points="253,210 277,220 277,200 "/>
<polygon opacity="0" enable-background="new    " points="253,230 277,240 277,220 "/>
<polygon opacity="0" enable-background="new    " points="277,180 301,190 301,170 "/>
<polygon opacity="0" enable-background="new    " points="229,200 253,210 253,190 "/>
<polygon opacity="0" enable-background="new    " points="181,220 205,230 205,210 "/>
<polygon opacity="0" enable-background="new    " points="301,150 325,160 325,140 "/>
<polygon opacity="0" enable-background="new    " points="325,180 349,190 349,170 "/>
<polygon opacity="0" enable-background="new    " points="349,230 325,240 325,220 "/>
<polygon opacity="0" enable-background="new    " points="373,120 349,130 349,110 "/>
<polygon opacity="0" enable-background="new    " points="349,170 373,180 373,160 "/>
<polygon opacity="0" enable-background="new    " points="349,210 373,220 373,200 "/>
<polygon opacity="0" enable-background="new    " points="469,160 493,170 493,150 "/>
<polygon opacity="0" enable-background="new    " points="421,120 445,130 445,110 "/>
<polygon opacity="0" enable-background="new    " points="421,160 445,170 445,150 "/>
<polygon opacity="0" enable-background="new    " points="421,180 445,190 445,170 "/>
<polygon opacity="0" enable-background="new    " points="445,210 421,220 421,200 "/>
<polygon opacity="0" enable-background="new    " points="469,140 445,150 445,130 "/>
<polygon opacity="0" enable-background="new    " points="445,190 469,200 469,180 "/>
<polygon opacity="0" enable-background="new    " points="445,230 469,240 469,220 "/>
<polygon opacity="0" enable-background="new    " points="373,200 397,210 397,190 "/>
<polygon opacity="0" enable-background="new    " points="397,150 373,160 373,140 "/>
<polygon opacity="0" enable-background="new    " points="517,120 493,130 493,110 "/>
<polygon opacity="0" enable-background="new    " points="517,140 493,150 493,130 "/>
<polygon opacity="0" enable-background="new    " points="517,220 493,230 493,210 "/>
<polygon opacity="0" enable-background="new    " points="493,190 517,200 517,180 "/>
<polygon opacity="0" enable-background="new    " points="565,140 541,150 541,130 "/>
<polygon opacity="0" enable-background="new    " points="565,160 541,170 541,150 "/>
<polygon opacity="0" enable-background="new    " points="613,160 589,170 589,150 "/>
<polygon opacity="0" enable-background="new    " points="589,130 613,140 613,120 "/>
<polygon opacity="0" enable-background="new    " points="589,210 613,220 613,200 "/>
<polygon opacity="0" enable-background="new    " points="589,230 613,240 613,220 "/>
<polygon opacity="0" enable-background="new    " points="613,180 637,190 637,170 "/>
<polygon opacity="0" enable-background="new    " points="565,200 589,210 589,190 "/>
<polygon opacity="0" enable-background="new    " points="517,220 541,230 541,210 "/>
<polygon opacity="0" enable-background="new    " points="-11,40 -35,50 -35,30 "/>
<polygon opacity="0" enable-background="new    " points="-11,60 -35,70 -35,50 "/>
<polygon opacity="0" enable-background="new    " points="-11,100 -35,110 -35,90 "/>
<polygon opacity="0" enable-background="new    " points="-11,80 13,90 13,70 "/>
<polygon opacity="0" enable-background="new    " points="37,20 13,30 13,10 "/>
<polygon opacity="0" enable-background="new    " points="157,90 133,100 133,80 "/>
<polygon opacity="0" enable-background="new    " points="85,40 61,50 61,30 "/>
<polygon opacity="0" enable-background="new    " points="61,90 85,100 85,80 "/>
<polygon opacity="0" enable-background="new    " points="133,60 109,70 109,50 "/>
<polygon opacity="0" enable-background="new    " points="37,100 61,110 61,90 "/>
<polygon opacity="0" enable-background="new    " points="61,70 37,80 37,60 "/>
<polygon opacity="0" enable-background="new    " points="157,110 181,120 181,100 "/>
<polygon opacity="0" enable-background="new    " points="229,80 205,90 205,70 "/>
<polygon opacity="0" enable-background="new    " points="205,110 229,120 229,100 "/>
<polygon opacity="0" enable-background="new    " points="277,0 253,10 253,-10 "/>
<polygon opacity="0" enable-background="new    " points="277,80 253,90 253,70 "/>
<polygon opacity="0" enable-background="new    " points="253,30 277,40 277,20 "/>
<polygon opacity="0" enable-background="new    " points="253,50 277,60 277,40 "/>
<polygon opacity="0" enable-background="new    " points="253,30 229,40 229,20 "/>
<polygon opacity="0" enable-background="new    " points="205,10 181,20 181,0 "/>
<polygon opacity="0" enable-background="new    " points="325,40 301,50 301,30 "/>
<polygon opacity="0" enable-background="new    " points="325,60 301,70 301,50 "/>
<polygon opacity="0" enable-background="new    " points="325,100 301,110 301,90 "/>
<polygon opacity="0" enable-background="new    " points="325,80 349,90 349,70 "/>
<polygon opacity="0" enable-background="new    " points="373,20 349,30 349,10 "/>
<polygon opacity="0" enable-background="new    " points="493,90 469,100 469,80 "/>
<polygon opacity="0" enable-background="new    " points="421,40 397,50 397,30 "/>
<polygon opacity="0" enable-background="new    " points="397,90 421,100 421,80 "/>
<polygon opacity="0" enable-background="new    " points="469,60 445,70 445,50 "/>
<polygon opacity="0" enable-background="new    " points="373,100 397,110 397,90 "/>
<polygon opacity="0" enable-background="new    " points="397,70 373,80 373,60 "/>
<polygon opacity="0" enable-background="new    " points="493,110 517,120 517,100 "/>
<polygon opacity="0" enable-background="new    " points="565,80 541,90 541,70 "/>
<polygon opacity="0" enable-background="new    " points="541,110 565,120 565,100 "/>
<polygon opacity="0" enable-background="new    " points="613,0 589,10 589,-10 "/>
<polygon opacity="0" enable-background="new    " points="613,80 589,90 589,70 "/>
<polygon opacity="0" enable-background="new    " points="589,30 613,40 613,20 "/>
<polygon opacity="0" enable-background="new    " points="589,50 613,60 613,40 "/>
<polygon opacity="0" enable-background="new    " points="589,30 565,40 565,20 "/>
<polygon opacity="0" enable-background="new    " points="541,10 517,20 517,0 "/>
<polygon opacity="0" enable-background="new    " points="-11,160 -35,170 -35,150 "/>
<polygon opacity="0" enable-background="new    " points="-11,180 -35,190 -35,170 "/>
<polygon opacity="0" enable-background="new    " points="-11,220 -35,230 -35,210 "/>
<polygon opacity="0" enable-background="new    " points="-11,200 13,210 13,190 "/>
<polygon opacity="0" enable-background="new    " points="37,140 13,150 13,130 "/>
<polygon opacity="0" enable-background="new    " points="157,210 133,220 133,200 "/>
<polygon opacity="0" enable-background="new    " points="85,160 61,170 61,150 "/>
<polygon opacity="0" enable-background="new    " points="61,210 85,220 85,200 "/>
<polygon opacity="0" enable-background="new    " points="133,180 109,190 109,170 "/>
<polygon opacity="0" enable-background="new    " points="37,220 61,230 61,210 "/>
<polygon opacity="0" enable-background="new    " points="61,190 37,200 37,180 "/>
<polygon opacity="0" enable-background="new    " points="157,230 181,240 181,220 "/>
<polygon opacity="0" enable-background="new    " points="229,200 205,210 205,190 "/>
<polygon opacity="0" enable-background="new    " points="205,230 229,240 229,220 "/>
<polygon opacity="0" enable-background="new    " points="277,120 253,130 253,110 "/>
<polygon opacity="0" enable-background="new    " points="277,200 253,210 253,190 "/>
<polygon opacity="0" enable-background="new    " points="253,150 277,160 277,140 "/>
<polygon opacity="0" enable-background="new    " points="253,170 277,180 277,160 "/>
<polygon opacity="0" enable-background="new    " points="253,150 229,160 229,140 "/>
<polygon opacity="0" enable-background="new    " points="205,130 181,140 181,120 "/>
<polygon opacity="0" enable-background="new    " points="325,160 301,170 301,150 "/>
<polygon opacity="0" enable-background="new    " points="325,180 301,190 301,170 "/>
<polygon opacity="0" enable-background="new    " points="325,220 301,230 301,210 "/>
<polygon opacity="0" enable-background="new    " points="325,200 349,210 349,190 "/>
<polygon opacity="0" enable-background="new    " points="373,140 349,150 349,130 "/>
<polygon opacity="0" enable-background="new    " points="493,210 469,220 469,200 "/>
<polygon opacity="0" enable-background="new    " points="421,160 397,170 397,150 "/>
<polygon opacity="0" enable-background="new    " points="397,210 421,220 421,200 "/>
<polygon opacity="0" enable-background="new    " points="469,180 445,190 445,170 "/>
<polygon opacity="0" enable-background="new    " points="373,220 397,230 397,210 "/>
<polygon opacity="0" enable-background="new    " points="397,190 373,200 373,180 "/>
<polygon opacity="0" enable-background="new    " points="493,230 517,240 517,220 "/>
<polygon opacity="0" enable-background="new    " points="565,200 541,210 541,190 "/>
<polygon opacity="0" enable-background="new    " points="541,230 565,240 565,220 "/>
<polygon opacity="0" enable-background="new    " points="613,120 589,130 589,110 "/>
<polygon opacity="0" enable-background="new    " points="613,200 589,210 589,190 "/>
<polygon opacity="0" enable-background="new    " points="589,150 613,160 613,140 "/>
<polygon opacity="0" enable-background="new    " points="589,170 613,180 613,160 "/>
<polygon opacity="0" enable-background="new    " points="589,150 565,160 565,140 "/>
<polygon opacity="0" enable-background="new    " points="541,130 517,140 517,120 "/>
<polygon opacity="0" enable-background="new    " points="-11,20 -35,30 -35,10 "/>
<polygon opacity="0" enable-background="new    " points="-11,80 -35,90 -35,70 "/>
<polygon opacity="0" enable-background="new    " points="-11,40 13,50 13,30 "/>
<polygon opacity="0" enable-background="new    " points="-11,100 13,110 13,90 "/>
<polygon opacity="0" enable-background="new    " points="37,60 13,70 13,50 "/>
<polygon opacity="0" enable-background="new    " points="13,10 37,20 37,0 "/>
<polygon opacity="0" enable-background="new    " points="13,30 37,40 37,20 "/>
<polygon opacity="0" enable-background="new    " points="13,110 37,120 37,100 "/>
<polygon opacity="0" enable-background="new    " points="133,0 157,10 157,-10 "/>
<polygon opacity="0" enable-background="new    " points="133,20 157,30 157,10 "/>
<polygon opacity="0" enable-background="new    " points="133,60 157,70 157,50 "/>
<polygon opacity="0" enable-background="new    " points="133,100 157,110 157,90 "/>
<polygon opacity="0" enable-background="new    " points="85,60 61,70 61,50 "/>
<polygon opacity="0" enable-background="new    " points="85,80 61,90 61,70 "/>
<polygon opacity="0" enable-background="new    " points="85,100 61,110 61,90 "/>
<polygon opacity="0" enable-background="new    " points="85,100 109,110 109,90 "/>
<polygon opacity="0" enable-background="new    " points="109,10 85,20 85,0 "/>
<polygon opacity="0" enable-background="new    " points="109,50 85,60 85,40 "/>
<polygon opacity="0" enable-background="new    " points="133,40 109,50 109,30 "/>
<polygon opacity="0" enable-background="new    " points="133,80 109,90 109,70 "/>
<polygon opacity="0" enable-background="new    " points="181,80 157,90 157,70 "/>
<polygon opacity="0" enable-background="new    " points="157,50 181,60 181,40 "/>
<polygon opacity="0" enable-background="new    " points="229,0 205,10 205,-10 "/>
<polygon opacity="0" enable-background="new    " points="229,60 205,70 205,50 "/>
<polygon opacity="0" enable-background="new    " points="229,100 205,110 205,90 "/>
<polygon opacity="0" enable-background="new    " points="277,60 253,70 253,50 "/>
<polygon opacity="0" enable-background="new    " points="277,40 301,50 301,30 "/>
<polygon opacity="0" enable-background="new    " points="301,10 277,20 277,0 "/>
<polygon opacity="0" enable-background="new    " points="301,70 277,80 277,60 "/>
<polygon opacity="0" enable-background="new    " points="301,110 277,120 277,100 "/>
<polygon opacity="0" enable-background="new    " points="229,40 253,50 253,30 "/>
<polygon opacity="0" enable-background="new    " points="253,10 229,20 229,0 "/>
<polygon opacity="0" enable-background="new    " points="253,70 229,80 229,60 "/>
<polygon opacity="0" enable-background="new    " points="253,90 229,100 229,80 "/>
<polygon opacity="0" enable-background="new    " points="253,110 229,120 229,100 "/>
<polygon opacity="0" enable-background="new    " points="181,20 205,30 205,10 "/>
<polygon opacity="0" enable-background="new    " points="181,80 205,90 205,70 "/>
<polygon opacity="0" enable-background="new    " points="325,20 301,30 301,10 "/>
<polygon opacity="0" enable-background="new    " points="325,80 301,90 301,70 "/>
<polygon opacity="0" enable-background="new    " points="325,40 349,50 349,30 "/>
<polygon opacity="0" enable-background="new    " points="325,100 349,110 349,90 "/>
<polygon opacity="0" enable-background="new    " points="373,60 349,70 349,50 "/>
<polygon opacity="0" enable-background="new    " points="349,10 373,20 373,0 "/>
<polygon opacity="0" enable-background="new    " points="349,30 373,40 373,20 "/>
<polygon opacity="0" enable-background="new    " points="349,110 373,120 373,100 "/>
<polygon opacity="0" enable-background="new    " points="469,0 493,10 493,-10 "/>
<polygon opacity="0" enable-background="new    " points="469,20 493,30 493,10 "/>
<polygon opacity="0" enable-background="new    " points="469,60 493,70 493,50 "/>
<polygon opacity="0" enable-background="new    " points="469,100 493,110 493,90 "/>
<polygon opacity="0" enable-background="new    " points="421,60 397,70 397,50 "/>
<polygon opacity="0" enable-background="new    " points="421,80 397,90 397,70 "/>
<polygon opacity="0" enable-background="new    " points="421,100 397,110 397,90 "/>
<polygon opacity="0" enable-background="new    " points="421,100 445,110 445,90 "/>
<polygon opacity="0" enable-background="new    " points="445,10 421,20 421,0 "/>
<polygon opacity="0" enable-background="new    " points="445,50 421,60 421,40 "/>
<polygon opacity="0" enable-background="new    " points="469,40 445,50 445,30 "/>
<polygon opacity="0" enable-background="new    " points="469,80 445,90 445,70 "/>
<polygon opacity="0" enable-background="new    " points="517,80 493,90 493,70 "/>
<polygon opacity="0" enable-background="new    " points="493,50 517,60 517,40 "/>
<polygon opacity="0" enable-background="new    " points="565,0 541,10 541,-10 "/>
<polygon opacity="0" enable-background="new    " points="565,60 541,70 541,50 "/>
<polygon opacity="0" enable-background="new    " points="565,100 541,110 541,90 "/>
<polygon opacity="0" enable-background="new    " points="613,60 589,70 589,50 "/>
<polygon opacity="0" enable-background="new    " points="613,40 637,50 637,30 "/>
<polygon opacity="0" enable-background="new    " points="637,10 613,20 613,0 "/>
<polygon opacity="0" enable-background="new    " points="637,70 613,80 613,60 "/>
<polygon opacity="0" enable-background="new    " points="637,110 613,120 613,100 "/>
<polygon opacity="0" enable-background="new    " points="565,40 589,50 589,30 "/>
<polygon opacity="0" enable-background="new    " points="589,10 565,20 565,0 "/>
<polygon opacity="0" enable-background="new    " points="589,70 565,80 565,60 "/>
<polygon opacity="0" enable-background="new    " points="589,90 565,100 565,80 "/>
<polygon opacity="0" enable-background="new    " points="589,110 565,120 565,100 "/>
<polygon opacity="0" enable-background="new    " points="517,20 541,30 541,10 "/>
<polygon opacity="0" enable-background="new    " points="517,80 541,90 541,70 "/>
<polygon opacity="0" enable-background="new    " points="-11,140 -35,150 -35,130 "/>
<polygon opacity="0" enable-background="new    " points="-11,200 -35,210 -35,190 "/>
<polygon opacity="0" enable-background="new    " points="-11,160 13,170 13,150 "/>
<polygon opacity="0" enable-background="new    " points="-11,220 13,230 13,210 "/>
<polygon opacity="0" enable-background="new    " points="37,180 13,190 13,170 "/>
<polygon opacity="0" enable-background="new    " points="13,130 37,140 37,120 "/>
<polygon opacity="0" enable-background="new    " points="13,150 37,160 37,140 "/>
<polygon opacity="0" enable-background="new    " points="13,230 37,240 37,220 "/>
<polygon opacity="0" enable-background="new    " points="133,120 157,130 157,110 "/>
<polygon opacity="0" enable-background="new    " points="133,140 157,150 157,130 "/>
<polygon opacity="0" enable-background="new    " points="133,180 157,190 157,170 "/>
<polygon opacity="0" enable-background="new    " points="133,220 157,230 157,210 "/>
<polygon opacity="0" enable-background="new    " points="85,180 61,190 61,170 "/>
<polygon opacity="0" enable-background="new    " points="85,200 61,210 61,190 "/>
<polygon opacity="0" enable-background="new    " points="85,220 61,230 61,210 "/>
<polygon opacity="0" enable-background="new    " points="85,220 109,230 109,210 "/>
<polygon opacity="0" enable-background="new    " points="109,130 85,140 85,120 "/>
<polygon opacity="0" enable-background="new    " points="109,170 85,180 85,160 "/>
<polygon opacity="0" enable-background="new    " points="133,160 109,170 109,150 "/>
<polygon opacity="0" enable-background="new    " points="133,200 109,210 109,190 "/>
<polygon opacity="0" enable-background="new    " points="181,200 157,210 157,190 "/>
<polygon opacity="0" enable-background="new    " points="157,170 181,180 181,160 "/>
<polygon opacity="0" enable-background="new    " points="229,120 205,130 205,110 "/>
<polygon opacity="0" enable-background="new    " points="229,180 205,190 205,170 "/>
<polygon opacity="0" enable-background="new    " points="229,220 205,230 205,210 "/>
<polygon opacity="0" enable-background="new    " points="277,180 253,190 253,170 "/>
<polygon opacity="0" enable-background="new    " points="277,160 301,170 301,150 "/>
<polygon opacity="0" enable-background="new    " points="301,130 277,140 277,120 "/>
<polygon opacity="0" enable-background="new    " points="301,190 277,200 277,180 "/>
<polygon opacity="0" enable-background="new    " points="301,230 277,240 277,220 "/>
<polygon opacity="0" enable-background="new    " points="229,160 253,170 253,150 "/>
<polygon opacity="0" enable-background="new    " points="253,130 229,140 229,120 "/>
<polygon opacity="0" enable-background="new    " points="253,190 229,200 229,180 "/>
<polygon opacity="0" enable-background="new    " points="253,210 229,220 229,200 "/>
<polygon opacity="0" enable-background="new    " points="253,230 229,240 229,220 "/>
<polygon opacity="0" enable-background="new    " points="181,140 205,150 205,130 "/>
<polygon opacity="0" enable-background="new    " points="181,200 205,210 205,190 "/>
<polygon opacity="0" enable-background="new    " points="325,140 301,150 301,130 "/>
<polygon opacity="0" enable-background="new    " points="325,200 301,210 301,190 "/>
<polygon opacity="0" enable-background="new    " points="325,160 349,170 349,150 "/>
<polygon opacity="0" enable-background="new    " points="325,220 349,230 349,210 "/>
<polygon opacity="0" enable-background="new    " points="373,180 349,190 349,170 "/>
<polygon opacity="0" enable-background="new    " points="349,130 373,140 373,120 "/>
<polygon opacity="0" enable-background="new    " points="349,150 373,160 373,140 "/>
<polygon opacity="0" enable-background="new    " points="349,230 373,240 373,220 "/>
<polygon opacity="0" enable-background="new    " points="469,120 493,130 493,110 "/>
<polygon opacity="0" enable-background="new    " points="469,140 493,150 493,130 "/>
<polygon opacity="0" enable-background="new    " points="469,180 493,190 493,170 "/>
<polygon opacity="0" enable-background="new    " points="469,220 493,230 493,210 "/>
<polygon opacity="0" enable-background="new    " points="421,180 397,190 397,170 "/>
<polygon opacity="0" enable-background="new    " points="421,200 397,210 397,190 "/>
<polygon opacity="0" enable-background="new    " points="421,220 397,230 397,210 "/>
<polygon opacity="0" enable-background="new    " points="421,220 445,230 445,210 "/>
<polygon opacity="0" enable-background="new    " points="445,130 421,140 421,120 "/>
<polygon opacity="0" enable-background="new    " points="445,170 421,180 421,160 "/>
<polygon opacity="0" enable-background="new    " points="469,160 445,170 445,150 "/>
<polygon opacity="0" enable-background="new    " points="469,200 445,210 445,190 "/>
<polygon opacity="0" enable-background="new    " points="517,200 493,210 493,190 "/>
<polygon opacity="0" enable-background="new    " points="493,170 517,180 517,160 "/>
<polygon opacity="0" enable-background="new    " points="565,120 541,130 541,110 "/>
<polygon opacity="0" enable-background="new    " points="565,180 541,190 541,170 "/>
<polygon opacity="0" enable-background="new    " points="565,220 541,230 541,210 "/>
<polygon opacity="0" enable-background="new    " points="613,180 589,190 589,170 "/>
<polygon opacity="0" enable-background="new    " points="613,160 637,170 637,150 "/>
<polygon opacity="0" enable-background="new    " points="637,130 613,140 613,120 "/>
<polygon opacity="0" enable-background="new    " points="637,190 613,200 613,180 "/>
<polygon opacity="0" enable-background="new    " points="637,230 613,240 613,220 "/>
<polygon opacity="0" enable-background="new    " points="565,160 589,170 589,150 "/>
<polygon opacity="0" enable-background="new    " points="589,130 565,140 565,120 "/>
<polygon opacity="0" enable-background="new    " points="589,190 565,200 565,180 "/>
<polygon opacity="0" enable-background="new    " points="589,210 565,220 565,200 "/>
<polygon opacity="0" enable-background="new    " points="589,230 565,240 565,220 "/>
<polygon opacity="0" enable-background="new    " points="517,140 541,150 541,130 "/>
<polygon opacity="0" enable-background="new    " points="517,200 541,210 541,190 "/>
<polygon opacity="0" enable-background="new    " points="-11,0 -35,10 -35,-10 "/>
<polygon opacity="0" enable-background="new    " points="-35,70 -11,80 -11,60 "/>
<polygon opacity="0" enable-background="new    " points="-35,110 -11,120 -11,100 "/>
<polygon opacity="0" enable-background="new    " points="13,10 -11,20 -11,0 "/>
<polygon opacity="0" enable-background="new    " points="13,30 -11,40 -11,20 "/>
<polygon opacity="0" enable-background="new    " points="13,50 -11,60 -11,40 "/>
<polygon opacity="0" enable-background="new    " points="13,90 -11,100 -11,80 "/>
<polygon opacity="0" enable-background="new    " points="37,80 13,90 13,70 "/>
<polygon opacity="0" enable-background="new    " points="157,30 133,40 133,20 "/>
<polygon opacity="0" enable-background="new    " points="157,110 133,120 133,100 "/>
<polygon opacity="0" enable-background="new    " points="61,10 85,20 85,0 "/>
<polygon opacity="0" enable-background="new    " points="61,30 85,40 85,20 "/>
<polygon opacity="0" enable-background="new    " points="61,50 85,60 85,40 "/>
<polygon opacity="0" enable-background="new    " points="61,70 85,80 85,60 "/>
<polygon opacity="0" enable-background="new    " points="61,110 85,120 85,100 "/>
<polygon opacity="0" enable-background="new    " points="85,20 109,30 109,10 "/>
<polygon opacity="0" enable-background="new    " points="109,70 85,80 85,60 "/>
<polygon opacity="0" enable-background="new    " points="133,100 109,110 109,90 "/>
<polygon opacity="0" enable-background="new    " points="109,10 133,20 133,0 "/>
<polygon opacity="0" enable-background="new    " points="109,50 133,60 133,40 "/>
<polygon opacity="0" enable-background="new    " points="37,0 61,10 61,-10 "/>
<polygon opacity="0" enable-background="new    " points="37,20 61,30 61,10 "/>
<polygon opacity="0" enable-background="new    " points="61,50 37,60 37,40 "/>
<polygon opacity="0" enable-background="new    " points="61,90 37,100 37,80 "/>
<polygon opacity="0" enable-background="new    " points="181,40 157,50 157,30 "/>
<polygon opacity="0" enable-background="new    " points="157,10 181,20 181,0 "/>
<polygon opacity="0" enable-background="new    " points="157,90 181,100 181,80 "/>
<polygon opacity="0" enable-background="new    " points="205,30 229,40 229,20 "/>
<polygon opacity="0" enable-background="new    " points="205,90 229,100 229,80 "/>
<polygon opacity="0" enable-background="new    " points="277,20 253,30 253,10 "/>
<polygon opacity="0" enable-background="new    " points="277,100 253,110 253,90 "/>
<polygon opacity="0" enable-background="new    " points="253,70 277,80 277,60 "/>
<polygon opacity="0" enable-background="new    " points="277,0 301,10 301,-10 "/>
<polygon opacity="0" enable-background="new    " points="301,30 277,40 277,20 "/>
<polygon opacity="0" enable-background="new    " points="301,90 277,100 277,80 "/>
<polygon opacity="0" enable-background="new    " points="253,50 229,60 229,40 "/>
<polygon opacity="0" enable-background="new    " points="205,30 181,40 181,20 "/>
<polygon opacity="0" enable-background="new    " points="205,50 181,60 181,40 "/>
<polygon opacity="0" enable-background="new    " points="205,70 181,80 181,60 "/>
<polygon opacity="0" enable-background="new    " points="205,110 181,120 181,100 "/>
<polygon opacity="0" enable-background="new    " points="157,70 133,80 133,60 "/>
<polygon opacity="0" enable-background="new    " points="325,0 301,10 301,-10 "/>
<polygon opacity="0" enable-background="new    " points="301,70 325,80 325,60 "/>
<polygon opacity="0" enable-background="new    " points="301,110 325,120 325,100 "/>
<polygon opacity="0" enable-background="new    " points="349,10 325,20 325,0 "/>
<polygon opacity="0" enable-background="new    " points="349,30 325,40 325,20 "/>
<polygon opacity="0" enable-background="new    " points="349,50 325,60 325,40 "/>
<polygon opacity="0" enable-background="new    " points="349,90 325,100 325,80 "/>
<polygon opacity="0" enable-background="new    " points="373,80 349,90 349,70 "/>
<polygon opacity="0" enable-background="new    " points="493,30 469,40 469,20 "/>
<polygon opacity="0" enable-background="new    " points="493,110 469,120 469,100 "/>
<polygon opacity="0" enable-background="new    " points="397,10 421,20 421,0 "/>
<polygon opacity="0" enable-background="new    " points="397,30 421,40 421,20 "/>
<polygon opacity="0" enable-background="new    " points="397,50 421,60 421,40 "/>
<polygon opacity="0" enable-background="new    " points="397,70 421,80 421,60 "/>
<polygon opacity="0" enable-background="new    " points="397,110 421,120 421,100 "/>
<polygon opacity="0" enable-background="new    " points="421,20 445,30 445,10 "/>
<polygon opacity="0" enable-background="new    " points="445,70 421,80 421,60 "/>
<polygon opacity="0" enable-background="new    " points="469,100 445,110 445,90 "/>
<polygon opacity="0" enable-background="new    " points="445,10 469,20 469,0 "/>
<polygon opacity="0" enable-background="new    " points="445,50 469,60 469,40 "/>
<polygon opacity="0" enable-background="new    " points="373,0 397,10 397,-10 "/>
<polygon opacity="0" enable-background="new    " points="373,20 397,30 397,10 "/>
<polygon opacity="0" enable-background="new    " points="397,50 373,60 373,40 "/>
<polygon opacity="0" enable-background="new    " points="397,90 373,100 373,80 "/>
<polygon opacity="0" enable-background="new    " points="517,40 493,50 493,30 "/>
<polygon opacity="0" enable-background="new    " points="493,10 517,20 517,0 "/>
<polygon opacity="0" enable-background="new    " points="493,90 517,100 517,80 "/>
<polygon opacity="0" enable-background="new    " points="541,30 565,40 565,20 "/>
<polygon opacity="0" enable-background="new    " points="541,90 565,100 565,80 "/>
<polygon opacity="0" enable-background="new    " points="613,20 589,30 589,10 "/>
<polygon opacity="0" enable-background="new    " points="613,100 589,110 589,90 "/>
<polygon opacity="0" enable-background="new    " points="589,70 613,80 613,60 "/>
<polygon opacity="0" enable-background="new    " points="613,0 637,10 637,-10 "/>
<polygon opacity="0" enable-background="new    " points="637,30 613,40 613,20 "/>
<polygon opacity="0" enable-background="new    " points="637,90 613,100 613,80 "/>
<polygon opacity="0" enable-background="new    " points="589,50 565,60 565,40 "/>
<polygon opacity="0" enable-background="new    " points="541,30 517,40 517,20 "/>
<polygon opacity="0" enable-background="new    " points="541,50 517,60 517,40 "/>
<polygon opacity="0" enable-background="new    " points="541,70 517,80 517,60 "/>
<polygon opacity="0" enable-background="new    " points="541,110 517,120 517,100 "/>
<polygon opacity="0" enable-background="new    " points="493,70 469,80 469,60 "/>
<polygon opacity="0" enable-background="new    " points="-11,120 -35,130 -35,110 "/>
<polygon opacity="0" enable-background="new    " points="-35,190 -11,200 -11,180 "/>
<polygon opacity="0" enable-background="new    " points="-35,230 -11,240 -11,220 "/>
<polygon opacity="0" enable-background="new    " points="13,130 -11,140 -11,120 "/>
<polygon opacity="0" enable-background="new    " points="13,150 -11,160 -11,140 "/>
<polygon opacity="0" enable-background="new    " points="13,170 -11,180 -11,160 "/>
<polygon opacity="0" enable-background="new    " points="13,210 -11,220 -11,200 "/>
<polygon opacity="0" enable-background="new    " points="37,200 13,210 13,190 "/>
<polygon opacity="0" enable-background="new    " points="157,150 133,160 133,140 "/>
<polygon opacity="0" enable-background="new    " points="157,230 133,240 133,220 "/>
<polygon opacity="0" enable-background="new    " points="61,130 85,140 85,120 "/>
<polygon opacity="0" enable-background="new    " points="61,150 85,160 85,140 "/>
<polygon opacity="0" enable-background="new    " points="61,170 85,180 85,160 "/>
<polygon opacity="0" enable-background="new    " points="61,190 85,200 85,180 "/>
<polygon opacity="0" enable-background="new    " points="61,230 85,240 85,220 "/>
<polygon opacity="0" enable-background="new    " points="85,140 109,150 109,130 "/>
<polygon opacity="0" enable-background="new    " points="109,190 85,200 85,180 "/>
<polygon opacity="0" enable-background="new    " points="133,220 109,230 109,210 "/>
<polygon opacity="0" enable-background="new    " points="109,130 133,140 133,120 "/>
<polygon opacity="0" enable-background="new    " points="109,170 133,180 133,160 "/>
<polygon opacity="0" enable-background="new    " points="37,120 61,130 61,110 "/>
<polygon opacity="0" enable-background="new    " points="37,140 61,150 61,130 "/>
<polygon opacity="0" enable-background="new    " points="61,170 37,180 37,160 "/>
<polygon opacity="0" enable-background="new    " points="61,210 37,220 37,200 "/>
<polygon opacity="0" enable-background="new    " points="181,160 157,170 157,150 "/>
<polygon opacity="0" enable-background="new    " points="157,130 181,140 181,120 "/>
<polygon opacity="0" enable-background="new    " points="157,210 181,220 181,200 "/>
<polygon opacity="0" enable-background="new    " points="205,150 229,160 229,140 "/>
<polygon opacity="0" enable-background="new    " points="205,210 229,220 229,200 "/>
<polygon opacity="0" enable-background="new    " points="277,140 253,150 253,130 "/>
<polygon opacity="0" enable-background="new    " points="277,220 253,230 253,210 "/>
<polygon opacity="0" enable-background="new    " points="253,190 277,200 277,180 "/>
<polygon opacity="0" enable-background="new    " points="277,120 301,130 301,110 "/>
<polygon opacity="0" enable-background="new    " points="301,150 277,160 277,140 "/>
<polygon opacity="0" enable-background="new    " points="301,210 277,220 277,200 "/>
<polygon opacity="0" enable-background="new    " points="253,170 229,180 229,160 "/>
<polygon opacity="0" enable-background="new    " points="205,150 181,160 181,140 "/>
<polygon opacity="0" enable-background="new    " points="205,170 181,180 181,160 "/>
<polygon opacity="0" enable-background="new    " points="205,190 181,200 181,180 "/>
<polygon opacity="0" enable-background="new    " points="205,230 181,240 181,220 "/>
<polygon opacity="0" enable-background="new    " points="157,190 133,200 133,180 "/>
<polygon opacity="0" enable-background="new    " points="325,120 301,130 301,110 "/>
<polygon opacity="0" enable-background="new    " points="301,190 325,200 325,180 "/>
<polygon opacity="0" enable-background="new    " points="301,230 325,240 325,220 "/>
<polygon opacity="0" enable-background="new    " points="349,130 325,140 325,120 "/>
<polygon opacity="0" enable-background="new    " points="349,150 325,160 325,140 "/>
<polygon opacity="0" enable-background="new    " points="349,170 325,180 325,160 "/>
<polygon opacity="0" enable-background="new    " points="349,210 325,220 325,200 "/>
<polygon opacity="0" enable-background="new    " points="373,200 349,210 349,190 "/>
<polygon opacity="0" enable-background="new    " points="493,150 469,160 469,140 "/>
<polygon opacity="0" enable-background="new    " points="493,230 469,240 469,220 "/>
<polygon opacity="0" enable-background="new    " points="397,130 421,140 421,120 "/>
<polygon opacity="0" enable-background="new    " points="397,150 421,160 421,140 "/>
<polygon opacity="0" enable-background="new    " points="397,170 421,180 421,160 "/>
<polygon opacity="0" enable-background="new    " points="397,190 421,200 421,180 "/>
<polygon opacity="0" enable-background="new    " points="397,230 421,240 421,220 "/>
<polygon opacity="0" enable-background="new    " points="421,140 445,150 445,130 "/>
<polygon opacity="0" enable-background="new    " points="445,190 421,200 421,180 "/>
<polygon opacity="0" enable-background="new    " points="469,220 445,230 445,210 "/>
<polygon opacity="0" enable-background="new    " points="445,130 469,140 469,120 "/>
<polygon opacity="0" enable-background="new    " points="445,170 469,180 469,160 "/>
<polygon opacity="0" enable-background="new    " points="373,120 397,130 397,110 "/>
<polygon opacity="0" enable-background="new    " points="373,140 397,150 397,130 "/>
<polygon opacity="0" enable-background="new    " points="397,170 373,180 373,160 "/>
<polygon opacity="0" enable-background="new    " points="397,210 373,220 373,200 "/>
<polygon opacity="0" enable-background="new    " points="517,160 493,170 493,150 "/>
<polygon opacity="0" enable-background="new    " points="493,130 517,140 517,120 "/>
<polygon opacity="0" enable-background="new    " points="493,210 517,220 517,200 "/>
<polygon opacity="0" enable-background="new    " points="541,150 565,160 565,140 "/>
<polygon opacity="0" enable-background="new    " points="541,210 565,220 565,200 "/>
<polygon opacity="0" enable-background="new    " points="613,140 589,150 589,130 "/>
<polygon opacity="0" enable-background="new    " points="613,220 589,230 589,210 "/>
<polygon opacity="0" enable-background="new    " points="589,190 613,200 613,180 "/>
<polygon opacity="0" enable-background="new    " points="613,120 637,130 637,110 "/>
<polygon opacity="0" enable-background="new    " points="637,150 613,160 613,140 "/>
<polygon opacity="0" enable-background="new    " points="637,210 613,220 613,200 "/>
<polygon opacity="0" enable-background="new    " points="589,170 565,180 565,160 "/>
<polygon opacity="0" enable-background="new    " points="541,150 517,160 517,140 "/>
<polygon opacity="0" enable-background="new    " points="541,170 517,180 517,160 "/>
<polygon opacity="0" enable-background="new    " points="541,190 517,200 517,180 "/>
<polygon opacity="0" enable-background="new    " points="541,230 517,240 517,220 "/>
<polygon opacity="0" enable-background="new    " points="493,190 469,200 469,180 "/>
</svg>
