.btn{
    font-weight: 600;
    border-radius: 50px;
}

.btn-sm{
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
}

.btn-info {
    color: #fff;
    border-color: rgba(255,255,255,.4);
    background-color: $white-transparent-bg;
    border-width: 2px;
}

@media (max-width: 768px) {
    .btn-explain{
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 440px) {
    .btn-explain{
        width: 65%;
        margin-top: 10px;
    }
}



.btn-info-2 {
    color: $sciblue-bg;
    border-color: $sciblue-light-bg;
    background-color: $white-transparent-bg;
    border-width:2px;
    font-weight:600;
}
.btn-info-2:hover,
.btn-info-2:focus,
.btn-info-2.focus,
.btn-info-2:active,
.btn-info-2.active,
.open > .dropdown-toggle.btn-info-2 {
    color: #FFF !important;
    background-color: $sciblue-bg;
    border-color: $sciblue-bg;
    text-decoration:none;
}


@media (max-width: 768px) {

    .btn {
        font-size:12px !important;
    }
}

