.btn{
    font-weight: 600;
    border-radius: 50px;
}

.btn-sm{
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
}

.btn-default{
    color: #fff;
    border-color: $sciblue;
    background-color: $sciblue;
    border-width: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    }

.btn-default:hover {
    color: #fff;
    border-color: rgba(4,86,111,1);
    background-color: rgba(4,86,111,1);
    text-decoration: none;
    }


.btn-default-orange{
    color: #fff;
    border-color: $orange;
    background-color: $orange;
    border-width: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    }

.btn-default-orange:hover {
    color: #fff;
    border-color: $orange;
    background-color: $orange;
    text-decoration: none;
    }



.btn-info {
    color: #fff;
    border-color: rgba(255,255,255,.4);
    background-color: $white-transparent-bg;
    border-width: 2px;
}

@media (max-width: 768px) {
    .btn-explain{
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 440px) {
    .btn-explain{
        width: 65%;
        margin-top: 10px;
    }
}



.btn-info-2,
.btn-google-vr {
    color: $sciblue-bg;
    border-color: $sciblue-bg;
    background-color: $white;
    border-width:2px;
    font-weight:600;
    border-radius: 2px;
}

.btn-google-vr {
    margin-top: 30px;
    color: #562b02;
    border-color: #562b02;
}

.btn-google-vr:hover,
.btn-google-vr:focus,
.btn-google-vr.focus,
.btn-google-vr:active,
.btn-google-vr.active,
.open > .dropdown-toggle.btn-info-2 {
    color: #FFF !important;
    background-color: #562b02;
    border-color: #562b02;
    text-decoration:none;
}

.btn-info-2:hover,
.btn-info-2:focus,
.btn-info-2.focus,
.btn-info-2:active,
.btn-info-2.active,
.open > .dropdown-toggle.btn-info-2 {
    color: #FFF !important;
    background-color: $sciblue-bg;
    border-color: $sciblue-bg;
    text-decoration:none;
}


@media (max-width: 768px) {

    .btn {
        font-size:12px !important;
    }
}

