.cc_container {
    background: $quotes-bg !important;
    color: $white !important;
}
.cc_container .cc_btn, .cc_container .cc_btn:visited {
    background-color: white !important;
    color: $sciblue-font !important;
}

.cc_btn {
    color: $blue-link;
}

.cc_container a, .cc_container a:visited {
    text-decoration: none !important;
    color: $white;
    transition: color 200ms ease 0s;
}
.cc_container a, .cc_container a:visited {
    color: $white !important;
}

.cc_more_info {
    font-weight: bold !important;
}

.cc_message {
    color: $white !important;
}
