.jumbotron {
    padding: 30px 15px;
    margin-bottom: 0px;
    color: inherit;
    right:0;left:0;top:0;bottom:0;
    overflow:hidden;
    background: $quotes-bg url("/assets/img/science-icons-bg.png") repeat fixed center top;
    background-attachment:fixed;
    height: auto;
}

.jumbotron h1, 
.jumbotron h2 {
    color: $white;
}

.jumbotron h1 {
    margin-bottom: 20px;
    margin-top: 40px;
}

.jumbotron .white a {
    text-align: center;
    color: white;
    height:40px;
    font-size: 16px;
    font-family: helvetica,arial,sans-serif;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .jumbotron h2 {
   
        color: $white-font;
        margin-bottom: 20px;
        margin-top: 40px;
    }
}

.jumbotron_small{
    height: 500px;
}

.jumbotron-xs {
    height: 200px;
    background: #0F3B49;
    padding: 30px 15px;
    margin-bottom: 0px;
    color: inherit;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.jumbotron-cookies {
    background: #333 url("../images/cookies.jpg") no-repeat fixed center top / cover;
}



.jumbotron-training {
    background: #333 url("../images/training.jpg") no-repeat fixed center top / cover;
}

.jumbotron-dark-flare{
    background: #333 url("/images/dark-flare.jpg") no-repeat fixed center top / cover;
}





.jumbotron-training h2,
.jumbotron-training p,
.jumbotron-training a {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}

.jumbotron-training img {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.8));
}

.jumbotron-support {
    background: #333 url("../images/support.jpg") no-repeat fixed center top / cover;
}

.jumbotron-cloud-servers {
    background: #333 url("../images/cloud.jpg") no-repeat fixed center top / cover;
}

.jumbotron-cloud-servers h2,
.jumbotron-cloud-servers p,
.jumbotron-cloud-servers a {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}

.jumbotron-cloud-servers img {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.8));
}

.jumbotron-blog > .container > .title {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}





    .jumbotron-training {
        /* Reference the @2x Sprite */
        background-image: url('../images/training.jpg');
        /* Translate the @2x sprite's dimensions back to 1x */
    }

    .jumbotron-cloud-servers {
        /* Reference the @2x Sprite */
        background-image: url('../images/cloud.jpg');
        /* Translate the @2x sprite's dimensions back to 1x */
    }

    .jumbotron-blog{
        /* Reference the @2x Sprite */
        background-image: url('../images/blog.jpg');
        /* Translate the @2x sprite's dimensions back to 1x */
    }


.jumbotron-main {

    background: #333  url("../images/main.png") no-repeat center bottom /cover;
    min-height: 570px;

    padding: 0px 0px;
    h1, p, h2 {
        color: $white-font;
    }

    h1{
        font-size: 20px;
        text-transform: uppercase;
    }

    h2{
        font-size: 28px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 25px;
    }

    .circle-arrow {
        color: $white;
        margin-top: 15%;
    }

    .circle {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid $white;

        a,
        a:hover {
            color: $white;
        }

        .fa.fa-arrow-down {
            display: inline-block;
            font-size: 30px;
            margin-top: 15px;
        }
    }
}

.jumbotron-main a .circle{
           color: $white;
}





