@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        padding:10px 0;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .btn-header {
        color: $sciblue-bg !important;
        border-color: $sciblue-light-bg;
        background-color: rgba(0,0,0,.2);
        border-width:0;
        font-weight:500;
        font-size:13px;
        width: 95%;
    }

    .btn-header:hover,
    .btn-header:focus,
    .btn-header:active,
    .open > .show .dropdown-toggle.btn-header {
        color: $white-footer !important;
        background-color: $sciblue-bg;
        border-width:0;
        text-decoration:none;
    }

}

@media (min-width: 768px){
    .navbar-right .dropdown-menu {
        right: -10px;
        left: auto;
    }
}



@media (max-width: 767px){
    .navbar-collapse{
        background-color: $white-footer;
    }

    .navbar-collapse a{
        color: $grey-font;
    }

    .navbar-collapse a:hover{
        color: $sciblue-font;
    }
}
