nav {

    background-color: $white;
}

nav a{
    color: $white-font;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: $white-font;
    background-color: $white-transparent-bg;
}



li a{
    color: $white-semitransparent-bg;
}


li:hover a{
    color: $white-footer;
}


.dropdown-menu > li > a {
    display: block;
    padding: 12px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: $grey-font;
    white-space: nowrap;
    text-align: center;
}

.dropdown-menu > li > a:hover {
    color: $sciblue-font;
}

.dropdown-menu {
    padding: 0px;
    margin: 0px;
}

.show {
    background-color: $white-footer;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    transition: .2 ease;
    -webkit-transition:  .3s ease;
    -o-transition: .3s ease;
    transition:  .3s ease;
}

.show a{
    color: $grey-font;
}

.show li:hover a{
    color: $sciblue-font;
}

.show .navbar-inverse .navbar-nav > .open >  a,
.show .navbar-inverse .navbar-nav > .open >  a:hover, 
.show .navbar-inverse .navbar-nav > .open >  a:focus {
    color: $grey-font;
    background-color: $white-transparent-bg;
}


.navbar-brand img{
    max-width: 126px; 
    margin-top: -12px;
}


.btn-header {
    color: $blue-link;
    border-color: $sciblue-bg;
    background-color: $white;
    border-width: 2px;
    text-transform: uppercase;
    margin:7px 0 0 12px;
    padding:8px 18px !important;
    border-radius: 2px;
}
.btn-header:hover,
.btn-header:focus,
.btn-header:active,
.open > .dropdown-toggle.btn-header {
    color: $white;
    background-color: $sciblue-bg;
    text-decoration:none;
}


.show .btn-header {
    color: $blue-link;
    border-color: $sciblue-bg;
    background-color: $white;
    border-width: 2px;
    text-transform: uppercase;
    margin:9px 0 0 12px;
    padding:4px 18px !important;
    border-radius: 2px;
}
.show .btn-header:hover,
.show .btn-header:focus,
.show .btn-header:active,
.show .open > .show .dropdown-toggle.btn-header {
    color: $white;
    background-color: $sciblue-bg;
    text-decoration:none;
}

.arrow:after, 
.arrow:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -10px;
}
.arrow:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-width: 12px;
    margin-left: -12px;
}



/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

#btn-nav a {
    font-weight: 600;
}

@import "partials/navbar360";
@import "partials/navbar768";
@import "partials/navbar992";
