// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

@import "modules/colors";
@import "partials/mixins";

body {
    font-family: 'Source Sans Pro', sans-serif;
    @include vendor-prefix('font-smoothing', 'antialiased');
    text-shadow:0 0 1px transparent;
    text-rendering:optimizeLegibility;
    color: $grey;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.42857143;
}

h1 {
    color: $dark-grey;
    font-size: 46pt;
    font-weight: 700;
}

h2  {
    color: $dark-grey;
    font-size: 24pt;
    font-weight: 600;
}

h3 {
    color: $bright-grey;
    font-size: 20pt;
    font-weight: 600;
}

p {
    color: $grey;
    font-size: 16pt;
    font-weight: 400;
}

p.lead {
    color: $bright-grey;
    font-size: 20pt;
    font-weight: 400;
}

p.lead .dark {
    color: $grey;
    font-weight: 400;
    font-size: 20pt;
}

footer p {
    color: $semi-white;
    font-size: 16pt;
    font-weight: 400;
}
