// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

@import "modules/colors";
@import "partials/mixins";

body {
    font-family: 'Source Sans Pro', sans-serif;
    @include vendor-prefix('font-smoothing', 'antialiased');
    text-shadow:0 0 1px transparent;
    text-rendering:optimizeLegibility;
    color: $grey-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
}

.bg_black{
    background-color: $black-bg;
    height: 150px;
}

.bg_color_2 {
    background-color: $sciblue-bg;
    padding-bottom: 150px;
}

.bg_color_3 {
    background-color: $sciblue-bg;
    padding: 25px;
    color: white;
}


.color-primary {
    color: $grey204-font;
}

.color-one {
    color: $sciblue-font;
}


.white{
    color: white;
}


.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}  

.semibold{
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.container .light{
    line-height: 1.4;
}

.uppercase {
    text-transform:uppercase;
}

#brands p {
    font-size:26px;
    font-weight:600;
    text-align:center;
}

@media (max-width: 360px) {
    .jumbotron h2 {
        font-size: 28px;
    }
}


@media (max-width: 768px) {

    h1 {
        font-size:14px !important;
    }
    h2 {
        font-size:20px;
    }
    h3 {
        font-size:20px !important;
    }
    h3 br {
        display:none;
    }
    p {
        font-size: 16px !important;
    }

    .jumbotron h2 {
        margin-bottom:40px;
        font-size: 38px;
    }
}
