// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

@import "modules/colors";
@import "partials/mixins";

html {font-size: 1em;}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

body {
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
    @include vendor-prefix('font-smoothing', 'antialiased');
    text-shadow:0 0 1px transparent;
    text-rendering:optimizeLegibility;
    color: $font-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
}

.bg_black{
    background-color: $black;
    height: 150px;
}

.bg_color_2 {
    background-color: $background-color-2;
    padding-bottom: 150px;
}

.bg_color_3 {
    background-color: $background-color-3;
    padding: 25px;
    color: white;
}


.color-primary {
    color: $color-primary;
}

.color-one {
    color: $color-one;
}

.color-one-light{
    color: $color-one-light;
}

.color-two {
    color: $color-two;
    font-size:14px;
    font-weight:500;
}

.color-two:hover {
    background-color: $color-two-hover;
}

.white{
    color: $white;
}


.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}  

.semibold{
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.container .light{
    line-height: 1.4;
}

.uppercase {
    text-transform:uppercase;
}

#brands p {
    font-size:26px;
    font-weight:600;
    text-align:center;
}

@media (max-width: 360px) {
    .jumbotron h2 {
        font-size: 28px;
    }
}


@media (max-width: 768px) {

    h1 {
        font-size:14px !important;
    }
    h2 {
        font-size:20px;
    }
    h3 {
        font-size:20px !important;
    }
    h3 br {
        display:none;
    }
    p {
        font-size: 16px !important;
    }

    .jumbotron h2 {
        margin-bottom:40px;
        font-size: 38px;
    }
}
