@import "bulma/sass/utilities/initial-variables";

// Primary, secondary, black
$blue: rgb(8, 125, 161);
$green: rgb(0, 168, 137);
$black: rgb(2, 31, 39);
$primary: $blue;
$secondary: $green;

// Accent colors
$orange: rgb(252, 189, 13);
$green: $green;
$red: rgb(255, 62, 62);

$success: rgb(0, 211, 167);
$warning: $orange;
$danger: $red;

$family-sans-serif: 'Source Sans Pro', sans-serif;
$family-primary: $family-sans-serif;

@import "bulma";
