.about {
    padding-bottom:40px;
}


@media (min-width: 1201px){

    .about .pbandcc {
        background: transparent url('../images/devices_scifabric.png') no-repeat bottom center; 
        padding-bottom:675px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){

    .about .pbandcc {
        background: transparent url('../images/devices_scifabric_950.png') no-repeat bottom center; 
        padding-bottom:550px;
    }

}

@media (min-width: 768px) and (max-width: 991px){

    .about .pbandcc {
        background: transparent url('../images/devices_scifabric_750.png') no-repeat bottom center; 
        padding-bottom:450px;
    }

}


@media (max-width: 768px){

    .about h1{
        margin-top: 70px;
    }

    .about p {
        font-size: 22px;
    }

    .about .pbandcc {
        background: none; 
        padding-bottom:40px;
    }

}

@media (max-width: 991px){

    .about br {
        display:none;
    }
}


