$black: #000;
$white: #fff;

$background-color-2: #f9f9f9;
$background-color-3: #042935;

$color-primary: #CCC;
$color-one: #077CA0;
$color-one-light: #3B9BB9;

$color-two: #FFF;
$color-two-hover: #077CA0;

