.training-cover {
    background-color: #FFF;
}

.training-cover .lead {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #cecece;
}

.training-cover .lead.hours,
.training-cover .lead.topics,
.training-cover .lead.price {
    padding-top: 10px;
}



.training-cover {
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
}

.training-cover h4 {
   color: #077CA0;
}

.training-cover .btn{
    width: 100%;
}


