@import "modules/colors";
@import "partials/toggle_btn";
.training-cover {
    background-color: $white;
}

.training-cover .lead {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #cecece;
}

.training-cover .lead.hours,
.training-cover .lead.topics,
.training-cover .lead.price {
    padding-top: 10px;
    color: $grey;
}



.training-cover {
    border-radius: 2px;
    padding: 15px 20px 15px 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.training-cover h4 {
   color: $dark-grey;
}

.training-cover .btn{
    width: 100%;
}

.visibility-hidden {
    visibility:hidden;
}

@media (max-width:360px) {
    .visibility-hidden {
        display: none;
    }
}

.save {
    color: $blue-link;
}

.special-price {
    margin-top: 10px;
}
