$black: #000;
$white: #fff;

$font-color: #5a5a5a;

$background-color-2: #f9f9f9;
$background-color-3: #042935;

$color-primary: #CCC;
$color-one: #077CA0;
$color-one-light: #3B9BB9;

$color-two: #FFF;
$color-two-hover: #077CA0;


// COLORS
$sciblue-bg: rgba(7, 124, 160, 1);
$light-grey-bg: rgba(250, 250, 250, 1);

$grey204-font: rgba(204, 204, 204, 1);
$grey-font: rgba(90, 90, 90, 1);
$sciblue-font: $sciblue-bg;
