// COLORS
$black-bg: rgba(0,0,0,1);
$white-transparent-bg: rgba(255, 255, 255, 0);
$sciblue-bg: rgba(7, 124, 160, 1);
$sciblue-light-bg: rgba(7, 124, 160, .6);
$light-grey-bg: rgba(250, 250, 250, 1);

$grey204-font: rgba(204, 204, 204, 1);
$grey-font: rgba(90, 90, 90, 1);
$sciblue-font: $sciblue-bg;

$white-footer: rgba(255, 255, 255, 1);
$white-light-footer: rgba(255, 255, 255, .65);
