// COLORS
$dark-grey: rgba(21,67,82,1);
$grey: rgba(85,110,123, 1);
$bright-grey: rgba(201,216,223,1);
$semi-white: rgba(255,255,255,.5);
$white: rgba(255,255,255,1);
$blue-link: rgba(59,176,212,1);
$sciblue: rgba(8,125,161,1);
$grey-bg: rgba(67,87,97,1);
$quotes-bg: rgba(0, 151, 166, 1);

// OLD COLORS
$black-bg: rgba(0,0,0,1);
$white-transparent-bg: rgba(255, 255, 255, 0);
$white-semitransparent-bg: rgba(255, 255, 255, 0.8);
$sciblue-bg: rgba(7, 124, 160, 1);
$sciblue-light-bg: rgba(7, 124, 160, .6);
$light-grey-bg: rgba(250, 250, 250, 1);

$grey204-font: rgba(204, 204, 204, 1);
$grey-font: rgba(90, 90, 90, 1);
$sciblue-font: $sciblue-bg;
$white-font: rgba(255, 255, 255, 1);

$grey-footer: rgba(45, 45, 45, 1);
$white-footer: rgba(255, 255, 255, 1);
$white-light-footer: rgba(255, 255, 255, .65);
