---
layout: default2
title: About
description: Scifabric can help you enrich, analyse and mine your data!
---
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-primary hightlight">
        About
      </h1>
      <h2 class="subtitle is-2 has-text-primary">
        A timeline of our significant milestones...
      </h2>
    </div>
  </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="columns is-centered is-multiline is-gapless is-mobile">
                    {% assign colors = "primary|success|danger|info|warning" | split: "|" %}
                    {% for item in site.data.dates %}
                    {% assign colorIdx = forloop.index0 | modulo:colors.size| minus:1%}
                    {% assign color = colors[colorIdx] %}
                    <div class="column is-2">{{item.date}}</div>
                    <div class="column is-1">
                        <div class="circle is-{{color}}"></div>
                        <div class="line   is-{{color}}"></div>
                    </div>
                    <div class="column is-9"><p class="is-size-6">{{item.body}}</p></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <h1 class="title is-1 has-text-primary hightlight">
        Team
        </h1>
        <h2 class="subtitle is-2 has-text-primary">
          We don’t like to blow our own trumpet but, <br/> then again, we are fabulous. Here’s why...
        </h2>
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="content has-text-left">
                    <p class="is-size-6">Our team has a new way of thinking, experimenting and working. We’re not scared of failure, because we believe it’s only learning. Trying again, improving, getting better and finally delivering the best possible products and projects to our clients is what keeps us alive. 
</p>
<p class="is-size-6">We hail from a broad range of disciplines from Science to UX copywriting, and we’re ready for any challenge! TRY US. WE DARE YOU... in a nice way.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% for user in site.data.crew %}
        <div class="columns is-centered" style="margin-bottom:78px;">
            <div class="column is-2" >
                <img class="portrait" src="/images/{{user.avatar}}">
            </div>
            <div class="column is-5">
                <h3 class="title is-4 has-text-primary highlight">{{user.name}} {{user.surname}}</h3>
                <h3 class="subtitle is-5 has-text-primary">{{user.position}}</h3>
                <p class="is-size-6">{{user.name}} {{user.longbio}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
