@import "modules/colors";
@import "modules/animate";

.citiesatnight{
    background: #0F3B49 url('../images/Cities.png') no-repeat top center;
    background-size: cover;
}

.citiesatnight:hover .btn-info{
    color: #FFF !important;
    background-color: rgba(7,124,160,1);
    border-color: rgba(7,124,160,1);
    text-decoration:none;
}

/* GLOBAL STYLES -------------------------------------------------- */

@import "case-studies/cities-at-night/global";

/* General Styles ------------------------------------------------- */

    h1{
        font-size: 42px;
        font-weight: bold;
        font-family: "Gotham", Gotham, HelveticaNeue, Helvetica, sans-serif;
        color: #fff !important;
    }

    h3{
        font-size: 22px;
        font-weight: bold;
        font-family: "Gotham", Gotham, HelveticaNeue, Helvetica, sans-serif;
        color: #fff;
        margin-top: 10px;
    }

    h5{    
        font-size: 14px !important;
        font-weight: bold;
        color: #FFF0D6;
        text-transform: uppercase;

    }

@import "case-studies/cities-at-night/navbar";


    .jumbotron {
        padding: 30px 15px;
        margin-bottom: 0px;
        color: inherit;
        right:0;left:0;top:0;bottom:0;
        overflow:hidden;
        background: #000 url('../images/world.png') no-repeat top center;
        //height: 750px;
        height: 100vh;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-device-pixel-ratio: 2) {

        .jumbotron {
            /* Reference the @2x Sprite */
            background: #000 url('../images/world@2x.png') no-repeat top center;
            /* Translate the @2x sprite's dimensions back to 1x */
            background-size: 1444px 701px;

        }
    }


    .btn-header {
        color: #fff;
        border-color: rgba(255,255,255,.4);
        background-color: rgba(255,255,255,0);
        border-width: 2px;
        color: rgba(255,255,255,.8) !important;
        font-weight:500;
        font-size:13px;
        text-transform: uppercase;
        margin:7px 0 0 12px;
        padding:8px 18px !important;
    }
    .btn-header:hover,
    .btn-header:focus,
    .btn-header:active,
    .open > .dropdown-toggle.btn-header {
        color: rgba(0,0,0,1) !important;
        background-color: rgba(255,255,255,1);
        border-width:2px;
        text-decoration:none;
    }



    .show .btn-header {
        color: rgba(7,124,160,1) !important;
        border-color: rgba(7,124,160,.7);
        background-color: rgba(0,0,0,.03);
        border-width:0;
        font-weight:500;
        font-size:13px;
        text-transform: uppercase;
        margin:7px 0 0 12px;
        padding:8px 18px !important;
    }
    .show .btn-header:hover,
    .show .btn-header:focus,
    .show .btn-header:active,
    .show .open > .show .dropdown-toggle.btn-header {
        color: #FFF !important;
        background-color: rgba(7,124,160,1);
        border-width:0;
        text-decoration:none;
    }


    @media (max-width: 768px){
        .btn-header {
            color: rgba(7,124,160,1) !important;
            border-color: rgba(7,124,160,.7);
            background-color: rgba(0,0,0,.2);
            border-width:0;
            font-weight:500;
            font-size:13px;
            width: 95%;
        }

        .btn-header:hover,
        .btn-header:focus,
        .btn-header:active,
        .open > .show .dropdown-toggle.btn-header {
            color: #FFF !important;
            background-color: rgba(7,124,160,1);
            border-width:0;
            text-decoration:none;
        }

    }



    .jumbotron h1{
        margin-top: 125px;
        margin-bottom: 0px;
    }

    .jumbotron p{
        font-size: 18px;
        color: #fff;
        font-weight: 500;

    }

    .btn-info {
        color: #fff;
        border-color: rgba(255,255,255,.4);
        background-color: rgba(255,255,255,0);
        border-width: 2px;
        margin-top: 250px;
        padding: 15px 65px;
    }


    .btn-info:hover, 
    .btn-info:focus, 
    .btn-info.focus, 
    .btn-info:active, 
    .btn-info.active, 
    .open > .dropdown-toggle.btn-info {
        color: #000;
        background-color: #fff;
        border-color: #fff;
        text-decoration: none;
    }


    .stars{
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 130px;
        color: inherit;
        right:0;left:0;top:0;bottom:0;
        overflow:hidden;
        background: #000 url('../images/stars.png') no-repeat top center;
        height: 591px;
        text-align: center;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-device-pixel-ratio: 2) {

        .stars {
            /* Reference the @2x Sprite */
            background: #000 url('../images/stars@2x.png') no-repeat top center;
            /* Translate the @2x sprite's dimensions back to 1x */
            background-size: 1443px 591px !important; 
        }
    }

    .stars p{

        width: 50%;
        margin: auto;
        margin-bottom: 80px;

    }


    .univers{
        padding-top: 100px;
        padding-bottom: 100px;
        color: inherit;
        overflow:hidden;
        background: no-repeat;
        background-image: url('../images/universe-left.png'),url('../images/universe-right.png');
        background-position: top left, top right;
        height: auto;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-device-pixel-ratio: 2) {

        .univers {
            /* Reference the @2x Sprite */

            background-image: url('../images/universe-left@2x.png'),url('../images/universe-right@2x.png');
            background-position: top left, top right;
            background-size: 427px 1740px, 427px 1740px !important;  
        }
    }



    .univers p {
        margin-bottom: 100px;
    }

     .univers .last-p{
        margin-bottom: 0;
    }

    @media (min-width: 768px){
    .univers .col-md-6{
        border-left: 1px solid;
        border-color: rgba(255,255,255,.2);
        padding-left: 40px;
    }

    .univers .circle::before {
    content: "";
    background-color: rgb(0, 0, 0);
    border: rgba(255, 255, 255, 0.32) 1px solid;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: -51px;
    }

    .univers  .circle{   
        margin-top: -5px;
    }
}





    .rocket{
        margin-top: 200px;
        margin-bottom: 100px;
        color: inherit;
        right:0;left:0;top:0;bottom:0;
        overflow:hidden;
        text-align: center;
        background: #000 url('../images/rocket.png') no-repeat  bottom center;
        height: 800px;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-device-pixel-ratio: 2) {

        .rocket {
            /* Reference the @2x Sprite */
            /*background: #000 url('../images/univers@2x.png') no-repeat top center;*/
            /* Translate the @2x sprite's dimensions back to 1x */

        }
    }

    .rocket p{
        width: 70%;
        margin: auto;
    }

    .astronaut{
        margin-top: 200px;
        margin-bottom: 200px;
        text-align: center;
    }

    .opinion{
        color: #fff;
        width: 85%;
        margin: auto;
    }

    .astronaut h3{
        margin-top: 30px;
    }  



    footer{
        margin-top: 100px;
        
        color: inherit;
        right:0;left:0;top:0;bottom:0;
        overflow:hidden;
        background: #000 url('../images/cities-footer.png') no-repeat  bottom center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 1030px;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-device-pixel-ratio: 2) {

        footer {
            /* Reference the @2x Sprite */
            background: #000 url('../images/cities-footer@2x.png') no-repeat top center;
            background-size: 1440px 1030px;
            /* Translate the @2x sprite's dimensions back to 1x */

        }
    }

     .contact{       
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .contact p{
        color: #fff;
    }

    .contact a{
        color: #fff;
        text-decoration: underline;
    }

    #know-more {
    border: none;
    color: rgba(255,255,255,.4);
    font-size: 14px;
    margin-top: 200px;
    }

    #know-more:hover{
    background: none;
    color: #fff;
    margin-top: 200px;

    }


        @media (max-width: 768px){
            .jumbotron {
                padding: 30px 15px;
                margin-bottom: 0px;
                color: inherit;
                right:0;left:0;top:0;bottom:0;
                overflow:hidden;
                background: #000 url('../images/small-world.png') no-repeat top center;
                // height: auto;
                height: 100vh;
               
            }

            @media only screen and (-webkit-min-device-pixel-ratio: 2), 
            only screen and (min-device-pixel-ratio: 2) {

                .jumbotron {
                    /* Reference the @2x Sprite */
                    background:  url('../images/small-world@2x.png') no-repeat top center;
                    /* Translate the @2x sprite's dimensions back to 1x */
                    background-size: 701px 500px!important;

                }
            }

            h1{
                font-size: 32px !important;
            }

            h3{
                font-size: 18px !important;
            }

            h5 {
            font-size: 11px !important;
            }

            .jumbotron h1{
                margin-top:150px;
            }

            .btn-info {
            margin-top: 140px;
            padding: 10px 30%;
            }

            .firstfold {
            margin-bottom: 40px;
            }
            .activate-and-gearing .col-md-5:last-child{
                margin-top: 60px;
            }

            .stars {
            margin-top: -50px;
            margin-bottom: 0px;
            padding-top: 150px;
            }

            .stars p {
            width: 100%;
            margin-bottom: 40px;
            }

            .univers{
                padding-top: 0;
                    margin-top: -50px;
            }

            .univers p {
            margin-bottom: 60px;
            }
            .rocket {
            margin-top: 10px;
            margin-bottom: 0px;
            }
            
            .rocket p {
            width: 100%;
            }

            .astronaut {
            margin-top: 100px;
            margin-bottom: 100px;
            }

            .opinion{
                width: 100%;
            }

            .contact {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 0px;
            }

    }

@import "case-studies/cities-at-night/transcript";
@import "case-studies/cities-at-night/footer";
