$black-bg: rgba(0,0,0,1);
$white: rgba(255, 255, 255, 1);
$white-translucent: rgba(255, 255, 255, .65);
$white-font: $white;
$grey155-font: rgba(155, 155, 155, 1);
$cities-color: rgba(255, 240, 214, 1);
