    body {
        padding-right: 0px !important;
        font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-shadow:0 0 1px transparent;
        text-rendering:optimizeLegibility;
        color: #9B9B9B;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.42857143;
        position: relative;
        background-color: #000;
    }


#go-to-top {
    background-color:  rgba(0,0,0,0.85);
    }