.show {
    background-color: rgba(0,0,0,0.85);
}

.navbar-inverse .navbar-toggle {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0);
}

#btn-nav .btn-header {
    font-size: 16px !important;
}



/*This is a experiment of the mobile site with no navbar*/

  @media (min-width: 768px){

	.no-desktop{
		display: none;
	}

    .say-hi{
           display: none;
    }
}

  @media (max-width: 768px){

  	.navbar-collapse {
    background-color: rgba(0, 0, 0, 0);
	}

	.navbar-inverse .navbar-toggle {
    background-color: rgba(5, 32, 150, 1);
    display: none;
	}

	#btn-mute,
    #btn-mute-mbl {
	text-align: right;
	}

	.btn-header  {
	font-size: 23px !important;
	margin-right: 15px !important;
    margin-top: 2px !important;
	}

	.say-hi{	    
	text-align: center;
    color: white;
    padding: 10px;
    bottom: 0px;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0,0,0,.85);
    width: 100%;
    display: none;
	}

	.btn-hi{
	border-color: rgba(255,255,255,.4);
	background-color: rgba(255,255,255,0);
	border-width: 2px;
	color: rgba(255,255,255,.8) !important;
	font-weight:500;
	font-size:13px;
	text-transform: uppercase;
	width: 95%;
        }

        .btn-header:hover,
        .btn-header:focus,
        .btn-header:active,
        .open > .show .dropdown-toggle.btn-header {
            border-color: rgba(255,255,255,1);
            background-color: rgba(255,255,255,1);
            border-width: 2px;
            color: rgba(0,0,0,1) !important;
            font-weight:500;
            font-size:13px;
            width: 95%;
        }

       footer{
       	height: auto !important;
       }
}
