.people-graph {
    background:url('/assets/img/people-bigscreen-graph.svg');
    background-repeat: no-repeat;
    @media screen and (max-width: $tablet) {
        background:url('/assets/img/people-medium-graph.svg');
        background-repeat: no-repeat;
    }

    @media screen and (max-width: $mobile) {
        background:url('/assets/img/people-small-graph.svg');
        min-height: 140vh;
        height: 875px;
        background-position-y: 180px;
        background-repeat: no-repeat;
    }

}
.is-pulsing {
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 rgba(0, 168, 137, 0.7);
  cursor: pointer;
  -webkit-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
}
.is-pulsing:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px $green-a;}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px $green-a;}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px $green-a;}}
@keyframes pulse {to {box-shadow: 0 0 0 45px $green-a;}}

// Second fold

.second-fold.is-first {
    margin-top: 122px;
}

.second-fold.is-second {
    padding-top: 172px;
}

.orange-white {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff432+0,fff432+45,000000+45,000000+100 */
    background: $orange; /* Old browsers */
    background: -moz-linear-gradient(top,  $orange 0%, $orange 50%, $white 50%, $white 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $orange 0%, $orange 50%, $white 50%, $white 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $orange 0%, $orange 50%, $white 50%, $white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

$third-fold-padding-top: 100px;

.columns.third-fold {
    padding-top: $third-fold-padding-top;
}

.third-fold.wall {
    position: absolute;
    right: 0;
}

.third-fold.couple {
    position: absolute;
    top: 500px - $third-fold-padding-top;
    right: 257px;
    z-index: 3;
}

.third-fold.man-blue {
    position: absolute;
    top: 600px - $third-fold-padding-top;
    left: 48%;
}

// Footer
.footer-logo {
    margin-top: -10px;
}

.ssnn {
    margin-left: 12px;
}
