---
layout: cruk
title: How Crowdsourcing is helping to beat the cancer
description: "Trailblazer is Cancer Research UK's PYBOSSA-powered tool. IT has allowed thousands of people worldwide to help scientists spot cancer cells and accelerate research with 90% accuracy, after only 25 minutes of training."
css: cruk
---
<div class="contactform">
    <div class="closeform">
        <img src="/images/close.svg">
    </div>
    <div class="step1">
        <div>
            <h2>Hola! Nice to hear from your</h2>
            <form>
                <div class="form-group">
                    <label for="name">What it is your name?</label>
                    <input type="name" class="form-control" id="name" placeholder="First name, Last name">
                </div>

                <div class="form-group">
                    <label for="email">And your email?</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Drop us a line</label>
                    <textarea class="form-control" rows="4" id="textarea" placeholder=""></textarea>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Keep me informed of scifabric’s news (no spam. We promise!)
                    </label>
                </div>
            </form>
        </div>
        <div>
            <button type="submit" class="btn btn-default btn-contactform">Send</button>
        </div>
    </div>
    <div class="step2">
        <h2>Your message is on its way!</h2>
        <p>We’ll email back to you very soon. </p>
        <p>Thanks for contact us :)</p>
        <img class="responsive" src="/assets/img/nick-happy.svg">
        <button class="btn btn-default btn-contactform">Got it!</button>
    </div>
</div>
<div class="person">
    <div class="messages">
        <div class="first animated fadeInRight">
            <img id="close" src="/images/close.svg">
            <p>¡Hola! I'm Nick</p>
        </div>
        <div class="second animated fadeInRight">
            <p>Want to know how Scifabric can help you with your crowdsourcing project?</p>
        </div>
        <div class="third animated fadeInRight">
            <p>Get in touch</p>
        </div>
    </div>
    <div class="avatar animated fadeInRight">
        <img src="/assets/img/success-stories/cruk/nick.svg">
    </div>
</div>
<div class="jumbotron jumbotron-cruk">
    <video id="intro" playsinline autoplay muted loop>
        <source src="/assets/img/success-stories/cruk/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="intro">
        <div class="logos">
            <img class="scifabric-logo" src="/assets/img/success-stories/cruk/scifabric.svg">
            <img class="plus-icon" src="/assets/img/success-stories/cruk/plus.svg">
            <img class="cruk-logo" src="/assets/img/success-stories/cruk/cruk-logo.svg">
        </div>
        <div class="title">
            <p class="pink">How crowdsourcing</p>
            <p class="purple">is helping to beat the cancer</p>
        </div>
        <div class="subtitle">
            <p>Trailblazer is <strong>Cancer Research UK's PYBOSSA-powered tool.</strong></p>
            <p>It has allowed thousands of people worldwide to help</p>
            <p>scientists spot cancer cells and accelerate research with 90%</p>
            <p>accuracy, after only 25 minutes of training.</p>
        </div>
        <div class="scrolldown">
            <span class="uppercase">scroll down</span>
            <img class="arrow" src="/assets/img/success-stories/cruk/arrow.svg">
        </div>
    </div>
</div>
<div class="scinavbar">
    <div class="items">
        <div class="logos">
            <img src="/assets/img/success-stories/cruk/s.svg">
            <img src="/assets/img/success-stories/cruk/plus-dark.svg">
            <img src="/assets/img/success-stories/cruk/c.svg">
        </div>
        <div class="ssnn">
            <img src="/assets/img/success-stories/cruk/facebook.svg">
            <img src="/assets/img/success-stories/cruk/twitter.svg">
            <img src="/assets/img/success-stories/cruk/linkedin.svg">
        </div>
    </div>
</div>
<div id="startingpoint-waypoint" class="startingpoint section">
    <h2>Starting point</h2> 
    <div class="subtitle">
        <p>Trailblazer aimed to find wheter citizen science could be a</p>
        <p>realiable  method to accelerate cancer research</p>
    </div>

    <div class="cells">
        <div class="cells-frame"></div>
        <div class="side-text">
            <div class="point">
                <div class="bullet">
                    <img src="/assets/img/success-stories/cruk/circle.svg">
                </div>
                <div class="text">
                    <strong>Citizen science holds true potential</strong> where
                    researchers want to identify trends and patterns <strong>in large
                        volumes of data.</strong>
                </div>
            </div>
            <div class="point">
                <div class="bullet">
                    <img src="/assets/img/success-stories/cruk/circle.svg">
                </div>
                <div class="text">
                    This study investigates the efficacy of various training
                    methods to <strong>improve accuracy on detecting several cancer
                        type cells.</strong>
                </div>
            </div>
            <div class="point">
                <div class="bullet">
                    <img src="/assets/img/success-stories/cruk/circle.svg">
                </div>
                <div class="text">
                    To do so, <strong>enhanced training and more feedback</strong> was
                    provided and interactive tutorials and an easy-to-use interface were
                    used to get people doing quality analysis, fast.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scifabric-technology section">
    <div class="title">
        <h2>Why</h2>
        <img src="/assets/img/success-stories/cruk/scifabric-blue.svg">
        <h2>'s Technology?</h2>
    </div>
    <div class="subtitle">
        <p>PYBOSSA, our open source code</p>
    </div>

    <div class="columns">
        <div class="column">
            <div class="icon">
                <img src="/assets/img/success-stories/cruk/flexible.svg">
            </div>
            <h3>Flexible</h3>
            <div class="text">
                You can fully <strong>customise your project</strong>: retain your brand, make your data private or public, add many features with our plugin infrastructure, adapt ready-to-use templates, import data automatically...
            </div>
        </div>
        <div class="column">
            <div class="icon">
                <img src="/assets/img/success-stories/cruk/rocket.svg">
            </div>
            <h3>Dynamic, quick & easy</h3>
            <div class="text">
                PYBOSSA provides ready-to-use templates, so you don’t have to start from scratch. It also allows agile developing and releasing new versions frequently so you can go <strong>from prototyping to production in a flash</strong>.
            </div>
        </div>
        <div class="column">
            <div class="icon">
                <img src="/assets/img/success-stories/cruk/clock.svg">
            </div>
            <h3>Real time analysis</h3>
            <div class="text">
                Our technology allows real-time analysis. This helps analyse results as quickly as possible, <strong>saving you time, money and accelerating research</strong>.
            </div>
        </div>
    </div>
    <div class="getintouch">
        <div class="btn btn-primary">
            Get in touch to know more
        </div>
    </div>
</div>

<div id="process-waypoint" class="theproject section">
    <h2>The project</h2>
    <div class="contributors">
        <object id="my-svg" class="responsive" type="image/svg+xml" data="/assets/img/success-stories/cruk/process.svg"></object>
        <video width="392" height="279" autoplay loop>
            <source src="/assets/img/success-stories/cruk/process.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="columns">
        <div class="column">
            <h3>1000 volunteers</h3>
            <div class="text">
                Over 1000 volunteers without previous biomedical knowledge accessed Trailblazer, a web platform easy to use and with no special software required.
            </div>
        </div>
        <div class="column">
            <h3>25 minutes of training</h3>
            <div class="text">
                After a 25 minutes training, volunteers had to analyse 10 sample images. Their scores showed they could distinguish between cancer cells and healthy cells in tissue samples. <a href="http://cancer.pybossa.com">Try the Trailblazer demo here.</a>
            </div>
        </div>
        <div class="column">
            <h3>Evaluated by specialists</h3>
            <div class="text">
                When it came to analysing real tumor samples, citizen scientists’ scores were compared against consensus expert analysis to evaluate the accuracy.
            </div>
        </div>
    </div>
</div>

<div id="results-waypoint" class="results section">
    <h2>And the result?</h2>
    <div class="subtitle">
        <p>Trailblazer scored the highest accuracy reading of all Cancer</p>
        <p>Research UK’s projects based on crowdsourcing proving that </p>
        <p>citizen scientists could be truly valuable to researchers.</p>
    </div>
    <div class="graphic">
        <object id="chart" class="responsive" type="image/svg+xml" data="/assets/img/success-stories/cruk/graphic.svg"></object>
        <div class="accuracybubble"></div>
        <div class="text">
            <strong>Citizen scientists had learned to detect clinically significant features of cancer cells.</strong> Their score was compared against consensus expert analysis to evaluate the accuracy. Volunteers’ findings matched those of professional pathologists up to 90% of the time.
        </div>
        <div class="asterisq">
            ** Graphic shows example of Cancer Bladder analysis. Aggregating the analysis of 10 or more participants trained with both feedback and annotated examples, achieved accurate detection of cancer cells (Area Under Curve >0.90) for all samples tested.
        </div>
    </div>
</div>

<div class="quote">
    <div class="quote-icon">
        <img src="/assets/img/success-stories/cruk/quote-icon.svg">
    </div>
    <div class="text">
        <span class="whitespace"></span>Trailblazer confirmed that citizen scientists could play an important role in accelerating research [...]. <strong>The levels of accuracy achieved have shown that citizen science can be a reliable, accurate and efficient method for biomedical research.</strong>"
    </div>
    <div class="bio">
        <div class="avatar">
            <img src="/assets/img/success-stories/cruk/andy-paterson.jpg">
        </div>
        <div class="data">
            <h4>Andy Paterson</h4>
            Digital Solutions Architect at Cancer Research UK and the technical lead on the Trailblazer project. <a href="https://scifabric.com/blog/2016/04/20/Cancer-Research-UK-Trailblazer.html">Read the whole interview here</a>
        </div>
    </div>
</div>

<div id="team-waypoint" class="team section">
    <h2>We are</h2>
    <img src="/assets/img/success-stories/cruk/scifabric-blue.svg">
    <div class="avatars">
        {% for member in site.data.crew %}
        <img id="{{member.name | downcase }}" src="/images/{{member.avatar}}">
        {% endfor %}
    </div>
    <div class="calltoaction">
        <p>We want to change the world for the better</p> 
        <p>Will you join us?</p>
    </div>
    <div class="values">
We like making people and technology closer. If you need to collect, analyse or enrich data, we can help you discover how crowdsourcing will accelerate your investigation and save you money.
    </div>
    <div class="getintouch">
        <div class="btn btn-primary blue">
            Get in touch 
        </div>
    </div>
</div>

{% include defaultjs.html %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.0/vivus.min.js"></script>
<script src="/assets/js/snap.svg.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/jquery.waypoints.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/success-stories/cruk/animperson.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/success-stories/cruk/animcells.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/success-stories/cruk/animprocess.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/success-stories/cruk/animaccuracy.js" type="text/javascript" charset="utf-8"></script>
<script>
function isElementInViewport (el) {

    //special bonus for those using jQuery
    if (typeof jQuery === "function" && el instanceof jQuery) {
        el = el[0];
    }

    var rect = el.getBoundingClientRect();

    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /*or $(window).height() */
        rect.right <= (window.innerWidth || document.documentElement.clientWidth) /*or $(window).width() */
    );
}
$(document).ready(function() {

  $(window).scroll(function () {
      //if you hard code, then use console
      //.log to determine when you want the 
      //nav bar to stick.  
      var navbar = $(".scinavbar");
      var offset = $(".jumbotron-cruk").height();
      //console.log(offset);
      if ($(window).scrollTop() > offset ) {
            navbar.addClass('navbar-fixed');
          }
      if ($(window).scrollTop() < offset + 1) {
           navbar.removeClass('navbar-fixed');
       }
});



animCells();
animAccuracy();

  });


</script>

