.home-blog {
    background-color: $white;
    padding-top: 60px;
    padding-bottom:120px;
    overflow: hidden;
    height: auto;
}

.home-blog {
    h3 {
        color: $grey;
    }
}

.home-blog .lead{
	margin-bottom: 40px;
}