.case-studies {
    background-color: $grey-bg;
    padding-top: 60px;
    padding-bottom:120px;
    overflow: hidden;
    height: auto;
    border-top: 52px solid transparent;
}

.case-studies .lead {
	margin-bottom: 40px;
}
@import "partials/card";
