.case-studies {
    background-color: $grey-bg;
    padding-top: 90px;
    padding-bottom:90px;
    overflow: hidden;
    height: auto;
}

.thumbnail.card {
    padding: 0px;
    min-height: 400px;
    .caption {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;

        a {
            color: $blue-link;
            text-transform: uppercase;
        }
    }
}

.card {
    background-color: $white;
    h3 {
        color: $grey;
        font-weight: 600;
        font-size: 20px;
    }
}

.case-study-cover  .btn{
    margin-top: 20px;
}


.case-studies p.summary {
    font-weight:400;
    font-size:16px;
    color:#666;
}

@import "case-study";

@media (max-width: 768px)  {

    .case-studies p {
        font-size: 15px !important;
    }

    .case-studies .col-xs-10 {
        text-align:center;
        padding:0;
        margin-top: 20px;
    }
} 
