.features{
    padding-top: 100px;
    padding-bottom: 60px;
}

.features .media{
    margin-bottom: 60px;
}

.features .media-heading{
    color: $sciblue;
    font-size: 20px;
    font-weight: 600;
}

.features-text{
    font-size: 20px;
    font-style: italic;
    color: $dark-grey;
}