.quotes {
    height: 570px;
    padding-top: 60px;
    
}
#quotes-container {
    height: 400px;
}

.swiper-pagination {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background: $white none repeat scroll 0% 0% !important;
}


.quotes,
.carousel.item {
    background: $quotes-bg url("/images/pattern.png") repeat fixed center top;
}

.quote-caption .row {
    margin-top: 100px;
}

.quote-caption,
.quote-caption p{
    color: $white;
    font-weight: 400;
    margin-bottom: 0px;
}

.quote-caption .col-md-8 {
    margin-left: -30px;
}

/* Carousel base class */
.carousel {
    height: 400px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
}

.quote-pic{
    float: left;
    margin-right: 15px;
    border-radius: 50%;
}

.add-quotes{
    margin-top: 20px;
}
