.quotes {
    height: 500px;
}
.quotes,
.carousel.item {
    background: $quotes-bg url("/images/bg-icons-dark.png") repeat fixed center top;
}

.quote-caption .row {
    margin-top: 15%;
}

.quote-caption,
.quote-caption p{
    color: $white;
    font-weight: 600;
}

.quote-caption .col-md-8 {
    margin-left: -30px;
}

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
}
