.rolling-text{
    background: $very-bright-grey;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rolling{
    font-size: 24px;
    text-align: center;
    font-style: italic;
    color:$dark-grey;
}