.tailoring  {  
    padding-bottom:90px;
}

.tailoring h4 {
    font-size:22px;
    font-weight:600;
    margin-top:20px;
}

.tailoring .col-md-4 {
    margin-top: 30px;
}

.tailoring p.lead {
    text-align:center;
}

.tailor-icons{
    width: 112px;
}

.tailoring img {
    width: 50%;
}


@media (max-width: 970px) {

    .tailoring .col-md-4 {
        margin-top: 50px;
    }
}
