.what-we-do{
    padding-bottom:60px;
    color: inherit;
    overflow: hidden;
    height: auto;
    background: #fafafa url('/images/bg-icons-light.png') repeat top fixed;
}

.what-we-do h4 {
    margin: 25px 10px 15px 10px;
    font-size:22px;
}


@media (max-width: 768px)  {

    .what-we-do p {
        font-size: 15px !important;
    }

    .what-we-do .col-xs-10 {
        text-align:center;
        padding:0;
        margin-top: 20px;
    }
} 
