@import "modules/colors";


a {
    color: $blue-link;
}

.as-seen-on {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.as-seen-on.screens {
    color: $white;
}


.as-seen-on.screens p {
    font-size: 16px;
    font-weight: 400;
    color: $white;
}

.bignews-banner {
    background-color: $sciblue-bg;
    margin: 40px auto 0px;
    padding: 30px;
    border-radius: 2px;
}

.bignews-banner img {
    float: left;
    margin-right: 30px;
}

.bignews-banner p {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.bignews-banner p, .bignews-banner a {
    color: rgb(255, 255, 255) !important;
    font-size: 20px !important;
    font-weight: 100;
}

.bignews-banner a {
    font-size: 18px !important;
    text-decoration: underline;
}

 .download-press-kit {
    padding: 20px;
    margin-top: 30px;
    background-color: $grey-footer;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.download-press-kit p {
    font-size: 16px;
    width: 80%;
    color: rgb(255, 255, 255) !important;
    font-weight: 200 !important;
    margin: 10px auto;
}

.download-press-kit .btn-info{
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 2px;
}

ul.as-seen-on > li {
    padding: 10px 0px;
    margin: 0px;
    border-bottom: 1px dotted rgb(221, 221, 221);
}

ul.as-seen-on > li:last-of-type {
    border-bottom: medium none;
}

ul.screens > li {
    border-bottom:none;
}

ul.as-seen-on > li > ul {
    float: right;
}

ul.as-seen-on > li > span {
    color: rgb(153, 153, 153);
    font-weight: 400;
    font-size: 14px;
    display: block;
}

ul.as-seen-on > li > span > a {
    color: rgb(102, 102, 102);
    font-weight: 600;
}

ul.as-seen-on > li > a {
    font-weight: 400;
    font-size: 18px;
    width: 80%;
    display: inline-block;
    color: $sciblue-font;
}

 ul.as-seen-on > li > ul > li {
    display: inline-block;
    margin: 0px 5px;
}

ul.as-seen-on > li > ul > li.article a, 
ul.as-seen-on > li > ul > li.screenshot a {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: rgb(153, 153, 153);
}

ul.as-seen-on > li > ul > li span {
    display: none;
}

.presskit-images {
    margin-bottom: 30px;
}

.presskit-logos > .intro,
.presskit-images > .intro {
    padding:0px 15px 10px;
    width:75%;
}

.presskit-logos h3 {
    margin:30px 0 20px 15px;
    font-size:20px;
}

.presskit-logos > .intro,
.presskit-images > .intro {
        width:100% !important;
    }
.presskit-images > .intro p {
        font-size:14px;
    }
.presskit-images > .intro h2 {
        font-size:18px;
    }
.presskit-images > .intro h2 small,
.presskit-logos > .intro h2 small {
        display:block;
        font-size:14px;
        margin: 10px 0 0 0;
    }
.presskit-logos h3 {
        font-size:14px;
    }

.presskit-logos h3 {
    margin: 30px 0px 20px 15px;
    color: rgb(153, 153, 153);
    font-size: 20px;
}

.presskit-logos li:hover a,
.presskit-logos a,
.presskit-logos a:hover {
    color: $sciblue-font;
}

.presskit-logos ul li span, .presskit-images ul li span {
    text-align: center;
}

.presskit-logos ul, .presskit-images ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.presskit-logos ul li img {
    border-radius: 2px;
}

.presskit-logos ul li {
    margin-bottom: 30px;
}

.presskit-images ul li span {
    padding: 0px;
    width: 100%;
    overflow: inherit;
}

.presskit-logos ul li span, .presskit-images ul li span {
    margin: 0px 0px 10px;
    border-radius: 2px;
    padding: 20px 5px;
    text-align: center;
    background: transparent url("/assets/img/press/press_kit_logos_bg.png") repeat-x scroll 0% 0%;
    display: flex;
    justify-content: center;
}


 ul.alt li.dark span, .presskit-images ul.alt li.dark span {
    background-position: 0px -400px;
}

.featured p {
    padding: 0px 10px 0px 10px;
}

