---
layout: default
title: Featured on Press
description: Fox news, CNN, The Guardian, Gizmodo, NBC News, Popular Science, etc.
navbar: default
css: press
---
<div class="jumbotron">
    <div class="container text-center firstfold">
        <h1>Featured on Press</h1>
        <ul class="as-seen-on screens">
            {% for post in site.categories.press %}
            {% if post.featured %}
            <li class="featured col-md-4 col-sm-4 wow fadeInUp">
            <a class="hidden-xs" href="{{post.link}}"><img src="/assets/img/press/{{post.featured_img}}" alt="{{post.author}}" width="100%"/></a>
            <h4 class="news-heading"><a href="{{post.link}}">{{post.source}}</a></h4>
            {{post.content}}
            </li>
            {% endif %}
            {% endfor %}
        </ul>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 press-releases">
            <h2>PYBOSSA</h2>
            <p>PYBOSSA is the ultimate crowdsourcing framework to analyze or enrich data
            that can't be processed by machines alone.</p>
            <p>PYBOSSA is a free, 100% open-source framework for crowdsourcing. It was born in 2011 at a hackathon in Cape Town, South Africa, with the collaboration of the <a href="http://okfn.org">Open Knowledge Foundation</a> and the <a href="http://citizencyberscience.net">Citizen Cyberscience Centre</a>.</p>
            <p>It enables researchers, civic hackers and developers to create and run projects where volunteers help with image classification, transcription, geocoding and more. </p>
            <p>PYBOSSA is the most versatile tool. It can easily adapt to the project’s needs and be mixed, modified, customised and shared to create limitless possibilities for research and science, making it accessible to anyone. </p>
            <p>PYBOSSA runs Crowdcrafting and is developed by Scifabric.</p>
            <h2>Awards</h2>

            <div class="bignews-banner">
                <img src="/assets/img/press/prixarts.png" width="100" alt="Honorary Mention Prix Ars Electronica 2016">
                <p><em>Crowdcrafting by SciFabric</em><br>
                wins <em>Honorary Mention</em> by <strong>Prix Ars Electronica</strong></em></p>
            <p><a href="http://prix2016.aec.at/prixwinner/18190/">Read more</a></p>
        </div>


            <div class="bignews-banner">
                <img src="/assets/img/press/zincshower.png" width="100" height="90" alt="Best Start-Up of Zinc Shower 2015 by Sonar+D">
                <p><em>Crowdcrafting by SciFabric</em><br>
                wins <em>Best Start-Up of Zinc Shower 2015 award</em> by <strong>Sonar+D</strong></em></p>
            <p><a href="/blog/2015/06/19/Jamendo.html">Read more</a></p>
        </div>


        <div class="bignews-banner">
            <img src="/assets/img/press/nominet_trust_100_2014_winner.png" width="100" height="90" alt="Nominet Trust 100 2014 Winner">
            <p><em>Crowdcrafting: our PYBOSSA hosted service</em><br>
            wins a <em>2014 Nominet Trust 100 Award</em></p>
            <p><a href="http://socialtech.org.uk/nominet-trust-100/">See all Nominet Trust 100 projects</a></p>
        </div>


        <h2>Press kit</h2>

        <div class="download-press-kit">
            <p><strong>Download our media kit for all the latest news about us!</strong><br /> Our media kit is packed full of history, awards, and other exciting information.</p>
            <a id="presskit_en" class="btn btn-info wow flash" data-wow-delay="3s"
                target="_blank"
                href="../assets/downloads/scifabric_press_brochure.pdf">Download
                Press Brochure (English) <small
                    class="hidden-xs">PDF 1MB</small></a> 
            <a id="presskit_es" class="btn btn-info wow flash" data-wow-delay="3s"
                target="_blank"
                href="../assets/downloads/scifabric_press_brochure_es.pdf">Download
                Press Brochure (Spanish) <small
                    class="hidden-xs">PDF 1MB</small></a> 

            <!--<span
        class="hidden-xs"></span> <a class="btn btn-inverse wow flash"
    data-wow-delay="3s" target="_blank" href="../assets/downloads/logos.zip">Download
Logos and Badges <small class="hidden-xs">ZIP 48.6KB</small></a>-->
        </div>

        <hr />

        <h2>Press releases</h2>
        <ul class="as-seen-on">
            {% for post in site.categories.press %}
            {% if post.type == 'press' %}
            <li>
            <span>{{post.date | date_to_string}}, <a href="{{post.source_home}}">{{post.source}}</a></span>
            <a href="{{post.link}}">{{post.title}}</a>
            <ul>
                <li class="article">
                <a href="{{post.link}}">
                    <i class="fa fa-file-text-o fa-lg"></i>
                    <span>Article</span>
                </a>
                </li>
            </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <hr />

        <h2>Mentioned in</h2>
        <ul class="as-seen-on">
            {% for post in site.categories.press %}
            {% if post.type == 'mention' %}
            <li>
            <span>{{post.date | date_to_string }}, <a href="{{post.source_home}}">{{post.source}}</a></span>
            <a href="{{post.link}}">{{post.title}}</a>
            <ul>
                <li class="article">
                <a href="{% if post.otherlink %}{{post.otherlink}}{% else %}{{post.link}}{% endif %}">
                    <i class="fa fa-file-text-o fa-lg"></i>
                    <span>Article</span>
                </a>
                </li>
                <li class="screenshot">
                    <a href="/assets/img/press/{{post.screenshot}}">
                    <i class="fa fa-picture-o fa-lg"></i>
                    <span>Screenshot</span>
                </a>
                </li>
            </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
</div>

<hr />

<div class="container presskit-images">
<div class="presskit-logos">
    <div class="intro">
        <h2>Logos &amp; Badges <small><a
                    href="/assets/downloads/logos.zip">Download all logos and badges</a></small></h2>
        <p>These assets are here to help you spread the word. They
        include logos and images that help communicate our brands,
        <strong>PYBOSSA</strong> and <strong>Crowdcrafting</strong>.
        For special requests or inquiries, please contact us at <a
            href="mailto:info@scifabric.com">info@scifabric.com</a>.</p>
    </div>
    <h3>Full color versions</h3>
    <ul class="row">
        <li class="col-md-4 col-sm-4">
            <span><img src="/assets/img/press/logos/scifabric.png" alt="Scifabric Logo"></span>
            Download <a href="/assets/img/press/logos/scifabric.png">PNG</a> | <a href="/assets/img/press/logos/scifabric.svg">SVG</a>
        </li>
        <li class="col-md-4 col-sm-4">
            <span><img src="/assets/img/press/logos/pybossa.png" alt="PYBOSSA logo"></span>
            Download <a href="/assets/img/press/logos/pybossa.png">PNG</a> | <a href="/assets/img/press/logos/pybossa.svg">SVG</a>
        </li>
        <li class="col-md-4 col-sm-4">
            <span><img src="/assets/img/press/logos/crowdcrafting.png" alt="Crowdcrafting Logo"></span>
            Download <a href="/assets/img/press/logos/crowdcrafting.png">PNG</a> | <a href="/assets/img/press/logos/crowdcrafting.svg">SVG</a>
        </li>
    </ul>
    <h3>Black &amp; White versions</h3>
    <ul class="row alt">
        <li class="col-md-6 col-sm-6">
            <span><img src="/assets/img/press/logos/scifabric_black.png" alt="Scifabric black logo"></span>
            Download <a href="/assets/img/press/logos/scifabric_black.png">PNG</a> | <a href="/assets/img/press/logos/scifabric_black.svg">SVG</a>
        </li>
        <li class="col-md-6 col-sm-6 dark">
            <span><img src="/assets/img/press/logos/scifabric_white.png" alt="Scifabric white logo"></span>
            Download <a href="/assets/img/press/logos/scifabric_white.png">PNG</a> | <a href="/assets/img/press/logos/scifabric_white.svg">SVG</a>
        </li>

        <li class="col-md-6 col-sm-6">
            <span><img src="/assets/img/press/logos/pybossa_black.png" alt="PYBOSSA black logo"></span>
            Download <a href="/assets/img/press/logos/pybossa_black.png">PNG</a> | <a href="/assets/img/press/logos/pybossa_black.svg">SVG</a>
        </li>
        <li class="col-md-6 col-sm-6 dark">
            <span><img src="/assets/img/press/logos/pybossa_white.png" alt="PYBOSSA white logo"></span>
            <p>Download <a href="/assets/img/press/logos/pybossa_white.png">PNG</a> | <a href="/assets/img/press/logos/pybossa_white.svg">SVG</a></p>
        </li>



        <li class="col-md-6 col-sm-6">
            <span><img src="/assets/img/press/logos/crowdcrafting_black.png" alt="Crowdcrafting black logo"></span>
            Download <a href="/assets/img/press/logos/crowdcrafting_black.png">PNG</a> | <a href="/assets/img/press/logos/crowdcrafting_black.svg">SVG</a>
        </li>
        <li class="col-md-6 col-sm-6 dark">
            <span><img src="/assets/img/press/logos/crowdcrafting_white.png" alt="Crowdcrafting white logo"></span>
            Download <a href="/assets/img/press/logos/crowdcrafting_white.png">PNG</a> | <a href="/assets/img/press/logos/crowdcrafting_white.svg">SVG</a>
        </li>




    </ul>



</ul>
<h3>PYBOSSA Badges</h3>
<ul class="row alt">
    <li class="col-md-3 col-sm-6 col-xs-12">
        <span><img src="/assets/img/press/logos/pybossa_badge_white.png" alt=""></span>
        Download <a href="/assets/img/press/logos/pybossa_badge_white.png">PNG</a> 
    </li>
    <li class="col-md-3 col-sm-6 col-xs-12 dark">
        <span><img src="/assets/img/press/logos/pybossa_badge_black.png" alt=""></span>
        Download <a href="/assets/img/press/logos/pybossa_badge_black.png">PNG</a>
    </li>

    <li class="col-md-3 col-sm-6 col-xs-12">
        <span><img src="/assets/img/press/logos/pybossa_badge_black_transparent.png" alt=""></span>
        Download <a href="/assets/img/press/logos/pybossa_badge_black_transparent.png">PNG</a> 
    </li>
    <li class="col-md-3 col-sm-6 col-xs-12 dark">
        <span><img src="/assets/img/press/logos/pybossa_badge_white_transparent.png" alt=""></span>
        Download <a href="/assets/img/press/logos/pybossa_badge_white_transparent.png">PNG</a>
    </li>

</ul>
    </div>
</div>
