<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{page.title}}</title>
        <meta name="description" content="Cities at Night is a research project that aims to monitor light emitted by major cities around the world and to raise awareness of light pollution.">
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link href="{{site.cdn}}/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="/css/default.css?x={{site.time | date: '%s'}}" rel="stylesheet">
        <link href="/css/{{page.css}}.css?x={{site.time | date: '%s'}}" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="57x57" href="{{site.cdn}}/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{site.cdn}}/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{site.cdn}}/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{site.cdn}}/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{site.cdn}}/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{site.cdn}}/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{site.cdn}}/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{site.cdn}}/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.cdn}}/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{site.cdn}}/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{site.cdn}}/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{site.cdn}}/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.cdn}}/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{site.cdn}}/images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#1879a0ff">
        <meta name="msapplication-TileImage" content="{{site.cdn}}/images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#1879a0ff">


        <script src="{{site.cdn}}/js/modernizr.custom.js" type="text/javascript" charset="utf-8"></script>


        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@Scifabric"/>
        <meta name="twitter:title" content="The story of a man fighting light pollution from space."/>
        <meta name="twitter:description" content="Cities at Night is a research that aims to raise awareness of light pollution and provide tools for monitoring it." />
        <meta name="twitter:image" content="https://{{site.cdn}}/images/citiesatnight-twittercard.png?x={{site.time | date: '%s'}}" />
        <!-- Open Graph -->
        <meta property="og:title" content="The story of a man fighting light pollution from space." />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://scifabric.com/citiesatnight/" />
        <meta property="og:description" content="Cities at Night is a research that aims to raise awareness of light pollution and provide tools for monitoring it." />
        <meta property="og:image" content="https://{{site.cdn}}/images/citiesatnight-facebookcard.png?x={{site.time | date: '%s'}}" />
        <meta property="og:tag" content="crowdsourcing, research, citizenscience" />
        <meta property="fb:page_id" content="907611755994273"/>
        {% include hotjar.html %}
    </head>
    <body data-spy="scroll" data-target="#navbar" class="case-study">
        {% include gtm.html %}

        {% include loading.html %}
        <nav class="navbar-wrapper">
            <div class="container">
                <div class="navbar navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">
                                <img id="scifabricLogo" alt="logo Scifabric" src="{{site.cdn}}/images/nav-logo.svg">
                            </a>
                            <p id="btn-mute-mbl"><a href="#" class="btn btn-header no-desktop"><i id="mute-mbl" class="fa fa-volume-up"></i></a></p>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                    <li id="btn-mute"><a href="#" class="btn btn-header"><i id="mute" class="fa fa-volume-up"></i></a></li>
                                    <li>
                                        <p class="p-header">Share:</p>
                                    </li>

                                    <li>
                                        <a target="_blank" href="https://twitter.com/intent/tweet?text=One%20man%27s%20fight%20against%20light%20pollution%20from%20space.&url=http://bit.ly/1H4s66g&via=scifabric&hashtags=crowdsourcing, citizenscience, conservation" class="nav-share">
                                            <i class="fa fa-lg fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://bit.ly/1H4s66g" class="nav-share">
                                            <i class="fa fa-lg fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http://bit.ly/1H4s66g&title=The%20story%20of%20one%20man%27s%20fight%20against%20light%20pollution%20from%20space.&summary=Cities%20at%20Night%20is%20a%20research%20that%20aims%20to%20raise%20awareness%20of%20light%20pollution%20and%20provide%20tools%20for%20monitoring%20it.&source=SciFabric" class="nav-share">
                                            <i class="fa fa-lg fa-linkedin"></i>
                                        </a>
                                    </li>
                                    
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>

        <section class="site">
           
            {{ content }}
            
        </section>

        <footer>
            
            <div class="container text-center contact" id="contact">
                <div class="col-md-8 col-md-offset-2 down50">
                    <h5 id="mission">Mission accomplished</h5>
                    <h3>Contributions have helped Alejandro complete his doctoral thesis, for which he has been awarded a ‘CUM LAUDE’ or distinction.</h3>
                </div>
                <div class="col-md-8  col-md-offset-2 top100">
                    <h5>The eagle has landed</h5>
                    <h3>Do you have data to analyse and think the crowd can help?<br/> We’d love to hear about your project!</h3>
                    <p>Write to <a class="color-one"  href="mailto:daniel@scifabric.com">daniel@scifabric.com</a> or <a class="color-one" href="info@scifabric.com">info@scifabric.com</a></p>
                </div>
                <div class="ssnn-counters col-md-8 col-md-offset-2 top100">
                        <p class="story">This story has been shared</p>
                    <div class="col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1">
                        <a target="_blank" href="https://twitter.com/intent/tweet?text=One%20man%27s%20fight%20against%20light%20pollution%20from%20space.&url=http://bit.ly/1H4s66g&via=scifabric&hashtags=crowdsourcing, citizenscience, conservation"><p id="twitterCount"><i class="fa fa-twitter-square"></i>Twitter </p></a>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://bit.ly/1H4s66g"><p id="facebookCount"><i class="fa fa-facebook-square"></i>Facebook  </p></a>
                    </div>

                    <div class="col-sm-3 col-md-3">
                        <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http://bit.ly/1H4s66g&title=The%20story%20of%20one%20man%27s%20fight%20against%20light%20pollution%20from%20space.&source=SciFabric"><p id="linkedinCount"><i class="fa fa-linkedin-square"></i>LinkedIn  </p></a>
                    </div>
                </div>

           </div>

           {% include footer.html %}

        
           <div class="col-md-12">
            <p class="text-center credits-handler">This has been possible thanks to <a id="credits-handler" href="#">open licensed content.</a></p>
                    <div class="row text-center credits">
                        <div class="col-md-6">
                            <h6>Images</h6>
                            <p><a target="_blank" href="https://www.flickr.com/photos/nasacommons/9449352803/">NASA on The Commons (No &copy; restrictions)</a></p>
                            <p><a target="_blank" href="https://www.flickr.com/photos/gsfc/8247962102/">NASA Goddard Space Flight (CC-BY)</a></p>
                            <p><a target="_blank" href="https://www.flickr.com/photos/shanelin/4344198946">Shane Lin (CC-BY)</a></p>
                            <p><a target="_blank" href="https://www.flickr.com/photos/tom_hall_nz/17317951241/">Tom Hall (CC-BY)</a></p>
        
                        </div>
                        <div class="col-md-6">
                            <h6>Audio</h6>
                            <p><a target="_blank" href="https://archive.org/details/Apollo11AudioHighlights">NASA (Public Domain Mark 1.0)</a></p>
        
                        </div>
                    </div>
                </div>


        
        
        </footer>
        {% include defaultjs.html %}

        <script src="{{site.cdn}}/js/case-studies/cities-at-night/waiting.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{site.cdn}}/js/case-studies/cities-at-night/modernizr.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{site.cdn}}/js/case-studies/cities-at-night/theater.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{site.cdn}}/js/case-studies/cities-at-night/jquery.waypoints.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{site.cdn}}/js/case-studies/cities-at-night/webaudiox.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{site.cdn}}/js/case-studies/cities-at-night/transcript.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{site.cdn}}/js/case-studies/cities-at-night/sound.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{site.cdn}}/js/case-studies/cities-at-night/footer.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{site.cdn}}/js/ssnncounters.js" type="text/javascript" charset="utf-8"></script>



        </body>
    </html>
