 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SciFabric - Tailor-made solutions for your citizen science and research projects</title>
        <meta name="description" content="SciFabric - Tailor-made solutions for your citizen science and research projects">
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="/css/main.css" rel="stylesheet">

        <script src="/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/modernizr.custom.js" type="text/javascript" charset="utf-8"></script>
        
		<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>


        {% include ga.html %}
		
	</head>
        <body data-spy="scroll" data-target="#navbar">
		<section class="site">

			{{ content }}

		</section>
		
        <footer>
            <div class="container social-media">
                <div class="col-xs-12 col-sm-9 ">
                    <img class="logo_horiz hires" src="/images/Logo_Scifabric_2.png">

                <p>Powering up <a href="http://pybossa.com/">PyBossa</a> and <a href="http://crowdcrafting.org/">Crowdcrafting</a> since 2011</p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p class="text-right social-media">
                    <a href="https://www.facebook.com/crowdcrafting"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://twitter.com/scifabric"><i class="fa fa-twitter"></i></a>
                    <a href="https://github.com/PyBossa/crowdcrafting.org"><i class="fa fa-github"></i></a>
                <p>

                    </div>
                </footer>

        
        <script src="../../assets/js/docs.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
