<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{page.title}} - SciFabric</title>
        <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{page.title}}{% endif %}">
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="/css/default.css" rel="stylesheet">
        <link href="/css/{{page.css}}.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="http://localhost:4000/images/favicon.png">


        <!-- Twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@scifabric" />
        <meta name="twitter:title" content="{{page.title}}" />
        <meta name="twitter:description" content="{{page.title}}" />
        <meta name="twitter:image" content="http://scifabric.com/images/bg.jpg" />
        <meta property="fb:page_id" content="907611755994273"/>

        <script src="/js/modernizr.custom.js" type="text/javascript" charset="utf-8"></script>

    </head>
    <body data-spy="scroll" data-target="#navbar">
        {% include gtm.html %}
        {% include loading.html %}
        <nav class="navbar-wrapper">
            <div class="container">
                <div class="navbar navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/#what-is-scifabric">
                                <img id="scifabricLogo" alt="logo Scifabric" src="/images/nav-logo.svg">
                            </a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {% if page.navbar == "default" %}
                                <li><a href="/#what-is-scifabric">What is SciFabric</a></li>
                                <li><a href="/#what-we-do">What we do</a></li>
                                <li><a href="/#how-we-do-it">How we do it</a></li>
                                <li id="dropdown" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">What we offer <span class="caret"></span></a>
                                <ul class="dropdown-menu arrow">
                                    <li><a href="/#what-we-offer">Services</a></li>
                                    <li><a href="/#education">Education</a></li>
                                </ul>
                                </li>
                                {% endif %}
                                <li id="btn-nav"><a href="/#contact" class="btn btn-header">Say hi!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>

        <section class="site">

            {{ content }}

        </section>

    <footer>
        <div class="container">
            
            <div class="row">
                <div class="col-md-12"> 
                    <img alt="SciFabric Logo" class="logo_horiz" src="/images/nav-logo.svg">
                    <p>Developing <a href="http://pybossa.com/">PyBossa</a> and hosting <a href="http://crowdcrafting.org/">Crowdcrafting</a> since 2011</p>
    
                </div>
            </div>
            <div class="row column">
                
                <div class="col-sm-4 col-md-offset-1 col-md-3">
             
                    <p><strong>Products</strong></p>
                    <p><a href="http://pybossa.com">Pybossa</a></p>
                    <p><a href="http://crowdcrafting.org">Crowdcrafting</a></p>

                </div>
                
                <div class="col-sm-4 col-md-4">
                    
                    <svg class="visible-xs"><line x1="0" y1="0" x2="35" y2="0"/></svg>
                    
                    <p><strong>Services</strong></p>
                    <p><a href="/crowdsourcing/training/">PyBossa training</a></p>
                    <p><a href="/crowdsourcing/pybossa-cloud-servers/">Pybossa cloud servers</a></p>
                    <p><a href="/crowdsourcing/pybossa-cloud-servers/#support">Pybossa support</a></p>
                    
                </div>
                
                <div class="col-sm-4 col-md-3">
                    
                    <svg class="visible-xs"><line x1="0" y1="0" x2="35" y2="0"/></svg> 
                    
                    <p><strong>Social</strong></p>
                    <p><a href="/blog">Blog</a></p>
                    <p><a href="http://twitter.com/PyBossa/">Twitter</a></p>
                    <p><a href="https://www.facebook.com/scifabric/">Facebook</a></p>

                </div>

            </div>
            
            <div class="col-md-12">
                <a href="https://shuttleworthfoundation.org">
                <img class="logo_sf" src="/images/logo_sf.svg" width="279"></a>
            </div>

        </div>
         <!--<p class="credits-handler">This has been possible thanks to <a id="credits-handler" href="#">open licensed content.</a></p>
                    <div class="row credits">
                        <div class="col-md-6">
                            <h6>Images</h6>
                            <p><a target="_blank" href="https://www.flickr.com/photos/nasacommons/9449352803/">NASA on The Commons (No &copy; restrictions)</a></p>
                            <p><a target="_blank" href="https://www.flickr.com/photos/gsfc/8247962102/">NASA Goddard Space Flight (CC-BY)</a></p>
                            <p><a target="_blank" href="https://www.flickr.com/photos/shanelin/4344198946">Shane Lin (CC-BY)</a></p>
                            <p><a target="_blank" href="https://www.flickr.com/photos/tom_hall_nz/17317951241/">Tom Hall (CC-BY)</a></p>
        
                        </div>
                        <div class="col-md-6">
                            <h6>Audio</h6>
                            <p><a target="_blank" href="https://archive.org/details/Apollo11AudioHighlights">NASA (Public Domain Mark 1.0)</a></p>
        
                        </div>
                    </div>-->
    </footer>
        {% include defaultjs.html %}
    </body>
</html>
