---
layout: default
body_class: blog
active: blog
css: blog
navbar: default
---
<div class="jumbotron jumbotron-blog" style='background: #333 url("{{page.photo}}") no-repeat fixed center top / cover;'>
</div>

<section class="blogpost">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if page.type != 'press' %}
                <p class="post-back"><a href="/blog/">Back to entries</a></p>
                {% else %}
                <p class="post-back"><a href="/press/">Back to press</a></p>
                {% endif %}

                <h1>{{page.title}}</h1>
                <h2>{{page.description}}</h2>
                <p class="post-details">{{ page.date | date: "%-d %B %Y" }}</p>
                {% for member in site.data.crew %}
                {% if member.author == page.author %}
        <!-- modulo {{loopindex}} -->
                <p class="post-details">Post by <a href="/team/#{{member.author}}">{{member.name}} {{member.surname}}</a></p>
                {% endif %}
                {% endfor %}
                <p class="post-details">Cover photo by <a href="{{page.photo_url}}">{{page.photo_author}}</a></p>
            </div>
            <div class="top30 col-md-8 col-md-offset-2">
                {{content}}
            </div>
            <div class="col-md-8 col-md-offset-2">
                {% if page.type != 'press' %}
                <p class="lead dark"><strong>Share this blog post:</strong>
                {% else %}
                <p class="lead dark"><strong>Share this press release:</strong>
                {% endif %}
                <a
                    href='javascript:window.open("https://twitter.com/intent/tweet?text={{page.description|escape}}&url=http://scifabric.com{{page.url}}&via=Scifabric","_blank","width=500,height=450");void(0);' class="twitter">
                    <i class="fa fa-twitter-square"></i></a>

                <a href="javascript:window.open('http://www.facebook.com/sharer/sharer.php?u=http://scifabric.com{{ page.url }}', '_blank', 'width=500,height=450');void(0);" class="facebook">
                    <i class="fa fa-facebook-square"></i></a>

                <a href="javascript:window.open('https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fscifabric.com{{ page.url }}', '_blank', 'width=500,height=450');void(0);" class="linkedin">
                    <i class="fa fa-linkedin-square"></i></a>

                </p>
            </div>
        </div>
    </div>
<div class="container blog-entries first-container">
        {% for post in site.categories.blog %}
        {% if post.date == page.date %}
            {% if forloop.index0 == 0 %}
                {% assign prev_post = 1 %}
                {% assign next_post = 2 %}
            {% else %}
                {% assign prev_post = forloop.index0 | minus: 1 %}
                {% assign next_post = forloop.index0 | plus: 1  %}
            {% endif %}
            {% break %}
        {% endif %}
        {% endfor %}
        <div class="row">
            {% if site.categories.blog[prev_post].title %}
            <div class="col-md-offset-2 col-md-4">
                <div class="thumbnail card">
                    <div style="height: 222.5px; background: #333 url({{site.categories.blog[prev_post].photo}}) no-repeat center top/ cover;"></div>
                    <div class="caption">
                        <h3>{{site.categories.blog[prev_post].title}}</h3>
                        <p>{{site.categories.blog[prev_post].content | strip_html | truncate: 100 }}.</p>
                    </div>
                    <div class="readmore">
                        <p><a href="{{site.prefix}}{{site.categories.blog[prev_post].url}}">Read More</a></p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if site.categories.blog[next_post].title %}
            <div class="col-md-4">
                <div class="thumbnail card">
                    <div style="height: 222.5px; background: #333 url({{site.categories.blog[next_post].photo}}) no-repeat center top/ cover;"></div>
                    <div class="caption">
                        <h3>{{site.categories.blog[next_post].title}}</h3>
                        <p>{{site.categories.blog[next_post].content | strip_html | truncate: 100 }}.</p>
                    </div>
                    <div class="readmore">
                        <p><a href="{{site.prefix}}{{site.categories.blog[next_post].url}}">Read More</a></p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>


</div>


    {% include authorbanner.html %}
</section>
