.client {
    background-color: $white;
    padding-left: 15px;
    padding-top: 10px;
    box-shadow:  0 2px 3px 0px rgba(0, 0, 0, 0.16);
    min-height: 540px;
}

@media(max-width:980px){
    .client {
        margin-top: 15px;
        min-height: 1px;
    }
}
